@import "../../styles/common.css";

.ChannelHeader {
	display: flex;
	align-items: center;

	height: var(--ChannelHeader-height);
	padding-left: var(--ChannelHeader-paddingLeft);
}

.ChannelHeader-toolbarSizePlaceholder {
	visibility: hidden;

	@mixin xxs {
		display: none;
	}
}

.ChannelHeader-heading {
	flex: 1;

	font-weight: var(--ChannelHeader-fontWeight);
	font-size: var(--ChannelHeader-fontSize);
	text-align: var(--ChannelHeader-textAlign);

	margin: 0;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ChannelHeader-heading--alignContentCenter {
	text-align: center;
}