.ChannelThreadsSidebarStickyHeader {
	--ChannelHeader-height: var(--ChannelThreadHeader-height);
	--ChannelHeader-fontSize: var(--ChannelThreadHeader-fontSize);
	--ChannelHeader-fontWeight: var(--ChannelThreadHeader-fontWeight);
	--ChannelHeader-textAlign: left;

	--ChannelHeaderSearch-width: calc(var(--unit) * 9);
}