.DataSourcesSidebarSection-dataSource {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: var(--Sidebar-paddingLeft);
	padding-right: var(--Sidebar-paddingLeft);

	color: var(--SidebarLink-color);

	border-top: var(--SidebarLink-borderWidth) solid var(--SidebarLink-borderColor);
	border-bottom: var(--SidebarLink-borderWidth) solid var(--SidebarLink-borderColor);

	&:hover {
		color: var(--SidebarLink-color--hover);
		background-color: var(--SidebarLink-backgroundColor--hover);
		border-top-color: var(--SidebarLink-borderColor--hover);
		border-bottom-color: var(--SidebarLink-borderColor--hover);
	}

	&:active {
		color: var(--SidebarLink-color--active);
		background-color: var(--SidebarLink-backgroundColor--active);
		border-top-color: var(--SidebarLink-borderColor--active);
		border-bottom-color: var(--SidebarLink-borderColor--active);
	}
}

.DataSourcesSidebarSection-dataSource--selected {
	color: var(--SidebarLink-color--selected);
	background-color: var(--SidebarLink-backgroundColor--selected);
	border-top-color: var(--SidebarLink-borderColor--selected);
	border-bottom-color: var(--SidebarLink-borderColor--selected);

	&:hover {
		border-top-color: var(--SidebarLink-borderColor--selectedActive);
		border-bottom-color: var(--SidebarLink-borderColor--selectedActive);
	}

	&:active {
		border-top-color: var(--SidebarLink-borderColor--selectedActive);
		border-bottom-color: var(--SidebarLink-borderColor--selectedActive);
	}
}

.DataSourcesSidebarSection-dataSourceIcon {
	width: 1em;
	height: 1em;

	margin-right: 0.35em;

	color: var(--Sidebar-color-900);
}