.SourcesSidebarSection-source {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: var(--Sidebar-paddingLeft);
	padding-right: var(--Sidebar-paddingLeft);
}

.SourcesSidebarSection-sourceLogo {
	width: 1em;
	height: 1em;

	margin-right: 0.35em;

	color: var(--Sidebar-color-900);
}