@import "../../../webapp-frontend/src/styles/base.css";

body {
	color: var(--Content-color-900);
	background-color: var(--Content-backgroundColor);
}

/* Set `<body/>` background color
   in order to show correct color when scrolling
   past top/bottom of the page on touch devices. */
.body--content-sections {
	color: var(--Document-color);
	background-color: var(--Document-backgroundColor);
}

h1, h2, h3 {
  font-weight: 500;
}