@import "../../../webapp-frontend/src/styles/constants.css";
@import "../../../webapp-frontend/src/styles/grid.mixins.css";

/* `body` CSS selector overrides `:root` from `webapp-frontend`. */
/* Such override is a hack and `:root` should have been used instead. */
/* The reason is that `webapp-frontend` components like `Error.js`
   import their stylesheets like `Error.css` which import `constants.css`
   from `webapp-frontend` and so `webapp-frontend` constants override these ones
   dynamically at runtime. Perhaps in production build that would be different. */
/* :root */
body
{
	--white-color        : #ffffff;
	--black-color        : #49515C;
	--black-color-lighter : #4f5760;
	--black-color-darker  : #404852;

	--gray-color-lightest : #F0F2F5;
	--gray-color-light    : #DCDEE3;
	--gray-color-lighter  : #B3B7BA;
	--gray-color          : #A6AAAD;
	--gray-color-darker   : #999CA1;
	--gray-color-dark     : #888C91;
	--gray-color-darkest  : #5b636d;

	--base-color-light   : #FFA061;
	--base-color-lighter : #FF8732;
	--base-color         : #FF6A00;
	--base-color-darker  : #DD5C00;
	--base-color-dark    : #DE7129;
	--base-color-darkest : #be4800;

	/* Base color transparency: rgba(0, 179, 255, 0.7); */

	--accent-color-light : #00B3FF;
	--accent-color       : #00A6ED;
	--accent-color-dark  : #0084BD;

	--error-color-dark : #BD0016;
	--error-color      : #E6001B;

	--background-color : #eaeaea;
	--content-section-divider-color : #e3e4e8;
	--content-section-shadow : 0 1px 0 0 #d7d8db, 0 0 0 1px var(--content-section-divider-color);

	--header-height: 0;

	--sidebar-z-index : 1;
	--header-z-index : 2;
	--slideshow-z-index : 3;
	--notifications-z-index : 4;

	--button-on-background-background-color : rgba(0, 0, 0, 0.6);
	--button-on-background-color : var(--white-color);
	--primary-button-on-background-background-color : rgba(0, 166, 237, 0.8);

	--font-family : Roboto, sans-serif;
	--font-family-text : sans-serif;
}