@import "../../../webapp-frontend/src/styles/constants.css";
@import "../../../webapp-frontend/src/styles/grid.mixins.css";

/* `body` CSS selector overrides `:root` from `webapp-frontend`. */
/* Such override is a hack and `:root` should have been used instead. */
/* The reason is that `webapp-frontend` components like `Error.js`
   import their stylesheets like `Error.css` which import `constants.css`
   from `webapp-frontend` and so `webapp-frontend` constants override these ones
   dynamically at runtime. Perhaps in production build that would be different. */
/* :root */
body
{
	--white-color        : #ffffff;
	--black-color        : #49515C;

	--gray-color-lightest : #F0F2F5;
	--gray-color-light    : #DCDEE3;
	--gray-color-lighter  : #B3B7BA;
	--gray-color          : #A6AAAD;
	--gray-color-darker   : #999CA1;
	--gray-color-dark     : #888C91;
	--gray-color-darkest  : #797D82;

	--base-color-light : #00B3FF;
	--base-color       : #00A6ED;
	--base-color-dark  : #0084BD;

	/* Base color transparency: rgba(0, 179, 255, 0.7); */

	--accent-color-dark  : #C70049;
	--accent-color       : #FC005D;
	--accent-color-light : #FF4086;

	--error-color-dark : #BD0016;
	--error-color      : #E6001B;

	--background-color : #eaeaea;
	--content-section-divider-color : #e3e4e8;
	--content-section-shadow : 0 1px 0 0 #d7d8db, 0 0 0 1px var(--content-section-divider-color);

	--unit : 14px;
	--column-padding : calc(var(--unit) / 2);

	/* Some magic number seen on the Internet. */
	--line-height : 1.52947;

	--header-height : calc(var(--unit) * 3);

	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--font-size-xs : 16px;
	--font-size-xs-plus : 18px;
	--font-size-m  : 19px;
	--font-size-xl : 20px;

	--preloading-screen-z-index : 10;
	--slideshow-z-index : 1;

	--border-radius : 0.2rem;
	--shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	--button-on-background-background-color : rgba(0, 0, 0, 0.6);
	--button-on-background-color : var(--white-color);
	--primary-button-on-background-background-color : rgba(0, 166, 237, 0.8);

	--footer-menu-height : calc(var(--unit) * 3);

	@mixin xs
	{
		--header-height : 0;
	}

	@mixin ms
	{
		--header-height : 0;
	}
}