@import "../../../webapp-frontend/src/styles/constants.css";
@import "../../../webapp-frontend/src/styles/grid.mixins.css";

:root {
	--header-height: 0;
	--sidebar-z-index: 1;
	--header-z-index: 2;
	--slideshow-z-index: 3;
	--notifications-z-index: 4;
}