.font-size--small {
	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--Document-fontSize--xxs: 16px;
	--Document-fontSize--xs: 16px;
	--Document-fontSize--s: 17px;
	--Document-fontSize--m: 18px;
}

.font-size--medium {
	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--Document-fontSize--xxs: 16px;
	--Document-fontSize--xs: 18px;
	--Document-fontSize--s: 19px;
	--Document-fontSize--m: 20px;
}

.font-size--large {
	--Document-fontSize--xxs: 18px;
	--Document-fontSize--xs: 20px;
	--Document-fontSize--s: 21px;
	--Document-fontSize--m: 22px;
}