/* https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html */

/* "Extra Extra Small Font Size" setting. */
.font-size--xxs {
	/* Font sizes depending on screen width. */
	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--Document-fontSize--xxs: 16px;
	--Document-fontSize--xs: 16px;
	--Document-fontSize--s: 16px;
	--Document-fontSize--m: 16px;
}

/* "Extra Small Font Size" setting. */
.font-size--xs {
	/* Font sizes depending on screen width. */
	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--Document-fontSize--xxs: 17px;
	--Document-fontSize--xs: 17px;
	--Document-fontSize--s: 17px;
	--Document-fontSize--m: 17px;
}

/* "Small Font Size" setting. */
.font-size--s {
	/* Font sizes depending on screen width. */
	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--Document-fontSize--xxs: 17px;
	--Document-fontSize--xs: 17px;
	--Document-fontSize--s: 18px;
	--Document-fontSize--m: 18px;
}

/* "Medium Font Size" setting. */
.font-size--m {
	/* Font sizes depending on screen width. */
	--Document-fontSize--xxs: 18px;
	--Document-fontSize--xs: 18px;
	--Document-fontSize--s: 19px;
	--Document-fontSize--m: 19px;
}

/* "Large Font Size" setting. */
.font-size--l {
	/* Font sizes depending on screen width. */
	--Document-fontSize--xxs: 19px;
	--Document-fontSize--xs: 19px;
	--Document-fontSize--s: 20px;
	--Document-fontSize--m: 20px;
}

/* "Extra Large Font Size" setting. */
.font-size--xl {
	/* Font sizes depending on screen width. */
	--Document-fontSize--xxs: 20px;
	--Document-fontSize--xs: 20px;
	--Document-fontSize--s: 22px;
	--Document-fontSize--m: 22px;
}

/* "Extra Extra Large Font Size" setting. */
.font-size--xxl {
	/* Font sizes depending on screen width. */
	--Document-fontSize--xxs: 21px;
	--Document-fontSize--xs: 21px;
	--Document-fontSize--s: 23px;
	--Document-fontSize--m: 24px;
}