:root {
	/* Post */
	--Post-transition: none;
	--Post-transition--onClick: background-color 60ms;

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-transition: none;
	--PostInlineSpoiler-transition--onClick: var(--Post-transition--onClick);
}

.Post {
	transition: var(--Post-transition);
}

.PostInlineSpoiler {
	transition: var(--PostInlineSpoiler-transition);
}

.Clickable {
	--Post-transition: var(--Post-transition--onClick);
	--PostInlineSpoiler-transition: var(--PostInlineSpoiler-transition--onClick);
}

.ChannelPage-threads,
.ChannelPinnedThreads {
	.Clickable--active {
		--Post-backgroundColor: var(--Content-backgroundColor--active);
		--PostInlineSpoiler-color: var(--PostInlineSpoiler-color--contentActive);
		--PostInlineSpoiler-color--censored: var(--PostInlineSpoiler-color--censoredContentActive);
	}
}