@import "frontend-lib/styles/react-responsive-ui.css";

:root {
	--rrui-modal-border-radius: 0px;
	@mixin upto-s {
		--rrui-expandable-menu-item-side-padding: calc(var(--rrui-unit) * 1);
		--rrui-list-item-height: calc(var(--rrui-unit) * 2.5);
	}
}

.rrui__snackbar__container {
	z-index: var(--Notification-zIndex);
}

.rrui__modal__title {
	line-height: var(--ModalTitle-lineHeight);
	font-size: var(--ModalTitle-fontSize);
	font-weight: var(--ModalTitle-fontWeight);
	text-align: center;
	/*
	@mixin l-plus {
		line-height: var(--Heading-lineHeight--xl);
		font-size: var(--Heading-fontSize--xl);
	}
	*/
}

.rrui__modal__title + .rrui__modal__content {
	margin-top: var(--rrui-modal-padding--vertical);
}

.rrui__modal__vertical-margin--top,
.rrui__modal__vertical-margin--bottom {
	flex-basis: 1rem;
}

.rrui__select {
  .rrui__shadow {
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.15), 0 0.15rem 1.5rem 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--Content-color-200);
	}
	@mixin upto-s {
		--rrui-list-item-side-padding: calc(var(--unit) * 1);
		--rrui-options-list-negative-side-margin: calc(var(--unit) * 0.5);
		--rrui-list-item-height: calc(var(--unit) * 3.5);
	}
}
