/* Global. */
:root {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (orange). */
	--base-color-100: #FFF4EC;
	--base-color-200: #FFD0AF;
	--base-color-300: #FFA061;
	--base-color-400: #ff7f24;
	--base-color-500: #f76700;
	--base-color-600: #d65800;
	--base-color-700: #b84600;
	--base-color-800: #8f3c00;
	--base-color-900: #6D2D00;

	/* Header. */
	--Header-backgroundColor--title: var(--Header-backgroundColor);
	--Header-backgroundColor--menu: var(--Header-backgroundColor);

	/* NotificationBadge. */
	--NotificationBadge-color: var(--white-color);
	--NotificationBadge-backgroundColor: red;

	/* Announcement. */
	--Announcement-borderWidth: var(--Header-borderWidth);
	--Announcement-borderColor: var(--Header-borderColor);

	/* HeaderSeparator. */
	--HeaderSeparator-opacity--left: 0;
	--HeaderSeparator-opacity--right: 0;

	/* Sidebar. */
	--Sidebar-color-500: var(--Content-color-500);
	--Sidebar-color-600: var(--Content-color-600);
	--Sidebar-color-900: var(--Content-color-900);
	--Sidebar-backgroundColor: var(--Content-backgroundColor);
	--Sidebar-borderColor: var(--Header-borderColor);
	--Sidebar-color--accent: var(--PostQuote-color);

	/* Boards. */
	--Boards-margin--slash: 0.1em;
	--Boards-fontFamily--url: monospace;
	--Boards-fontWeight--url: normal;
	--Boards-fontWeight: normal;
	--Boards-color: var(--Sidebar-color-900);
	--Boards-color--active: var(--Sidebar-baseColor-700);
	--Boards-color--slash: var(--Sidebar-color-200);
	--Boards-color--viewSwitcher: var(--Sidebar-color-600);
	--Boards-backgroundColor--hover: var(--Sidebar-highlightColor-100);
	--Boards-backgroundColor--active: var(--Sidebar-highlightColor-200);
	--Boards-backgroundColor--selected: var(--Boards-backgroundColor--hover);

	/* ThreadActions. */
	--ThreadActions-color: var(--Content-color-600);
	--ThreadActions-color--active: var(--gray-color-650);
	--ThreadActions-color--selected: var(--Content-color-700);

	/* CommentSeparator. */
	--CommentSeparator-width: 1px;

	/* PostAuthor. */
	--PostAuthor-color: var(--Content-color-600);

	/* PostAuthorName. */
	--PostAuthorName-color--id: var(--Content-color-800);

	/* PostBannedIcon. */
	--PostBannedIcon-color: var(--Critical-color);
}

/* Light mode. */
.light {
	/* Sidebar. */
	--Sidebar-color-200: var(--Content-color-200);
	--Sidebar-highlightColor-100: #f9f7f5;
	--Sidebar-highlightColor-200: var(--base-color-100);
	--Sidebar-baseColor-200: #eec8ad;
	--Sidebar-baseColor-700: var(--Clickable-color--text);

	/* Announcement. */
	--Announcement-color: var(--Content-color-900);
	--Announcement-backgroundColor: var(--base-color-200);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(0,0,0,0.17);
	--HeaderSeparator-color--right: transparent;

	/* Boards. */
	--Boards-color--slashHover: var(--Boards-color--slashSelected);
	--Boards-color--slashActive: #e9ccb8;
	--Boards-color--slashSelected: #ead5c0;

	/* Notification. */
	--Notification-color: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor--active: hsl(36, 70%, 96%);

	/* Post. */
	--Post-color--secondaryThread: var(--Content-color-400);

	/* PostAuthor. */
	--PostAuthor-color--administrator: #BC0045; /* var(--alt-accent-color-700); */
	--PostAuthor-color--moderator: #0084BD; /* var(--accent-color-700); */

	/* PostAuthorName. */
	--PostAuthorName-color: var(--base-color-700);

	/* PostInlineSpoiler. */
	/* Adds a warmer color to it. */
	--PostInlineSpoiler-color: #F0EFEB;
	--PostInlineSpoiler-color--contentActive: hsl(36, 30%, 92%);

	/* PostSubheading. */
	--PostSubheading-color: #af0000;

	/* PostQuote. */
	/* `8ch.net` and chans running on `lynxchan` engine (such as `kohlchan.net`)
	    have regular quotes and "inverse" quotes. */
	--PostQuote-color--inverse: #cc0000;
	/*--PostQuote-color--inverse2: #E04000;*/

	/* CommentSeparator. */
	--CommentSeparator-color: rgba(0,0,0,0.1);
}

/* Dark Mode. */
.dark {
	/* Slightly muted link/button colors in "Dark Mode". */
	--base-color-300: #dc9363;
	--base-color-400: #d96d1f;
	--base-color-500: #e75f00;

	/* Sidebar. */
	--Sidebar-color-200: var(--Content-color-300);
	--Sidebar-highlightColor-100: #303030;
	--Sidebar-highlightColor-200: #2c2c2c;
	--Sidebar-baseColor-200: #6c4d38;
	--Sidebar-baseColor-700: var(--base-color-300);

	/* Announcement. */
	--Announcement-color: var(--Content-color-900);
	--Announcement-backgroundColor: var(--Content-color-200);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(255,255,255,0.2);

	/* Boards. */
	--Boards-color--slashHover: var(--Boards-color--slashSelected);
	--Boards-color--slashActive: var(--Boards-color--slash);
	--Boards-color--slashSelected: var(--Boards-color--slash);

	/* Notification. */
	--Notification-color: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor--active: #333331;

	/* Post. */
	--Post-color--secondaryThread: var(--Content-color-500);

	/* PostAuthor. */
	--PostAuthor-color--administrator: #c44876;
	--PostAuthor-color--moderator: #57add1;

	/* PostAuthorName. */
	--PostAuthorName-color: var(--base-color-300);

	/* PostQuote. */
	--PostQuote-backgroundColor--hover: rgba(255,255,255,0.02);
	--PostQuote-borderColor--hover: rgba(255,255,255,0.05);
	/* `8ch.net` and chans running on `lynxchan` engine (such as `kohlchan.net`)
	    have regular quotes and "inverse" quotes. */
	--PostQuote-color--inverse: #dc5e5e;

	/* PostSubheading. */
	--PostSubheading-color: #cf5858;

	/* CommentSeparator. */
	--CommentSeparator-color: rgba(255,255,255,0.1);
}