@import "../../../webapp-frontend/src/styles/grid.mixins.css";

/* Global. */
:root {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (orange). */
	--base-color-100: #FFF4EC;
	--base-color-200: #FFD0AF;
	--base-color-300: #FFA061;
	--base-color-400: #ff7f24;
	--base-color-500: #ee6602;
	--base-color-600: #d65800;
	--base-color-700: #b84600;
	--base-color-800: #8f3c00;
	--base-color-900: #6D2D00;

	/* LinearProgress. */
	--LinearProgress-backgroundColor: transparent;
	--LinearProgress-height: 3px;
	/*--LinearProgress-animationDuration: 3s;*/
	/*--LinearProgress-animationInterval: 1.7s;*/
	@mixin s {
		--LinearProgress-animationTimingFactor: 1.1;
	}
	@mixin m {
		--LinearProgress-animationTimingFactor: 1.3;
	}
	@mixin l-plus {
		--LinearProgress-animationTimingFactor: 1.5;
	}

	/* LoadingSpinner. */
	--LoadingSpinner-color: var(--Content-color-300);
	--LoadingSpinner-width: calc(var(--unit) * 4);
	--LoadingSpinner-borderWidth: 2px;

	/* Header. */
	--Header-backgroundColor--title: var(--Header-backgroundColor);
	--Header-backgroundColor--menu: var(--Header-backgroundColor);

	/* Footer. */
	--Footer-marginTop: calc(var(--unit) * 4);
	@mixin upto-s {
		--Footer-marginTop: calc(var(--unit) * 2);
	}
	@mixin m {
		--Footer-marginTop: calc(var(--unit) * 3);
	}

	/* Heading. */
	--Heading-lineHeight: 1.35em;
	--Heading-fontSize: 1.3rem;
	--Heading-fontWeight: normal;
	--Heading-lineHeight--xl: 1.4em;
	--Heading-fontSize--xl: 1.4rem;
	@mixin xxs {
		--Heading-marginTop: calc(var(--unit) / 4);
	}
	@mixin xs {
		--Heading-marginTop: calc(var(--unit) / 3);
	}
	@mixin s {
		--Heading-marginTop: calc(var(--unit) / 2);
	}
	@mixin m-plus {
		--Heading-marginTop: var(--unit);
	}

	/* NotificationBadge. */
	--NotificationBadge-color: var(--white-color);
	--NotificationBadge-backgroundColor: red;

	/* Announcement. */
	--Announcement-borderWidth: var(--Header-borderWidth);
	--Announcement-borderColor: var(--Header-borderColor);

	/* HeaderSeparator. */
	--HeaderSeparator-opacity--left: 0;
	--HeaderSeparator-opacity--right: 0;

	/* Sidebar. */
	--Sidebar-color-500: var(--Content-color-500);
	--Sidebar-color-600: var(--Content-color-600);
	--Sidebar-color-900: var(--Content-color-900);
	--Sidebar-backgroundColor: var(--Content-backgroundColor);
	/*--Sidebar-backgroundColor--collapsible: var(--Sidebar-backgroundColor);*/
	--Sidebar-borderColor: var(--Header-borderColor);
	--Sidebar-color--accent: var(--PostQuoteBlock-color);
	/*--Sidebar-highlightColor-100--collapsible: var(--Sidebar-highlightColor-100);*/
	/*--Sidebar-highlightColor-200--collapsible: var(--Sidebar-highlightColor-200);*/
	.Sidebar {
		--List-backgroundColor--selected: var(--Boards-backgroundColor--selected);
		--List-borderColor: var(--Boards-borderColor);
		--List-borderColor--selected: var(--Boards-borderColor--selected);
	}

	/* SideNavMenuButton. */
	--SideNavMenuButton-color: var(--Content-color-400);
	--SideNavMenuButton-color--active: var(--SideNavMenuButton-color);
	/*--SideNavMenuButton-color--active: var(--Content-color-500);*/
	/*--SideNavMenuButton-color--active: var(--base-color-700);*/
	--SideNavMenuButtonIcon-borderColor: var(--Content-backgroundColor);

	/* Boards. */
	/* These styles aren't just for `.Sidebar`,
	   they're for the `/boards` page too,
	   that's why they're not defined inside `.Sidebar {}`. */
	--Boards-margin--slash: 0.1em;
	--Boards-fontFamily--url: monospace;
	--Boards-fontWeight--url: normal;
	--Boards-fontWeight: normal;
	--Boards-color: var(--Sidebar-color-900);
	--Boards-color--active: var(--Sidebar-baseColor-700);
	--Boards-color--slash: var(--Sidebar-color-200);
	--Boards-color--viewSwitcher: var(--Sidebar-color-600);
	--Boards-backgroundColor--hover: var(--Sidebar-highlightColor-100);
	--Boards-backgroundColor--active: var(--Sidebar-highlightColor-200);
	--Boards-backgroundColor--selected: var(--Boards-backgroundColor--hover);
	--Boards-borderColor: transparent;
	--Boards-borderColor--selected: transparent;

	/* --Comment-marginTop--extra. */
	--Comment-marginTop--extra: 0px;

	/* Comment-marginTop. */
	--Comment-marginTop--base: 5px;
	@mixin xs {
		--Comment-marginTop--base: 8px;
	}
	@mixin s {
		--Comment-marginTop--base: 10px;
	}
	@mixin m-plus {
		--Comment-marginTop--base: 12px;
	}
	--Comment-marginTop: calc(var(--Comment-marginTop--base) + var(--Comment-marginTop--extra));

	/* Comment-marginTop--boardPage. */
	--Comment-marginTop--boardPageBase: var(--unit);
	@mixin xs {
		--Comment-marginTop--boardPageBase: calc(var(--unit) * 1.25);
	}
	@mixin s-plus {
		--Comment-marginTop--boardPageBase: calc(var(--unit) * 1.5);
	}
	--Comment-marginTop--boardPage: calc(var(--Comment-marginTop--boardPageBase) + var(--Comment-marginTop--extra));

	/* CommentSeparator. */
	--CommentSeparator-width: 0px;
	--CommentSeparator-width--outline: 1px;
	--CommentSeparator-color--board: var(--CommentSeparator-color);
	@mixin m-plus {
		--CommentSeparator-color: var(--Content-color-300);
		/*--CommentSeparator-color--board: var(--Content-color-200);*/
		/* `box-shadow` is used instead of `border-top`/`border-bottom`. */
		/*--CommentSeparator-width: 0px;*/
		/*--CommentSeparator-width--outline: 1px;*/
	}

	/* CommentFooter. */
	/* Comment footer top margin is adjusted in such a way that human eye
	   could read the comment text and not proceed to reading comment date
	   in the footer, so there's some extra spacing on top of comment footer
	   compared to the spacing on the bottom of the footer: that's by design. */
	--CommentFooter-marginTop: 1em;
	--CommentFooter-marginBottom: -0.3em;
	--CommentFooter-fontSize: 80%;
	--CommentFooter-color: var(--Content-color-500);
	--CommentFooter-color--previouslyRead: var(--Content-color-600);
	/* The height of the footer should stay the same in all cases:
	   * Less than 1 minute has passed — comment date not shown.
	   * More than 1 minute has passed — comment date is shown.
	   * Comment status changes — new badges get added (for example, banned).
	*/
	--CommentFooter-height: 1.2em; /* 19px */

	/* CommentTree. */
	--CommentTree-color: var(--Content-color-400);
	--CommentTree-color--hover: var(--Content-color-600);
	@mixin m-plus {
		--CommentTree-borderWidth: 2px;
	}

	/* CommentAuthor. */
	--CommentAuthor-marginTop: 0px;
	--CommentAuthor-marginBottom: var(--PostContent-marginTop);
	--CommentAuthor-fontSize: 85%;
	--CommentAuthor-color: var(--Content-color-800);
	--CommentAuthor-color--colored: initial;

	/* Post. */
	--Post-paddingTop: calc(var(--unit) * 0.75);
	--Post-paddingTop--compact: var(--Post-paddingTop);
	--Post-paddingLeft: var(--unit);
	@mixin m-plus {
		--Post-paddingTop: calc(var(--unit) * 1.25);
		--Post-paddingLeft: calc(var(--unit) * 1.5);
		--Post-paddingLeft--has-thumbnail: var(--Post-paddingLeft);
		--Post-minWidth: calc(var(--Text-maxWidth) / 2);
	}

	/* PostTitle. */
	--PostTitle-marginTop: var(--Post-paddingTop);

	/* PostThumbnail. */
	/* Default thumnail size. Will be overridden on `<body/>` after parsing chan response. */
	--PostThumbnail-maxWidth: 220px;
	--PostThumbnail-marginRight: var(--Post-paddingLeft);
	/* Post thumbnail has some top spacing in order for
	   its top edge to be at a similar height
	   with the first line of text's top edge (non-capital letters). */
	--PostThumbnail-marginTop--base: 0.1em;
	--PostThumbnail-marginTop--extra: 0em;

	/* PostQuoteBlock. */
	--PostQuoteBlock-paddingLeft--adjustment: 0px;

	/* PostQuoteBlock (inverse). */
	--PostQuoteBlock-color--inverse: var(--PostQuoteBlock-color);
	--PostQuoteBlock-backgroundColor--inverse: var(--PostQuoteBlock-backgroundColor);
	--PostQuoteBlock-backgroundColor--inverse--hover: var(--PostQuoteBlock-backgroundColor--inverse);
	--PostQuoteBlock-borderWidth--inverse: var(--PostQuoteBlock-borderWidth);
	--PostQuoteBlock-marginTop--inverse: var(--PostQuoteBlock-marginTop);
	--PostQuoteBlock-marginBottom--inverse: var(--PostQuoteBlock-marginBottom);

	/*@mixin upto-xs {*/
		/* Thinner PostQuoteBlockBorderLeft on mobile devices. */
		/*--PostQuoteBlockBorderLeft-width: 1px;*/
	/*}*/

	/* PostQuoteBlockBorderLeft (inverse). */
	--PostQuoteBlockBorderLeft-color--inverse: var(--PostQuoteBlockBorderLeft-color);
	--PostQuoteBlockBorderLeft-opacity--inverse: var(--PostQuoteBlockBorderLeft-opacity);
	--PostQuoteBlockBorderLeft-width--inverse: var(--PostQuoteBlockBorderLeft-width);
	--PostQuoteBlockBorderLeft-marginTop--inverse: var(--PostQuoteBorderLeft-marginTop--standalone);
	--PostQuoteBlockBorderLeft-color--inverse: currentColor;

	/* PostCode. */
	--PostCode-borderLeftWidth: 0px;
	--PostCode-borderRightWidth: 0px;

	/* CommentAuthorBannedIcon. */
	--CommentAuthorBannedIcon-color: var(--Critical-color);

	/* CommentMoreActions. */
	--CommentMoreActions-paddingLeft: 0.5em;
	--CommentMoreActions-paddingTop: 0.6em;

	/* BoardOrThreadMenu. */
	--BoardThreadMenu-marginTop: 0px;
	--BoardThreadMenu-marginBottom: 0px;
	--BoardOrThreadMenuIcon-width: calc(var(--unit) * 1.25);

	/* Tooltip. */
	--Tooltip-boxShadowColor: rgba(0, 0, 0, 0.3);
	--Tooltip-boxShadow: 0 0 0.2em var(--Tooltip-boxShadowColor);
	--Tooltip-boxShadow--large: 0 0.04em 0.3em var(--Tooltip-boxShadowColor);
}

/* Light mode. */
.light {
	/* LinearProgress. */
	--LinearProgress-color: var(--base-color-300);

	/* BackButton. */
	/* Using transparent colors because the back button can be placed above post thumbnails at 1280x1024 screen resolution. */
	--BackButton-backgroundColor--hover: rgba(255, 148, 0, 0.04); /* #fffcf5; */
	--BackButton-borderColor--hover: rgba(172, 146, 0, 0.08); /* #f9f3e4; */

	/* Sidebar. */
	--Sidebar-color-200: var(--Content-color-200);
	/*--Sidebar-highlightColor-100: #faf7f2;*/
	/*--Sidebar-highlightColor-200: var(--base-color-100);*/
	--Sidebar-highlightColor-100: var(--PostQuoteBlock-backgroundColor--generated);
	--Sidebar-highlightColor-200: #fff3e5;
	--Sidebar-baseColor-200: #eec8ad;
	--Sidebar-baseColor-700: var(--Clickable-color--text);

	/* Announcement. */
	--Announcement-color: var(--Content-color-900);
	--Announcement-backgroundColor: var(--base-color-200);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(0,0,0,0.17);
	--HeaderSeparator-color--right: transparent;

	/* Boards. */
	--Boards-color--slashHover: var(--Boards-color--slashSelected);
	--Boards-color--slashActive: #e9ccb8;
	--Boards-color--slashSelected: #ead5c0;
	--Boards-borderColor--selected: var(--PostQuoteBlock-borderColor--generated);

	/* HoverButton. */
	--HoverButton-color--active: #bd5700;
	--HoverButton-color--pushed: var(--PostQuoteBlock-color--generated);
	--HoverButton-color--pushedActive: var(--HoverButton-color--active);
	--HoverButton-borderColor--active: var(--HoverButton-borderColor--pushedFocus);
	--HoverButton-borderColor--pushed: var(--PostQuoteBlock-borderColor--generated);
	--HoverButton-borderColor--pushedFocus: #e4c5a1;
	--HoverButton-borderColor--pushedActive: var(--HoverButton-borderColor--pushedFocus); /* #e6abb0; */
	--HoverButton-backgroundColor--active: var(--PostQuoteBlock-backgroundColor--generated);

	/* Notification. */
	--Notification-color: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor--active: hsl(36, 70%, 96%);

	/* Post. */
	--Post-color--secondaryThread: var(--Content-color-400);

	/* CommentAuthor. */
	/*--CommentAuthor-color--accent: var(--base-color-700);*/
	--CommentAuthor-color--administrator: #BC0045; /* var(--alt-accent-color-700); */
	--CommentAuthor-color--moderator: #0084BD; /* var(--accent-color-700); */

	/* PostInlineSpoiler. */
	/* Adds a warmer color to it. */
	--PostInlineSpoiler-color: #F0EFEB;
	--PostInlineSpoiler-color--contentActive: hsl(36, 30%, 92%);

	/* PostSubheading. */
	--PostSubheading-color: #af0000;

	/* PostQuoteBlock (inverse). */
	/* `8ch.net` and chans running on `lynxchan` engine (such as `kohlchan.net`)
	    have regular quotes and "inverse" quotes. */
	--PostQuoteBlock-color--inverse: #950000;
	--PostQuoteBlock-backgroundColor--inverse: #ffecec;
	--PostQuoteBlock-borderWidth--inverse: 1px;
	--PostQuoteBlock-borderColor--inverse: #ffd2d2;

	/* PostQuoteBlockBorderLeft (inverse). */
	--PostQuoteBlockBorderLeft-width: 0px;
	--PostQuoteBlockBorderLeft-marginTop--inverse: 0px;

	/* CommentSeparator. */
	--CommentSeparator-color: rgba(0,0,0,0.1);
	--CommentSeparator-color--previouslyRead: rgba(0,0,0,0.12);
	@mixin m-plus {
		--CommentSeparator-color--board: var(--Content-color-200);
	}

	/* StarIcon. */
	--StarIcon-borderColor: var(--Content-color-900);
	--StarIcon-backgroundColor: var(--Clickable-color--active);

	/* ThreadActivityIndicator. */
	--ThreadActivityIndicator-color--active: #a0ec3c;
	--ThreadActivityIndicator-borderColor--active: #9dce34;
	--ThreadActivityIndicator-color--idle: #fdef51;
	--ThreadActivityIndicator-borderColor--idle: #dad146;
	--ThreadActivityIndicator-color--off: #c9c9c9;
	--ThreadActivityIndicator-borderColor--off: #a9a9a9;
	--ThreadActivityIndicator-hot-color: #ec7800;

	/* BoardThreadMenu. */
	/* A slightly darker color of Board/Thread menu icons,
	   because they're on a gray background. */
	--BoardThreadMenu-color: var(--Content-color-700);
	--BoardThreadMenu-color--active: var(--gray-color-650);
	--BoardThreadMenu-color--selected: var(--Content-color-700);

	/* Tooltip. */
	--Tooltip-boxShadowColor: rgba(0, 0, 0, 0.3);
}

/* Dark Mode. */
.dark {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (orange). */
	--base-color-100: #dccdba;
	--base-color-200: #daac72;
	--base-color-300: #d68e60;
	--base-color-400: #d47d3e;
	--base-color-500: #de7100;
	--base-color-600: #c55d00;
	--base-color-700: #b55100;
	--base-color-800: #823b01;
	--base-color-900: #613000;

	/* LinearProgress. */
	--LinearProgress-color: var(--base-color-600);

	/* BackButton. */
	/* Using transparent colors because the back button can be placed above post thumbnails at 1280x1024 screen resolution. */
	--BackButton-backgroundColor--hover: rgba(255, 255, 255, 0.03);
	--BackButton-borderColor--hover: rgba(255, 255, 255, 0.015);

	/* Sidebar. */
	--Sidebar-color-200: var(--Content-color-300);
	--Sidebar-highlightColor-100: #303030;
	--Sidebar-highlightColor-200: #2c2c2c;
	--Sidebar-baseColor-200: #6c4d38;
	--Sidebar-baseColor-700: var(--base-color-300);

	/* Announcement. */
	--Announcement-color: var(--Content-color-900);
	--Announcement-backgroundColor: var(--Content-color-200);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(255,255,255,0.2);

	/* Boards. */
	--Boards-color--slashHover: var(--Boards-color--slashSelected);
	--Boards-color--slashActive: var(--Boards-color--slash);
	--Boards-color--slashSelected: var(--Boards-color--slash);

	/* Notification. */
	--Notification-color: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor--active: #333331;

	/* Post. */
	--Post-color--secondaryThread: var(--Content-color-500);

	/* CommentAuthor. */
	/*--CommentAuthor-color--accent: var(--base-color-300);*/
	--CommentAuthor-color--administrator: #c44876;
	--CommentAuthor-color--moderator: #57add1;

	/* PostQuoteBlock (inverse). */
	/* `8ch.net` and chans running on `lynxchan` engine (such as `kohlchan.net`)
	    have regular quotes and "inverse" quotes. */
	--PostQuoteBlock-color--inverse: #dc5e5e;

	/* PostSubheading. */
	--PostSubheading-color: #cf5858;

	/* Comment-marginTop--extra. */
	--Comment-marginTop--extra: 3px;

	/* CommentSeparator. */
	--CommentSeparator-color: rgba(255,255,255,0.15);
	--CommentSeparator-color--previouslyRead: rgba(255,255,255,0.12);

	/* StarIcon. */
	--StarIcon-borderColor: var(--Clickable-color--textActive);
	--StarIcon-backgroundColor: var(--Clickable-color--text);

	/* ThreadActivityIndicator. */
	--ThreadActivityIndicator-color--active: #91c74b;
	--ThreadActivityIndicator-borderColor--active: #8db33b;
	--ThreadActivityIndicator-color--idle: #cdc460;
	--ThreadActivityIndicator-borderColor--idle: #c9c252;
	--ThreadActivityIndicator-color--off: #878787;
	--ThreadActivityIndicator-borderColor--off: #797979;
	--ThreadActivityIndicator-hot-color: #d66d00;

	/* BoardThreadMenu. */
	--BoardThreadMenu-color: var(--Content-color-600);
	--BoardThreadMenu-color--active: var(--Content-color-900);
	--BoardThreadMenu-color--selected: var(--Content-color-800);

	/* Tooltip. */
	--Tooltip-boxShadowColor: rgba(0, 0, 0, 0.5);
}