/* Light mode. */
.light {
	/* LinearProgress. */
	--LinearProgress-color: var(--base-color-300);

	/* BackButton. */
	/* Using transparent colors because the back button can be placed above post thumbnails at 1280x1024 screen resolution. */
	--BackButton-backgroundColor--hover: rgba(255, 148, 0, 0.04); /* #fffcf5; */
	--BackButton-borderColor--hover: rgba(172, 146, 0, 0.08); /* #f9f3e4; */

	/* Sidebar. */
	--Sidebar-color-200: var(--Content-color-200);
	/*--Sidebar-highlightColor-100: #faf7f2;*/
	/*--Sidebar-highlightColor-200: var(--base-color-100);*/
	--Sidebar-highlightColor-100: var(--PostQuoteBlock-backgroundColor--generated);
	--Sidebar-highlightColor-200: #fff3e5;
	--Sidebar-baseColor-200: #eec8ad;
	--Sidebar-baseColor-700: var(--Clickable-color--text);

	/* Announcement. */
	--Announcement-color: var(--Content-color-100);
	--Announcement-backgroundColor: var(--Content-color-900);
	--Announcement-link-color: var(--base-color-300);
	--Announcement-link-color--active: var(--Clickable-color--active);
	--Announcement-boxShadow: 0 0 10px rgba(0,0,0,0.2);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(0,0,0,0.17);
	--HeaderSeparator-color--right: transparent;

	/* Channels. */
	--Channels-borderColor--selected: var(--SidebarLink-borderColor--selected);

	/* ChannelThreadHeader. */
	--ChannelThreadHeader-borderColor: var(--Content-color-300);
	--ChannelThreadHeader-channelId-slash-color: var(--Content-color-300);

	/* ChannelThreadsSidebarSectionThread. */
	--ChannelThreadsSidebarSectionThread-borderColor: var(--Content-color-200);

	/* ChannelUrl. */
	--ChannelUrl-slash-color--hover: var(--ChannelUrl-slash-color--selected);
	--ChannelUrl-slash-color--active: #e9ccb8;
	--ChannelUrl-slash-color--selected: #ead5c0;

	/* CommentSpacerLine. */
	--CommentSpacerLine-color: var(--Content-color-300);

	/* CommentTree. */
	--CommentTree-color: var(--Content-color-400);
	--CommentTree-color--hover: var(--Content-color-500);

	/* PressedStateButton. */
	--PressedStateButton-color--active: #bd5700;
	--PressedStateButton-color--pressed: var(--PostQuoteBlock-color--generated);
	--PressedStateButton-color--pressedActive: var(--PressedStateButton-color--active);
	--PressedStateButton-borderColor--active: var(--PressedStateButton-borderColor--pressedFocus);
	--PressedStateButton-borderColor--pressed: var(--SidebarLink-borderColor--selected);
	--PressedStateButton-borderColor--pressedFocus: #e4c5a1;
	--PressedStateButton-borderColor--pressedActive: var(--PressedStateButton-borderColor--pressedFocus); /* #e6abb0; */
	--PressedStateButton-backgroundColor--active: var(--PostQuoteBlock-backgroundColor--generated);

	/* Notification. */
	--Notification-color: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor--active: hsl(36, 70%, 96%);

	/* Post. */
	--Post-color--secondaryThread: var(--Content-color-400);

	/* PostInlineSpoiler. */
	/* Adds a warmer color to it. */
	--PostInlineSpoiler-color: #F0EFEB;
	--PostInlineSpoiler-color--contentActive: hsl(36, 30%, 92%);

	/* PostSubheading. */
	--PostSubheading-color: #af0000;

	/* PostQuoteBlock (inverse). */
	/* `8ch.net` and imageboards running on `lynxchan` engine (such as `kohlchan.net`)
	    have regular quotes and "inverse" quotes. */
	--PostQuoteBlock-color--inverse: #950000;
	--PostQuoteBlock-backgroundColor--inverse: #ffecec;
	--PostQuoteBlock-borderWidth--inverse: 1px;
	--PostQuoteBlock-borderColor--inverse: #ffd2d2;

	/* PostQuoteBlockBorderLeft (inverse). */
	--PostQuoteBlockBorderLeft-width: 0px;
	--PostQuoteBlockBorderLeft-marginTop--inverse: 0px;

	/* Comment. */
	/*--Comment-backgroundColor--new: #fff0de;*/

	/* CommentAuthor. */
	/*--CommentAuthor-color--accent: var(--base-color-700);*/
	--CommentAuthor-color--administrator: #BC0045; /* var(--alt-accent-color-700); */
	--CommentAuthor-color--moderator: #0084BD; /* var(--accent-color-700); */

	/* CommentSeparator. */
	--CommentSeparator-color: rgba(0,0,0,0.125);
	--CommentSeparator-color--previouslyRead: rgba(0,0,0,0.12);
	--CommentSeparator-color--channelPageLargeScreen: var(--Content-color-200);
	/*--CommentSeparator-color--new: #e2d6c0;*/

	/* Sidebar. */
	--Sidebar-borderColor: var(--Header-borderColor);

	/* StarIcon. */
	--StarIcon-borderColor: var(--Content-color-900);
	--StarIcon-backgroundColor: var(--Clickable-color--active);

	/* ThreadActivityIndicator. */
	--ThreadActivityIndicator-color--active: #a0ec3c;
	--ThreadActivityIndicator-borderColor--active: #9dce34;
	--ThreadActivityIndicator-color--idle: #fdef51;
	--ThreadActivityIndicator-borderColor--idle: #dad146;
	--ThreadActivityIndicator-color--off: #c9c9c9;
	--ThreadActivityIndicator-borderColor--off: #a9a9a9;
	--ThreadActivityIndicator-hot-color: #ec7800;

	/* Toolbar. */
	/* A slightly darker color of Channel/Thread menu icons,
	   because they're on a gray background. */
	--Toolbar-color: var(--Content-color-700);
	--Toolbar-color--active: var(--Clickable-color--textActive); /* var(--gray-color-650); */
	--Toolbar-color--selected: var(--Content-color-700);

	/* Tooltip. */
	--Tooltip-boxShadowColor: rgba(0, 0, 0, 0.3);
}
