@import "frontend-lib/styles/grid.mixins.css";

/* Global. */
:root {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (orange). */
	--base-color-100: #FFF4EC;
	--base-color-200: #FFD0AF;
	--base-color-300: #FFA061;
	--base-color-400: #ff7f24;
	--base-color-500: #ee6602;
	--base-color-600: #d65800;
	--base-color-700: #b84600;
	--base-color-800: #8f3c00;
	--base-color-900: #6D2D00;

	/* `social-components-react` */
	--SocialComponents-fontFamily: var(--Document-fontFamily);
	--SocialComponents-fontFamily--text: var(--Text-fontFamily);
	--SocialComponents-lineHeight: var(--Document-lineHeight);

	/* Color */
	--SocialComponents-color-100: var(--Content-color-100);
	--SocialComponents-color-200: var(--Content-color-200);
	--SocialComponents-color-300: var(--Content-color-300);
	--SocialComponents-color-400: var(--Content-color-400);
	--SocialComponents-color-500: var(--Content-color-500);
	--SocialComponents-color-600: var(--Content-color-600);
	--SocialComponents-color-700: var(--Content-color-700);
	--SocialComponents-color-800: var(--Content-color-800);
	--SocialComponents-color-900: var(--Content-color-900);

	/* Background Color */
	--SocialComponents-backgroundColor: var(--Content-backgroundColor);

	/* Clickable Color. */
	--SocialComponentsClickable-color: var(--Clickable-color);
	--SocialComponentsClickable-color--active: var(--Clickable-color--active);
	/* "Clickable text" buttons are usually colored a bit darker. */
	--SocialComponentsClickable-color--text: var(--Clickable-color--text);

	/* Comment. */
	--Comment-marginLeft--latestComments: 1rem;
	--Comment-borderRadius: 0rem;

	/* CommentTree. */
	@mixin upto-xs {
		--CommentTreePathBranch-marginTop--content: 1.9em;
	}

	/* ContentSection. */
	--ContentSectionHeader-fontWeight: 300;

	/* ModalTitle. */
	--ModalTitle-lineHeight: 1.35em;
	--ModalTitle-fontSize: 1.25rem;
	--ModalTitle-fontWeight: normal;

	/* TextNote. */
	--TextNote-color: var(--Content-color-600);
	--TextNote-fontSize: 85%;

	/* Post */
	--Post-paddingLeft: var(--ContentSection-padding--horizontal);
	--Post-transition: none;
	--Post-transition--onClick: background-color 60ms;
	@mixin upto-m {
		/* Don't reduce the spacing between text paragraphs on small screens,
		   because `--PostContent-marginTop` is already small on such screens. */
		--Post-textLineHeightBlankSpace: 0em;
	}
	@mixin xl-plus {
		--Post-paddingLeft: calc(var(--unit) * 2);
	}

	/* PostContent */
	@mixin upto-m {
		--PostContent-marginTop--compact: 0.3em;
	}

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-transition--onClick: var(--Post-transition--onClick);
	--PostInlineSpoiler-transition: none;

	/* PostList. */
	@mixin upto-xs {
		--PostList-marginLeft: var(--unit);
	}

	/* PostQuoteBorderLeft. */
	@mixin upto-s {
		--PostQuoteBorderLeft-left: calc(var(--PostQuoteBlock-paddingLeft) * 1/4);
	}

	/* Slideshow. */
	@mixin xxs {
		--Slideshow-Control-margin: calc(var(--unit) / 2);
		--Slideshow-PanAndZoomModeButton-marginBottom: calc(var(--unit) / 2);
	}
	@mixin l-plus {
		--Slideshow-Control-height: calc(var(--unit) * 3.5);
	}

	/* Z-indexes. */
	--Sidebar-zIndex: 10;
	--Header-zIndex--below: 19;
	--Header-zIndex: 20;
	--SideNavMenuButton-zIndex: var(--Header-zIndex);
	--Slideshow-zIndex: 30;
	--Notification-zIndex: 40;

	/*
	--PageContent-paddingLeft--nonContentSection: 0px;
	@mixin upto-m {
		--PageContent-paddingLeft--nonContentSection: var(--Post-paddingLeft);
	}
	*/

	/* PageContent. */
	--PageContent-paddingLeft: var(--unit);

	/* LinearProgress. */
	--LinearProgress-backgroundColor: transparent;
	--LinearProgress-height: 3px;
	/*--LinearProgress-animationDuration: 3s;*/
	/*--LinearProgress-animationInterval: 1.7s;*/
	@mixin upto-xs {
		--LinearProgress-height: 5px;
	}
	@mixin s {
		--LinearProgress-animationTimingFactor: 1.1;
	}
	@mixin m {
		--LinearProgress-animationTimingFactor: 1.3;
	}
	@mixin l-plus {
		--LinearProgress-animationTimingFactor: 1.5;
	}

	/* Header. */
	--Header-backgroundColor--title: var(--Header-backgroundColor);
	--Header-backgroundColor--menu: var(--Header-backgroundColor);
	/*--Header-height: calc(var(--unit) * 3);*/
	--Header-height: 0px;

	/* Footer. */
	--Footer-marginTop: calc(var(--unit) * 4);
	@mixin upto-s {
		--Footer-marginTop: calc(var(--unit) * 2);
	}
	@mixin m {
		--Footer-marginTop: calc(var(--unit) * 3);
	}

	/* Announcement. */
	--Announcement-marginTop: calc(var(--unit) * 1);
	--Announcement-marginBottom: calc(var(--unit) * 1);
	@mixin m-plus {
		--Announcement-marginTop: calc(var(--unit) * 2);
		--Announcement-marginBottom: 0px;
	}
	/*--Announcement-borderBottomWidth: var(--Header-borderWidth);*/
	/*--Announcement-borderColor: var(--Header-borderColor);*/

	/* Heading. */
	--Heading-lineHeight: 1.35em;
	--Heading-fontSize: 1.3rem;
	--Heading-fontWeight: normal;
	--Heading-lineHeight--xl: 1.4em;
	--Heading-fontSize--xl: 1.4rem;
	@mixin xxs {
		--Heading-marginTop: calc(var(--unit) / 1);
	}
	@mixin xs {
		--Heading-marginTop: calc(var(--unit) / 1);
	}
	@mixin s {
		--Heading-marginTop: calc(var(--unit) / 1);
	}
	@mixin m-plus {
		--Heading-marginTop: var(--unit);
	}

	/* NotificationBadge. */
	--NotificationBadge-color: var(--white-color);
	--NotificationBadge-backgroundColor: red;

	/* HeaderSeparator. */
	--HeaderSeparator-opacity--left: 0;
	--HeaderSeparator-opacity--right: 0;

	/* List. */
	--ListButtonIcon-width: 0.6em;
	--ListButton-padding: 0.2em;
	--List-fontSize: 100%;
	/* Using `em`s instead of `var(--unit)`s for `--List-lineHeight`
	   (and related variables) because this way it works better
	   with the `fontSize` user setting (for example, "Font Size: Large"). */
	--List-lineHeight: 1.9em;
	@mixin upto-m {
		/*--List-lineHeight: 2.2em;*/
		--List-lineHeight: 2em;
	}
	@mixin upto-xs {
		--List-fontSize: 105%;
	}

	/* ChannelsList. */
	--ChannelsListSectionHeader-title-fontSize: 1.2em;
	--ChannelsListSectionHeader-title-marginTop: 0.9em;
	--ChannelsListSectionHeader-title-marginBottom: 0.3em;
	@mixin xxs {
		--ChannelsListSectionHeader-title-fontSize: 1.6em;
		--ChannelsListSectionHeader-title-marginTop: 1.5em;
		--ChannelsListSectionHeader-title-marginBottom: 0.6em;
	}
	@mixin xs {
		--ChannelsListSectionHeader-title-fontSize: 1.4em;
	}
	@mixin s {
		--ChannelsListSectionHeader-title-fontSize: 1.3em;
	}
	@mixin xs-m {
		--ChannelsListSectionHeader-title-marginTop: 1.3em;
		--ChannelsListSectionHeader-title-marginBottom: 0.5em;
	}

	/* Sidebar. */
	--Sidebar-borderWidth: 1px;
	--Sidebar-color-500: var(--Content-color-500);
	--Sidebar-color-600: var(--Content-color-600);
	--Sidebar-color-900: var(--Content-color-900);
	--Sidebar-backgroundColor: var(--Content-backgroundColor);
	/*--Sidebar-backgroundColor--collapsible: var(--Sidebar-backgroundColor);*/
	--Sidebar-color--accent: var(--PostQuoteBlock-color);
	/*--Sidebar-highlightColor-100--collapsible: var(--Sidebar-highlightColor-100);*/
	/*--Sidebar-highlightColor-200--collapsible: var(--Sidebar-highlightColor-200);*/
	.Sidebar {
		--List-backgroundColor--selected: var(--Channels-backgroundColor--selected);
		--List-borderColor: var(--Channels-borderColor);
		--List-borderColor--selected: var(--Channels-borderColor--selected);
	}

	/* SidebarLink. */
	--SidebarLink-color: var(--Sidebar-color-900);
	--SidebarLink-color--hover: var(--SidebarLink-color);
	--SidebarLink-color--active: var(--Sidebar-baseColor-700);
	--SidebarLink-color--selected: var(--SidebarLink-color);
	--SidebarLink-backgroundColor: transparent;
	--SidebarLink-backgroundColor--hover: var(--Sidebar-highlightColor-100);
	--SidebarLink-backgroundColor--active: var(--Sidebar-highlightColor-200);
	--SidebarLink-backgroundColor--selected: var(--SidebarLink-backgroundColor--hover);
	--SidebarLink-borderWidth: 1px;
	--SidebarLink-borderColor: transparent;
	--SidebarLink-borderColor--hover: var(--SidebarLink-borderColor);
	--SidebarLink-borderColor--active: var(--SidebarLink-borderColor--hover);
	--SidebarLink-borderColor--selected: var(--SidebarLink-borderColor);
	--SidebarLink-borderColor--selectedHover: var(--SidebarLink-borderColor--selected);
	--SidebarLink-borderColor--selectedActive: var(--SidebarLink-borderColor--selected);

	/* SideNavMenuButton. */
	--SideNavMenuButton-color: var(--Content-color-500);
	--SideNavMenuButton-color--active: var(--SideNavMenuButton-color);
	/*--SideNavMenuButton-color--active: var(--Content-color-500);*/
	/*--SideNavMenuButton-color--active: var(--base-color-700);*/
	--SideNavMenuButtonIcon-borderColor: var(--Content-backgroundColor);

	/* Modal. */
	/* `inset` shadow is used instead of a regular one because
	   `.Comment`s have a `border`, and using a non-`inset` shadow
	   would result in visually doubling the width of that border. */
	--Modal-boxShadow: inset 0 0 0 var(--Modal-borderWidth) var(--Modal-borderColor);

	/* Channels. */
	/* These styles aren't just for `.Sidebar`,
	   they're for the `/boards` page too,
	   that's why they're not defined inside `.Sidebar {}`. */
	--Channels-margin--slash: 0.1em;
	--Channels-fontWeight: normal;
	--Channels-color: var(--SidebarLink-color);
	--Channels-color--active: var(--SidebarLink-color--active);
	--Channels-backgroundColor--hover: var(--SidebarLink-backgroundColor--hover);
	--Channels-backgroundColor--active: var(--SidebarLink-backgroundColor--active);
	--Channels-backgroundColor--selected: var(--SidebarLink-backgroundColor--selected);
	--Channels-borderColor: var(--SidebarLink-borderColor);
	--Channels-borderColor--selected: var(--SidebarLink-borderColor--selected);

	/* ChannelUrl. */
	--ChannelUrl-fontFamily: 'Roboto Mono', monospace;
	--ChannelUrl-fontWeight: normal;
	--ChannelUrl-fontSize: initial;
	@mixin upto-m {
		--ChannelUrl-fontSize: 105%;
	}
	--ChannelUrl-slash-color: var(--Sidebar-color-200);

	/* ChannelsViewSwitcher. */
	--ChannelsViewSwitcher-color: var(--Sidebar-color-600);

	/* CommentsList. */
	/* Added `.Webpage` selector so that `--Text-width` could be
	   redefined later as `--Text-width--compact`. */
	.Webpage {
		--CommentsList-maxWidth: calc(var(--Post-paddingLeft) + var(--Picture-borderWidth) + var(--PostThumbnail-maxWidth) + var(--Picture-borderWidth) + var(--PostThumbnail-marginRight) + var(--CommentText-maxWidth) + var(--Post-paddingLeft));
	}

	/* Comment. */
	/*--Comment-boxShadow: inset 0 0 0 var(--Comment-boxShadowOutlineWidth) var(--Comment-borderColor);*/
	--Comment-boxShadow: none;

	/* Comment-borderWidth. */
	/* `box-shadow` is currenly not used. */
	--Comment-borderWidth: 1px;
	--Comment-boxShadowOutlineWidth: 0px;

	/* --Comment-marginTop--extra. */
	--Comment-marginTop--extra: 0px;

	/* Comment-marginTop. */
	--Comment-marginTop--base: 5px;
	@mixin xs {
		--Comment-marginTop--base: 8px;
	}
	@mixin s {
		--Comment-marginTop--base: 10px;
	}
	@mixin m-plus {
		--Comment-marginTop--base: 12px;
	}
	--Comment-marginTop--nested: calc(var(--Comment-marginTop--base) + var(--Comment-marginTop--extra));
	--Comment-marginTop--topLevel: var(--Comment-marginTop--nested);

	/* Comment-marginTop--topLevelChannelPage. */
	--Comment-marginTop--channelPageBase: var(--unit);
	@mixin xs {
		--Comment-marginTop--channelPageBase: calc(var(--unit) * 1.25);
	}
	@mixin s-plus {
		--Comment-marginTop--channelPageBase: calc(var(--unit) * 1.5);
	}
	--Comment-marginTop--topLevelChannelPage: calc(var(--Comment-marginTop--channelPageBase) + var(--Comment-marginTop--extra));

	/* Comment-borderColor. */
	--Comment-borderColor--largeScreen: var(--Comment-borderColor);
	--Comment-borderColor--channelPage: var(--Comment-borderColor);
	--Comment-borderColor--channelPageLargeScreen: var(--Comment-borderColor--channelPage);
	@mixin m-plus {
		/* The `body` selector here prevents an infinite recursion
		   while calculating `--Comment-borderColor` CSS variable value
		   if it was defined as `--Comment-borderColor: var(--Comment-borderColor--largeScreen)`
		   at `:root` level:
		   `--Comment-borderColor` -> `--Comment-borderColor--largeScreen` ->
		-> `--Comment-borderColor` -> `--Comment-borderColor--largeScreen` -> ... */
		body {
			--Comment-borderColor: var(--Comment-borderColor--largeScreen);
			--Comment-borderColor--channelPage: var(--Comment-borderColor--channelPageLargeScreen);
		}
	}

	/* --Comment-previouslySeenThreadsBanner. */
	--Comment-previouslySeenThreadsBanner-color: var(--Content-color-600);
	--Comment-previouslySeenThreadsBanner-fontSize: var(--UppercaseLabel-fontSize);
	--Comment-previouslySeenThreadsBanner-letterSpacing: var(--UppercaseLabel-letterSpacing);
	--Comment-previouslySeenThreadsBanner-borderColor: transparent; /* var(--Content-color-300); */

	/* CommentFooter. */
	/* Comment footer top margin is adjusted in such a way that human eye
	   could read the comment text and not proceed to reading comment date
	   in the footer, so there's some extra spacing on top of comment footer
	   compared to the spacing on the bottom of the footer: that's by design. */
	--CommentFooter-marginTop: 1em;
	@mixin xxs {
		--CommentFooter-marginTop: 0.75em;
	}
	--CommentFooter-marginBottom: -0.3em;
	--CommentFooter-marginBottom--compact: var(--CommentFooter-marginBottom);
	@mixin upto-s {
		--CommentFooter-marginBottom: 0em;
	}
	@mixin xs-s {
		--CommentFooter-marginBottom--compact: -0.1em;
	}
	--CommentFooter-fontSize: 80%;
	--CommentFooter-fontWeight: lighter;
	--CommentFooter-color: var(--Content-color-500);
	--CommentFooter-color--darker: var(--Content-color-600);
	--CommentFooter-color--previouslyRead: var(--Content-color-600);
	/* The height of the footer should stay the same in all cases:
	   * Less than 1 minute has passed — comment date not shown.
	   * More than 1 minute has passed — comment date is shown.
	   * Comment status changes — new badges get added (for example, banned).
	*/
	--CommentFooter-height: 1.2em;
	--CommentFooter-lineHeight: 1.75em;

	/* CommentTree. */
	@mixin m-plus {
		--CommentTreePath-borderWidth: 2px;
	}
	--CommentTreePathWithNoBranching-height--straightThrough: var(--Comment-marginTop--nested);

	/* CommentAuthor. */
	--CommentAuthor-marginTop: 0px;
	--CommentAuthor-fontSize: 85%;
	--CommentAuthor-color: var(--Content-color-800);
	--CommentAuthor-color--colored: initial;

	/* CommentSpacerLine. */
	--CommentSpacerLine-height: 1px;

	/* Post. */
	--Post-paddingTop: calc(var(--unit) * 0.75);
	--Post-paddingTop--compact: var(--Post-paddingTop);
	--Post-paddingLeft: var(--unit);

	@mixin upto-s {
		--Post-minWidth: calc(var(--CommentText-maxWidth) / 2);
	}

	@mixin m-plus {
		--Post-paddingTop: calc(var(--unit) * 1.25);
		--Post-paddingLeft: calc(var(--unit) * 1.5);
		--Post-paddingLeft--hasThumbnail: var(--Post-paddingLeft);

		/* `--Post-minWidth` variable should be declared at the `:root` level
		   in order for `<InReplyToModal/>` to "see" it, because it's rendered
		   outside of `.Webpage` element. */
		--Post-minWidth: calc(var(--CommentText-maxWidth) / 2);

		/* `--CommentText-maxWidth` is always equal to `--Text-maxWidth` at the `:root` level. */
		/* `.Webpage--withLeftSidebar` overrides `--CommentText-maxWidth` variable, */
		/* but overriding it at that level doesn't override the `--Post-minWidth`
		   that is defined at the `:root` level. To fix that, `--Post-minWidth` is re-defined
		   at `.Webpage` level. */
		.Webpage {
			--Post-minWidth: calc(var(--CommentText-maxWidth) / 2);
		}
	}

	/* PostTitle. */
	--PostTitle-marginTop: var(--Post-paddingTop);

	/* PostThumbnail. */
	/* Actually observed max thumnail size will be set in
	   `src/utility/post/updateAttachmentThumbnailMaxWidth.js`
	   as `--PostThumbnail-maxWidth--actual` CSS variable. */
	--PostThumbnail-maxWidth: var(--PostThumbnail-maxWidth--observed, var(--PostThumbnail-maxWidth--allowed));
	--PostThumbnail-marginRight: var(--Post-paddingLeft);
	--PostThumbnail-marginBottom: 0px;
	/* Post thumbnail has some top spacing in order for
	   its top edge to be at a similar height
	   with the first line of text's top edge (non-capital letters). */
	--PostThumbnail-marginTop--base: 0.1em;
	--PostThumbnail-marginTop--extra: 0em;

	/* PostQuoteBlock. */
	--PostQuoteBlock-paddingLeft--adjustment: 0px;

	/* PostQuoteBlock (inverse). */
	--PostQuoteBlock-color--inverse: var(--PostQuoteBlock-color);
	--PostQuoteBlock-backgroundColor--inverse: var(--PostQuoteBlock-backgroundColor);
	--PostQuoteBlock-backgroundColor--inverse--hover: var(--PostQuoteBlock-backgroundColor--inverse);
	--PostQuoteBlock-borderWidth--inverse: var(--PostQuoteBlock-borderWidth);
	--PostQuoteBlock-marginTop--inverse: var(--PostQuoteBlock-marginTop);
	--PostQuoteBlock-marginBottom--inverse: var(--PostQuoteBlock-marginBottom);

	/*@mixin upto-xs {*/
		/* Thinner PostQuoteBlockBorderLeft on mobile devices. */
		/*--PostQuoteBlockBorderLeft-width: 1px;*/
	/*}*/

	/* PostQuoteBlockBorderLeft (inverse). */
	--PostQuoteBlockBorderLeft-color--inverse: var(--PostQuoteBlockBorderLeft-color);
	--PostQuoteBlockBorderLeft-opacity--inverse: var(--PostQuoteBlockBorderLeft-opacity);
	--PostQuoteBlockBorderLeft-width--inverse: var(--PostQuoteBlockBorderLeft-width);
	--PostQuoteBlockBorderLeft-marginTop--inverse: var(--PostQuoteBorderLeft-marginTop--standalone);
	--PostQuoteBlockBorderLeft-color--inverse: currentColor;

	/* PostCode. */
	--PostCode-borderLeftWidth: 0px;
	--PostCode-borderRightWidth: 0px;
	--PostCode-borderRadius--inline: 0.2em;

	/* CommentAuthorBannedIcon. */
	--CommentAuthorBannedIcon-color: var(--Critical-color);

	/* CommentMoreActions. */
	/* If `--paddingLeft` is too big, it will cause page overflow on the right side
	   resulting in a weird horizontal scrollbar appearing on small screens. */
	--CommentMoreActions-paddingLeft: 0.7rem;
	--CommentMoreActions-paddingTop: 0.8rem;

	/* ChannelThreadsSidebarSectionThread. */
	--ChannelThreadsSidebarSectionThread-borderWidth: 1px;

	/* ChannelThreadHeader. */
	--ChannelThreadHeader-width: auto;
	--ChannelThreadHeader-height: 2.5rem;
	--ChannelThreadHeader-marginLeft: 0px;
	--ChannelThreadHeader-marginRight: 0px;
	--ChannelThreadHeader-backgroundColor: var(--Content-backgroundColor);
	--ChannelThreadHeader-borderWidth: 1px;
	/*--ChannelThreadHeader-heading-fontSize: var(--PostTitle-fontSize);*/
	--ChannelThreadHeader-fontSize: 1.1rem;
	--ChannelThreadHeader-fontWeight: 400;
	--ChannelThreadHeader-textAlign: center;
	--ChannelThreadHeader-paddingLeft: 0px;
	--ChannelThreadHeader-paddingRight: var(--ChannelThreadHeader-paddingLeft);
	@mixin upto-s {
		--ChannelThreadHeader-paddingLeft: var(--PageContent-paddingLeft);
		--ChannelThreadHeader-textAlign: left;
	}
	@mixin m {
		--ChannelThreadHeader-paddingLeft: var(--Post-paddingLeft);
		--ChannelThreadHeader-textAlign: left;
	}
	@mixin m {
		/* At `m` screen size, `ChannelHeader`'s width is limited to `--Content-maxWidth`:
		   `.Webpage main { max-width: var(--Content-maxWidth) }`. */
		/* To work around that, `100vw` is used to expand `ChannelHeader` to full page width. */
		--ChannelThreadHeader-width: calc(100vw - var(--Scrollbar-width));
		--ChannelThreadHeader-marginLeft: calc(-1 * ((100vw - var(--Scrollbar-width)) - 100%) / 2);
		--ChannelThreadHeader-marginRight: var(--ChannelThreadHeader-marginLeft);
	}
	@mixin m-plus {
		--ChannelThreadHeader-fontSize: 1.05rem;
	}
	@mixin l-plus {
		--ChannelThreadHeader-marginLeft: calc(-1 * var(--Webpage-paddingLeft-width));
		--ChannelThreadHeader-marginRight: calc(-1 * var(--Webpage-paddingRight-width));
	}
	@mixin l {
		--ChannelThreadHeader-textAlign: left;
		--ChannelThreadHeader-paddingLeft: var(--Webpage-paddingLeft-width);
		--ChannelThreadHeader-paddingRight: var(--Webpage-paddingRight-width);
	}
	@mixin xl-plus {
		--ChannelThreadHeader-textAlign: left;
		--ChannelThreadHeader-paddingLeft: var(--Webpage-paddingLeft-width);
		--ChannelThreadHeader-paddingRight: var(--Webpage-paddingRight-width);
	}

	/* ChannelHeader. */
	--ChannelHeader-height: auto;
	--ChannelHeader-fontSize: initial;
	--ChannelHeader-fontWeight: intial;
	--ChannelHeader-textAlign: initial;

	/* StarIcon. */
	--StarIcon-backgroundColor-opacity: 0.8;
	--StarIcon-backgroundColor--active: var(--StarIcon-backgroundColor);
	--StarIcon-backgroundColor-opacity--active: var(--StarIcon-backgroundColor-opacity);

	/* ThreadPageHeader. */
	--ThreadPageHeader-marginTop: 0px;
	--ThreadPageHeader-marginBottom: 0px;
	--ThreadPageHeader-marginLeft: 0px;
	--ThreadPageHeader-marginRight: 0px;
	@mixin upto-s {
		--ThreadPageHeader-marginLeft: var(--Post-paddingLeft);
	}
	@mixin upto-xs {
		/*--ThreadPageHeader-marginTop: calc(var(--unit) * 0.5);*/
	}
	@mixin s {
		/*--ThreadPageHeader-marginTop: calc(var(--unit) * 1);*/
	}
	/*@mixin l {*/
		/* `margin-left` is already being set in `Thread.css`. */
		/*--ThreadPageHeader-marginLeft: calc(var(--BackButton-marginLeft) + var(--BackButtonIcon-width));*/
	/*}*/
	@mixin m-plus {
		/*--ThreadPageHeader-marginTop: calc(var(--unit) * 1.5);*/
		/* <Comment/> itself has empty spacing on the top (which works as `padding-top`). */
		/*--ThreadPageHeader-marginBottom: calc(var(--unit) * 1);*/
	}

	/* Text. */
	--Text-maxWidth--compact: 33em;
	.Webpage--channel--threadsTiles {
		@mixin xxl-plus {
			/* Increased the `maxWidth` of the `Text` so that four columns of thread cards
			   fit on a channel page when viewing it in "grid" mode at XXL screen size. */
			--Text-maxWidth: 68em;
		}
	}

	/* ThreadPageShowPrevious. */
	--ThreadPageShowPrevious-marginTop: calc(var(--unit) * 0.75);
	@mixin l-plus {
		--ThreadPageShowPrevious-marginTop: var(--unit);
	}

	/* ChannelPageTop. */
	--ChannelPageTop-zIndex: 1;
	--ChannelPageTop-marginTop: var(--ThreadPageShowPrevious-marginTop);

	/* ChannelHeader. */
	--ChannelHeader-zIndex: calc(var(--ChannelPageTop-zIndex) + 1);

	/* Toolbar. */
	--Toolbar-marginTop: 0px;
	--Toolbar-marginBottom: 0px;
	--Toolbar-paddingLeft: 0px;
	--Toolbar-paddingRight: 0px;
	--ToolbarIcon-width: calc(var(--unit) * 1.25);

	/* Tooltip. */
	--Tooltip-boxShadowColor: rgba(0, 0, 0, 0.3);
	--Tooltip-boxShadow: 0 0 0.2em var(--Tooltip-boxShadowColor);
	--Tooltip-boxShadow--large: 0 0.04em 0.3em var(--Tooltip-boxShadowColor);

	/* UppercaseLabel. */
	--UppercaseLabel-fontSize: 85%;
	@mixin upto-xs {
		--UppercaseLabel-fontSize: 100%;
	}
	@mixin s-m {
		--UppercaseLabel-fontSize: 90%;
	}
	--UppercaseLabel-fontWeight: lighter;
	--UppercaseLabel-letterSpacing: 0.075em;
  --UppercaseLabel-textTransform: uppercase;

  --OnBackground-opacity--content: 0.65;
  --OnBackground-opacity--clickable: 0.85;
  --OnBackground-opacity--title: 0.75;
  --OnBackground-backgroundColor: var(--Document-backgroundColor);

  --Button-height--singleLine: calc(var(--unit) * 3);
}