@import "../../styles/common.css";

:root {
	--CommentFooterBadge-height: 1em;
	--CommentFooterBadgeIcon-marginTop--commentsCount: 0.05em;
	--CommentFooterBadgeIcon-marginRight--commentsCount: 0.32em;
	--CommentFooterBadgeIcon-opacity--left: 0.75;
}

.CommentFooterBadge {
	display: flex;
	align-items: center;
	justify-content: center;
	/*color: var(--Content-color-600);*/
}

.CommentFooterBadge--ignoreCursor {
	/* Don't show text cursor on stuff like "Thread comments count". */
	/*cursor: default;*/
	/* Could be "cursor: default" instead but that would
	   override `<Clickable/>`'s `cursor: pointer`
	   when a comment is clickable on "Channels" page. */
	pointer-events: none;
}

.CommentFooterBadge--left {
	margin-right: calc(var(--unit) * 1.5);
	@mixin xxs {
		margin-right: var(--unit);
	}
	@mixin xs {
		margin-right: calc(var(--unit) * 1.25);
	}
}

.CommentFooterBadge--right {
	margin-right: calc(var(--unit) * 1);
}

.CommentFooterBadge--last {
	margin-right: 0;
}

/*.CommentFooterBadge--comments-count {*/
	/*font-weight: normal;*/
	/*color: var(--Content-color-600);*/
/*}*/

.CommentFooterBadge-icon {
	/* `display: flex` and `align-items: center` fixes the weird
	   vertical spacing above the `<img/>`. */
	display: flex;
	align-items: center;
	width: var(--CommentFooterBadge-height);
	height: var(--CommentFooterBadge-height);
	/* Fixes <svg/> icons being cut off in iOS Safari. */
	/* https://stackoverflow.com/questions/24894921/svg-being-cut-off */
	overflow: visible;
}

.CommentFooterBadge--left {
	.CommentFooterBadge-icon {
		opacity: var(--CommentFooterBadgeIcon-opacity--left);
		margin-right: 0.4em;
	}
}

.CommentFooterBadge-icon--replies {
	margin-top: 0.1em;
}

.CommentFooterBadge-icon--comments-count {
	margin-top: 0.05em;
	margin-right: 0.35em;
}

.CommentFooterBadge-icon--comments-count {
	/*margin-top: -0.1em;*/
	/*margin-right: 0.35em;*/
	margin-top: var(--CommentFooterBadgeIcon-marginTop--commentsCount);
	margin-right: var(--CommentFooterBadgeIcon-marginRight--commentsCount);
}

.CommentFooterBadge-icon--attachments-count-in-comments {
	width: 0.95em;
	height: 0.95em;
	margin-top: 0em;
	margin-right: 0.35em;
}

.CommentFooterBadge-icon--unique-posters-count {
	width: 0.92em;
	height: 0.92em;
}

.CommentFooterBadge-icon--replies-count {
	/* The arrow icon's left side by default doesn't align
		 perfectly with the text's left border. */
	margin-left: 0.05em;
	margin-right: 0.35em;
}

.CommentFooterBadge-customCountryFlag {
	width: 100%;
	height: 100%;
	/* Center the image horizontally and vertically. */
	object-fit: contain;
	/*box-shadow: 0 0 0 1px currentColor;*/
}

.CommentFooterBadge-icon--banned {
	color: var(--CommentAuthorBannedIcon-color);
}

.CommentFooterBadge-icon--ownComment,
.CommentFooterBadge-icon--replyToOwnComment {
	color: var(--Clickable-color--text);

	/*
	[data-foreground-fill] {
		fill: var(--Post-backgroundColor);
	}

	[data-foreground-stroke] {
		stroke: var(--Post-backgroundColor);
	}
	*/
}

.CommentFooterBadge-icon--replyToOwnComment {
	width: auto;
	height: calc(var(--CommentFooterBadge-height) * 1.35);
}