@import "../styles/common";

.webpage {
	display: flex;
	/* For z-index ordering (relative to preloading screen). */
	/* Otherwise preloading screen will always be above content (even when it's not shown). */
	position: relative;
	z-index: 0;
}

/* Content takes all free space */
.webpage__content {
	position : relative;
	z-index  : 0;

	margin-top: var(--Header-height);

	flex-shrink : 0;
	flex-grow   : 1;
	flex-basis  : auto;

	/* Is focusable (for keyboard navigation: page up, page down). */
	outline: none;

	@mixin m {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.webpage--offline {
	--Header-height: 0;
}

.webpage__content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* Stretches the page to 100% height. */
	min-height: 100vh;
	/* Prevents horizontal overflow. */
	width: 100%;
	max-width: 100%;
}

.rrui__slideshow {
	z-index: var(--slideshow-z-index);
}

/*
.thread-comment,
.settings-page .content-section {
	@mixin upto-s {
		border-radius: 0;
	}
}
*/

.board-page__title {
	margin-left: var(--unit);
	margin-right: var(--unit);
}

.rrui__slideshow--fullscreen {
	z-index: var(--slideshow-z-index);
}

.page__heading,
.page__heading-text,
.rrui__modal__title {
	line-height: 1.35em;
	font-size: 1.3rem;
	font-weight: 400;

	@mixin l-plus {
		line-height: 1.4em;
		font-size: 1.4rem;
	}
}

.page__heading-text {
	margin: 0;
}

.page__heading {
	margin-top: var(--unit);
	margin-bottom: var(--unit);
	margin-left: var(--unit);
	margin-right: var(--unit);
	/*min-height: calc(var(--unit) * 3);*/
	text-align: center;
	@mixin s {
		margin-top: calc(var(--unit) / 2);
		margin-bottom: calc(var(--unit) / 2);
	}
	@mixin xs {
		margin-top: calc(var(--unit) / 3);
		margin-bottom: calc(var(--unit) / 3);
	}
	@mixin xxs {
		margin-top: calc(var(--unit) / 4);
		margin-bottom: calc(var(--unit) / 4);
	}
}

.text-content {
	width: 100%;
	max-width: var(--Text-maxWidth);
}

:root {
	--Content-maxWidth: var(--Text-maxWidth);
}

.webpage__content-container {
	flex-basis: var(--Content-maxWidth);
}

.webpage--board,
.webpage--thread {
	--Content-maxWidth: calc(3 * var(--Post-padding--horizontal) + var(--PostThumbnail-maxWidth) + var(--Text-maxWidth));
	main {
		width: 100%;
		max-width: var(--Content-maxWidth);
		/* Center horizontally. */
		margin-left: auto;
		margin-right: auto;
	}
}

.content {
	padding-left: var(--PageContent-padding);
	padding-right: var(--PageContent-padding);

	/* Prevents horizontal overflow of a page. */
	width: 100%;
}

/* These two override `padding-left` and `padding-right` on `.content`. */
.thread-page,
.board-page {
	--PageContent-padding: 0px;
}

/*
.webpage--content-sections {
	.background-content {
		padding-left: 0;
		padding-right: 0;
	}
}
*/

@mixin upto-m {
	.webpage--content-sections {
		.content {
			--PageContent-padding: 0px;
		}
		.background-content {
			padding-left: var(--unit);
			padding-right: var(--unit);
		}
		/*
		If comments don't have any side padding
		then the root replies branch line would be ineligible
		because it would be drawn at the very screen edge.
		This CSS class can be used for styling such special case.
		*/
		.comment-tree {
			--comment-tree-root-level-replies-branch-width-factor: 0.75;
		}
	}
}

@mixin upto-m {
	.sidebar {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: var(--FooterMenu-height);
		z-index: var(--sidebar-z-index);
	}
	.sidebar--show {
		display: block;
	}
	/* The extra specificity is to override .home-page__show-boards-list { display: none }. */
	.home-page {
		.home-page__show-boards-list {
			display: block !important;
		}
	}
}

@mixin l-plus {
	body {
		--Header-height: calc(var(--unit) * 3);
		--Sidebar-width: calc(var(--unit) * 23);
		--FooterMenu-height: 0px;
	}

	.webpage__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	.sidebar {
		display: block;
		position: sticky;
		top: var(--Header-height);
		flex-basis: var(--Sidebar-width);
		min-height: calc(100vh - var(--Header-height));
		max-height: calc(100vh - var(--Header-height));
	}

	.webpage__padding-left,
	.webpage__padding-right {
		min-width: 0;
	}

	.webpage__content-container {
		flex-grow: 0;
		flex-shrink: 1;
	}

	.webpage__padding-left {
		flex-grow: 1;
	}

	.webpage__padding-right {
		flex-grow: 0.6;
	}

	.sidebar {
		flex-grow: 0.1;
	}

	.webpage--board,
	.webpage--thread {
		.text-content {
		  width: 100%;
			max-width: var(--Text-maxWidth);
		}
	}

	.board-page__title {
		margin-left: 0;
		margin-right: 0;
	}

	.footer .application-menu {
		display: none;
	}

	/* Move notifications to the right side
	   because they aren't that eligible when shown
	   above the sidebar with the boards list. */
	/* Update: Sidebar has been moved to the right side. */
	/*
	.rrui__snackbar__container {
		justify-content: flex-end;
	}
	*/
}

@mixin xl-plus {
	.webpage__padding-left {
		flex-grow: 2;
	}
	.webpage__padding-right {
		flex-grow: 0.5;
	}
	.sidebar {
		flex-grow: 1.5;
		flex-basis: 0;
	}
	.webpage--board,
	.webpage--thread {
		.webpage__padding-left {
			flex-grow: 2;
		}
		.webpage__padding-right {
			flex-grow: 1;
		}
		.sidebar {
			flex-grow: 1;
			/* `flex-basis` must equal to `.thread-comment__thumbnail` width + margins:
			   this makes thread comment text be centered on screen. */
			flex-basis: calc(var(--PostThumbnail-maxWidth) + 2 * var(--Picture-borderWidth) + var(--PostThumbnail-marginRight));
		}
	}
}