@import "../styles/common";

/* Stretches the page to 100% height */
.webpage
{
	/* For z-index ordering (relative to preloading screen) */
	position : relative;
	z-index  : 0;

	display        : flex;
	flex-direction : column;
	min-height     : 100vh;
}

.webpage--loading
{
	/*
	`react-waypoint` wouldn't work correctly with `display: none` -> `display: block`.
	https://github.com/brigade/react-waypoint/issues/164#issuecomment-299640438
	display: none;
	*/
	visibility: hidden;
}

/* Content takes all free space */
.webpage__content
{
	position : relative;
	z-index  : 0;

	flex-shrink : 0;
	flex-grow   : 1;
	flex-basis  : auto;

	margin-top : var(--header-height);

	background-color : var(--background-color);

	@mixin xs
	{
		margin-bottom : ;
	}
}

.react-website__loading--initial
{
	background-color : white;
}

.react-website__loading--initial .react-website__loading-spinner
{
	color : rgba(0, 0, 0, 0.25);
}

.rrui__slideshow
{
	z-index: var(--slideshow-z-index);
}