@import "../styles/common";

.webpage {
	display: flex;
	/* For z-index ordering (relative to preloading screen). */
	/* Otherwise preloading screen will always be above content (even when it's not shown). */
	position: relative;
	z-index: 0;
}

/* Content takes all free space */
.webpage__content {
	position : relative;
	z-index  : 0;

	margin-top: var(--Header-height);

	flex-shrink : 0;
	flex-grow   : 1;
	flex-basis  : auto;

	/* Is focusable (for keyboard navigation: page up, page down). */
	outline: none;

	@mixin m {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.webpage--offline {
	--Header-height: 0px;
	.webpage__content-container {
		margin-left: auto;
		margin-right: auto;
	}
}

.webpage__content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* Stretches the page to 100% height. */
	min-height: 100vh;
	/* Prevents horizontal overflow. */
	width: 100%;
	max-width: 100%;
}

/*
.thread-comment,
.settings-page .content-section {
	@mixin upto-s {
		border-radius: 0;
	}
}
*/

.board-page__title {
	margin-left: var(--unit);
	margin-right: var(--unit);
}

.page__heading,
.page__heading-text,
.rrui__modal__title {
	line-height: 1.35em;
	font-size: 1.3rem;
	font-weight: 400;

	@mixin l-plus {
		line-height: 1.4em;
		font-size: 1.4rem;
	}
}

.page__heading-text {
	margin: 0;
}

.page__heading {
	@mixin xxs {
		--PageHeading-marginTop: calc(var(--unit) / 4);
	}
	@mixin xs {
		--PageHeading-marginTop: calc(var(--unit) / 3);
	}
	@mixin s {
		--PageHeading-marginTop: calc(var(--unit) / 2);
	}
	@mixin m-plus {
		--PageHeading-marginTop: var(--unit);
	}
	margin-left: var(--unit);
	margin-right: var(--unit);
	margin-top: var(--PageHeading-marginTop);
	margin-bottom: var(--PageHeading-marginTop);
	/*min-height: calc(var(--unit) * 3);*/
	text-align: center;
}

.text-content {
	width: 100%;
	max-width: var(--Text-maxWidth);
}

:root {
	--Content-maxWidth: var(--Text-maxWidth);
}

.webpage__content-container {
	flex-basis: var(--Content-maxWidth);
}

.webpage--board,
.webpage--thread {
	--Content-maxWidth: calc(3 * var(--Post-padding--horizontal) + var(--PostThumbnail-maxWidth) + var(--Text-maxWidth));
	main {
		width: 100%;
		max-width: var(--Content-maxWidth);
		/* Center horizontally. */
		margin-left: auto;
		margin-right: auto;
	}
}

.content {
	padding-left: var(--PageContent-padding);
	padding-right: var(--PageContent-padding);

	/* Prevents horizontal overflow of a page. */
	width: 100%;
}

/* These two override `padding-left` and `padding-right` on `.content`. */
.thread-page,
.board-page {
	--PageContent-padding: 0px;
}

/*
.webpage--content-sections {
	.background-content {
		padding-left: 0;
		padding-right: 0;
	}
}
*/

@mixin upto-m {
	.webpage--content-sections {
		.content {
			--PageContent-padding: 0px;
		}
		.background-content {
			padding-left: var(--unit);
			padding-right: var(--unit);
		}
		/*
		If comments don't have any side padding
		then the root replies branch line would be ineligible
		because it would be drawn at the very screen edge.
		This CSS class can be used for styling such special case.
		*/
		.comment-tree {
			--comment-tree-root-level-replies-branch-width-factor: 0.75;
		}
	}
}

@mixin upto-m {
	.Sidebar {
		transform: translateX(100%);
		/* `box-shadow` is animated at XS-M screen sizes. */
		transition: transform 160ms ease-out, box-shadow 160ms ease-out;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: var(--FooterMenu-height);
		z-index: var(--sidebar-z-index);
		/*background-color: var(--Sidebar-backgroundColor--collapsible);*/
	}
	/*.light, .dark {
		--Sidebar-highlightColor-100: var(--Sidebar-highlightColor-100--collapsible);
		--Sidebar-highlightColor-200: var(--Sidebar-highlightColor-200--collapsible);
	}*/
	.Sidebar--show {
		transform: none;
	}
	/* The extra specificity is to override .home-page__show-boards-list { display: none }. */
	.home-page {
		.home-page__show-boards-list {
			display: block !important;
		}
	}
}

@mixin xs-m {
	.Sidebar {
		left: auto;
		width: $screen-xs-min;
	}
	.Sidebar--show {
		/* `box-shadow` adds some extra eligibility but at the same time
		   it makes the left border stand out a bit more that in turn
		   makes the move-in/move-out animation a bit more distracting.
		   The extra eligibility is desireable at screen sizes when
		   the sidebar is not full-width. Otherwise, it's not required. */
		box-shadow: 0 0 5px rgba(0,0,0,0.05);
	}
}

@mixin upto-s {
	:root {
		--Header-height: 0px;
	}
}

@mixin m-plus {
	.webpage__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: var(--Header-zIndex);
	}
}

@mixin l-plus {
	:root {
		--FooterMenu-height: 0px;
	}

	.Sidebar {
		position: sticky;
		top: var(--Header-height);
		min-height: calc(100vh - var(--Header-height));
		max-height: calc(100vh - var(--Header-height));
		min-width: var(--Sidebar-minWidth);
		/* Resets any `transform`/`transition`/`box-shadow`
		   potentially set on XS-S-size screens. */
		transform: none;
		transition: none;
		box-shadow: none;
	}

	.webpage--board,
	.webpage--thread {
		.text-content {
		  width: 100%;
			max-width: var(--Text-maxWidth);
		}
	}

	.board-page__title {
		margin-left: 0;
		margin-right: 0;
	}

	.Footer .application-menu {
		display: none;
	}

	/*.webpage__padding-left,
	.webpage__padding-right {
		min-width: 0;
	}*/
	.webpage__content-container {
		flex-grow: 0;
		/* Is shrinkable so that it leaves some space
		   to the sidebar on smaller screens. */
		/*flex-shrink: 1;*/
	}
	.webpage__padding-left {
		flex-grow: var(--PaddingLeft-flexGrow);
	}
	.webpage__padding-right {
		flex-grow: var(--PaddingRight-flexGrow);
	}
	.Sidebar {
		flex-grow: var(--Sidebar-flexGrow);
		flex-basis: var(--Sidebar-flexBasis);
	}
	:root {
		--PaddingRight-flexGrow--wide: 0.1;
		--Sidebar-flexGrow--wide: calc(var(--PaddingRight-flexGrow) + var(--Sidebar-flexGrow) - var(--PaddingRight-flexGrow--wide));
	}

	/* Move notifications to the right side
	   because they aren't that eligible when shown
	   above the sidebar with the boards list. */
	/* Update: Sidebar has been moved to the right side. */
	/*
	.rrui__snackbar__container {
		justify-content: flex-end;
	}
	*/
}

@mixin l-xl {
	/* On "xxl" screens (1440p and larger) the screen width is enough
	   no not widen the sidebar for "wide" content.
	   This results in better UX because sidebar width doesn't "jump"
	   when switching to "Tracked threads" / "Notifications". */
	.webpage--wide-sidebar {
		--PaddingRight-flexGrow: var(--PaddingRight-flexGrow--wide);
		--Sidebar-minWidth: var(--Sidebar-minWidth--wide);
		--Sidebar-flexGrow: var(--Sidebar-flexGrow--wide);
	}
}

@mixin l {
	/* Flexbox proportions. */
	:root {
		--PaddingLeft-flexGrow: 1;
		--PaddingRight-flexGrow: 0.3;
		--Sidebar-flexBasis: var(--Sidebar-minWidth);
		--Sidebar-flexGrow: 0.4;
		--Sidebar-minWidth: calc(var(--unit) * 23);
		--Sidebar-minWidth--wide: calc(var(--unit) * 36);
	}
}

@mixin xl-plus {
	/* Flexbox proportions. */
	:root {
		--PaddingLeft-flexGrow: 1;
		--PaddingRight-flexGrow: 0.25;
		--PaddingRight-flexGrow--thread: var(--PaddingRight-flexGrow); /* 0.5; */
		/* Setting sidebar `flex-basis` to `0` so that the layout is computed
		   purely via `flex` shares of left padding, right padding and the sidebar
		   resulting in page content always being centered. */
		--Sidebar-flexBasis: 0;
		--Sidebar-flexGrow: calc(var(--PaddingLeft-flexGrow) - var(--PaddingRight-flexGrow));
		--Sidebar-flexGrow--thread: calc(var(--PaddingRight-flexGrow) + var(--Sidebar-flexGrow) - var(--PaddingRight-flexGrow--thread));
		/* Setting `min-width` to `0` so that flexbox resizes non-central columns
		   only based on their `flex-grow`: this makes it easy to place the central
		   column in the center of the screen. */
		/* Otherwise the layout would "jump" for some weird reason when
		   switching "Tracked threads" / "Notifications" on `/b/` page
		   where thumbnail width is small. */
		--Sidebar-minWidth: 0px;
		/*--Sidebar-minWidth: calc(var(--unit) * 25);*/
		/* Setting `--Sidebar-minWidth--wide` to `--Sidebar-minWidth`
		   so that flexbox doesn't resize non-right-side columns
		   when clicking "Tracked threads" and "Notifications" menu buttons. */
		--Sidebar-minWidth--wide: var(--Sidebar-minWidth);
		/*--Sidebar-minWidth--wide: calc(var(--unit) * 40);*/
	}
	.webpage--board,
	.webpage--thread {
		&:not(.webpage--wide-sidebar) {
			/* These rules must be equal to those in the "xxl-plus" mixin below. */
			--PaddingRight-flexGrow: var(--PaddingRight-flexGrow--thread);
			--Sidebar-flexGrow: var(--Sidebar-flexGrow--thread);
		}
		/* `flex-basis` must be equal to `.thread-comment__thumbnail` width + margins:
		   this makes thread comment text be centered on screen. */
		--Sidebar-flexBasis: calc(var(--PostThumbnail-maxWidth) + 2 * var(--Picture-borderWidth) + var(--PostThumbnail-marginRight));
	}
}

@mixin xxl-plus {
	.webpage--board,
	.webpage--thread {
		/* Overrides the `&:not(.webpage--wide-sidebar)` selector above. */
		&.webpage--wide-sidebar {
			/* These rules must be equal to those in the "xl-plus" mixin above. */
			--PaddingRight-flexGrow: var(--PaddingRight-flexGrow--thread);
			--Sidebar-flexGrow: var(--Sidebar-flexGrow--thread);
		}
	}
}