@import "../styles/common";

.webpage__main
{
	flex: 1;
	display: flex;
	flex-direction: column;
	/* Stretches the page to 100% height */
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

.webpage
{
	display: flex;
	/* For z-index ordering (relative to preloading screen). */
	/* Otherwise preloading screen will always be above content (even when it's not shown). */
	position: relative;
	z-index: 0;
}

/* Content takes all free space */
.webpage__content {
	position : relative;
	z-index  : 0;

	flex-shrink : 0;
	flex-grow   : 1;
	flex-basis  : auto;

	/* Is focusable (for keyboard navigation: page up, page down). */
	outline: none;

	@mixin m {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.webpage__content--regular {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.react-website__loading--initial
{
	background-color : white;
}

.rrui__slideshow
{
	z-index: var(--slideshow-z-index);
}

.webpage__main--content-sections {
	background-color: var(--background-color);
}

.thread__comment,
.settings-page .content-section {
	@mixin upto-s {
		border-radius: 0;
	}
}

.board-page__title {
	margin-left: var(--unit);
	margin-right: var(--unit);
}

.rrui__slideshow--fullscreen {
	z-index: var(--slideshow-z-index);
}

.page__heading,
.page__heading-text {
	line-height: 1.35em;
	font-size: 1.3rem;
	font-weight: 300;

	@mixin l-plus {
		line-height: 1.4em;
		font-size: 1.4rem;
	}
}

.page__heading-text {
	margin: 0;
}

.page__heading {
	margin-top: var(--unit);
	margin-bottom: var(--unit);
	margin-left: var(--unit);
	margin-right: var(--unit);
	/*min-height: calc(var(--unit) * 3);*/
	text-align: center;
}

@mixin m-plus {
	.text-content {
	  width: 100%;
		max-width: 50em;
	}
	.webpage__main--content-sections .text-content {
		max-width: 53em;
	}
}

.content {
	padding-left: calc(var(--unit) * 2);
	padding-right: calc(var(--unit) * 2);

	@mixin xxs {
		padding-left: var(--unit);
		padding-right: var(--unit);
	}
}

.webpage__main--content-sections {
	.content {
		margin-left: 0;
		margin-right: 0;
		@mixin l-plus {
			padding-left: calc(var(--unit) * 2);
			padding-right: calc(var(--unit) * 2);
		}
	}
}

@mixin upto-m {
	.sidebar {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: var(--footer-menu-height);
		z-index: var(--sidebar-z-index);
	}
	.sidebar--show {
		display: block;
	}
	/* The extra specificity is to override .home-page__show-boards-list { display: none }. */
	.home-page {
		.home-page__show-boards-list {
			display: block !important;
		}
	}
}

@mixin l-plus {
	body {
		--header-height: calc(var(--unit) * 3);
		--footer-menu-height: 0px;
	}

	.webpage__main {
		max-height: 100vh;
		-webkit-overflow-scrolling: touch;
	}

	.webpage__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: var(--header-height);
		min-height: var(--header-height);
		position: sticky;
		bottom: 0;
	}

	.sidebar {
		display: block;
		flex: 0.3;
		max-width: calc(var(--unit) * 26);
		max-height: 100vh;
		-webkit-overflow-scrolling: touch;
	}

	.board-page__title {
		margin-left: 0;
		margin-right: 0;
	}

	.footer .application-menu {
		display: none;
	}
}