.webpage--boards {
	background-color: var(--Sidebar-backgroundColor);
}

.BoardsPage {
	.BoardsListBoard {
		display: flex;
	}
	.BoardsListBoard-title {
		font-weight: normal;
	}
	.BoardsListBoard:not(:active) {
		.BoardsListBoard-title {
			color: var(--Sidebar-color-900);
		}
	}
	.BoardsListBoard:active {
		.BoardsListBoard-title {
			color: var(--Boards-color--active);
		}
	}
	.BoardsListBoard:hover {
		background-color: var(--Boards-backgroundColor--hover);
		.BoardUrl {
			&:before, &:after {
				color: var(--Boards-color--slashHover);
			}
		}
	}
	.BoardsListBoard:active {
		background-color: var(--Boards-backgroundColor--active);
		.BoardUrl {
			&:before, &:after {
				color: var(--Boards-color--slashActive);
			}
		}
	}
}