.webpage--boards {
	background-color: var(--Sidebar-backgroundColor);
}

.boards-page {
	.boards-list__item {
		display: flex;
	}
	.boards-list__board-name {
		font-weight: normal;
	}
	.boards-list__item:not(:active) {
		.boards-list__board-name {
			color: var(--Sidebar-color);
		}
	}
	.boards-list__item:active {
		.boards-list__board-name {
			color: var(--Boards-color--active);
		}
	}
	.boards-list__item:hover {
		background-color: var(--Boards-backgroundColor--hover);
		.boards-list__board-url {
			&:before, &:after {
				color: var(--Boards-color--slashHover);
			}
		}
	}
	.boards-list__item:active {
		background-color: var(--Boards-backgroundColor--active);
		.boards-list__board-url {
			&:before, &:after {
				color: var(--Boards-color--slashActive);
			}
		}
	}
}