@import "../styles/common";

.BoardPage {
	/* `position: relative` is for <ThreadMenu/> on large screens. */
	position: relative;
	@mixin upto-m {
		--BoardThreadMenu-marginTop: calc(var(--unit) * 0.5);
		--BoardThreadMenu-marginBottom: calc(var(--unit) * 0.5);
	}
}

.BoardPage-header {
	display: block;
	/* `position: relative` is for <BoardMenu/> vertical centring. */
	position: relative;
	.BoardThreadMenu {
		position: absolute;
		right: 0;
		top: 50%;
		margin: 0;
		transform: translateY(-50%);
	}
	.BoardPage-heading {
		margin-top: var(--Heading-marginTop);
		margin-bottom: var(--Heading-marginTop);
		/*margin-bottom: calc(var(--Heading-marginTop) - var(--Comment-marginTop--boardPage));*/
		padding-left: calc(var(--PageContent-paddingLeft) + var(--Post-paddingLeft) + var(--MenuIcon-width));
		padding-right: calc(var(--PageContent-paddingLeft) + var(--Post-paddingLeft) + var(--MenuIcon-width));
		text-align: center;
		/*font-weight: 300;*/
		font-weight: 400;
		font-size: var(--PostTitle-fontSize);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		@mixin m-plus {
			padding-bottom: calc(var(--unit) * 0.25);
			/* Reset the default `line-height` set on `.page__heading`. */
			line-height: initial;
		}
	}
}

.BoardPage-threads {
	--Comment-marginTop: var(--Comment-marginTop--boardPage);
	.Comment-container {
		align-items: stretch;
	}
}

/*
.BoardPage-threads {
	@mixin l-plus {
		margin-top: var(--BoardOrThreadPage-marginTop--largeScreen);
	}
}
*/

/* This CSS class is also used for `.ThreadPage-stats`. */
.BoardPage-menu {
	@mixin upto-m {
		margin-bottom: calc(-1 * var(--unit));
	}
	/*
	@mixin l-plus {
		position: absolute;
		right: 0;
		top: calc((var(--Comment-marginTop--boardPage) - var(--BoardOrThreadPage-marginTop--largeScreen) - var(--MenuIcon-width)) / 2);
	}
	*/
}

.BoardPage-apiBoardEmptyNoteTwoChannel {
	margin-top: calc(var(--unit) * 2);
	margin-bottom: calc(var(--unit) * 2);
	text-align: center;
}