@import "../styles/common";

.board-page__threads {
	.thread__comment {
		margin-top: calc(var(--unit) * 1);
		margin-bottom: calc(var(--unit) * 1);
	}
	.thread__comment-container:first-child {
		.thread__comment {
			margin-top: 0;
		}
	}
	.thread__comment-container:last-child {
		.thread__comment {
			margin-bottom: 0;
		}
	}
}

.board-page__api-bug-note {
	margin-top: calc(var(--unit) * 2);
	margin-bottom: calc(var(--unit) * 2);
	text-align: center;
}