.ChannelsPage {
	.ChannelsListChannel {
		display: flex;
	}
	.ChannelsListChannel-title {
		font-weight: normal;
	}
	.ChannelsListChannel {
		.ChannelsListChannel-title {
			color: var(--Sidebar-color-900);
		}
	}
	.ChannelsListChannel:hover {
		--ChannelUrl-slash-color: var(--ChannelUrl-slash-color--hover);
		background-color: var(--Channels-backgroundColor--hover);
	}
	.ChannelsListChannel:active {
		--ChannelUrl-slash-color: var(--ChannelUrl-slash-color--active);
		background-color: var(--Channels-backgroundColor--active);
		.ChannelsListChannel-title {
			color: var(--Channels-color--active);
		}
	}
}

.ChannelsPage--onBackground {
	&:before {
		position: absolute;
		width: calc(100% + var(--Webpage-paddingLeft-width) + var(--Webpage-paddingRight-width));
		height: calc(100% + var(--Footer-marginTop--onBackground));
		margin-left: calc(-1 * var(--Webpage-paddingLeft-width));
		margin-right: calc(-1 * var(--Webpage-paddingRight-width));
		background-color: var(--OnBackground-backgroundColor);
		opacity: var(--OnBackground-opacity--content);
		top: 0;
		left: 0;
		z-index: -1;
		content: '';
	}
}
