@import "../styles/common";

.home-page {
	display: flex;
	justify-content: center;
}

.home-page__logo {
	height: 1.2em;
	margin-right: 0.25em;
}

.home-page__logo-link {
	color: inherit;
}

.home-page__brand {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: calc(var(--unit) * 6);
	font-size: 3.5rem;
	color: inherit;
}

.home-page__subtitle {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1rem;
}

.home-page__description {
	margin-top: calc(var(--unit) * 6);
	margin-bottom: 0;
}

.home-page__announcement,
.home-page__show-boards-list {
	margin-top: calc(var(--unit) * 2);
	margin-bottom: 0;
}

.home-page__description,
.home-page__announcement {
	line-height: 1.35em;
}

.home-page__show-boards-list {
	display: none;
	text-align: center;
	button {
		color: var(--base-color-700);
	}
}