.thread-page__header {
	display: flex;
	flex-direction: column;
}

.thread-page {
	h1.page__heading {
		margin-top: 0;
	}
	.thread__comment {
		border-bottom: 1px solid rgba(0,0,0,0.15);
		border-radius: 0;
		box-shadow: none;
	}
}

.thread-page__header + .thread__comment-container {
	.thread__comment {
		margin-top: 0;
	}
	/* Add extra spacing for the first post's header
	   because it displays thread stats (comments count, attachments count). */
	.post--compact .post__footer {
		padding-top: 0.2em;
	}
}