.SidebarLeft {
	border-right: 1px solid var(--Sidebar-borderColor);

	.ChannelHeader {
		flex: 1;
		max-width: 100%;

		.Toolbar {
			padding-right: 0;
		}
	}
}

.SidebarLeft--hide {
	visibility: hidden;
}