@import "../../styles/common.css";

.ChannelPage {
	@mixin upto-m {
		--Toolbar-marginTop: calc(var(--unit) * 0.5);
		--Toolbar-marginBottom: calc(var(--unit) * 0.5);
	}
}

.ChannelPage-threads {
	--Comment-marginTop: var(--Comment-marginTop--channelPage);
	.Comment-container {
		align-items: stretch;
	}
}

/*
.ChannelPage-threads {
	@mixin l-plus {
		margin-top: var(--ChannelOrThreadPage-marginTop--largeScreen);
	}
}
*/

/* This CSS class is also used for `.ThreadPage-stats`. */
/*.ChannelHeader-toolbar {
	@mixin upto-m {
		margin-bottom: calc(-1 * var(--unit));
	}*/
	/*
	@mixin l-plus {
		position: absolute;
		right: 0;
		top: calc((var(--Comment-marginTop--channelPage) - var(--ChannelOrThreadPage-marginTop--largeScreen) - var(--MenuIcon-width)) / 2);
	}
	*/
/*}*/

.ChannelPage-apiChannelEmptyNoteTwoChannel {
	margin-top: calc(var(--unit) * 2);
	margin-bottom: calc(var(--unit) * 2);
	text-align: center;
}

.Comment--latestComments {
	margin-left: var(--Comment-marginLeft--latestComments);
	width: calc(100% - var(--Comment-marginLeft--latestComments));
}