@import "../../styles/common.css";

.ChannelCreateThreadButton-container {
}

.ChannelCreateThreadButton {
	/* Align the button to the right side. */
	margin-left: auto;

	@mixin upto-m {
		padding-right: var(--unit);
	}
}

.ChannelCreateThreadButton--onBackground {
	height: var(--Button-height--singleLine);

	--Button-opacity: var(--OnBackground-opacity--clickable);
	--Button-color: var(--Clickable-color--text);
	--Button-backgroundColor: var(--OnBackground-backgroundColor);
}