@import "../../styles/common.css";

.ChannelCreateThreadButton-container {
	margin-top: var(--ChannelCreateThreadButton-marginTop);
	margin-bottom: var(--ChannelCreateThreadButton-marginTop);
}

.ChannelCreateThreadButton {
	/* Align the button to the right side. */
	margin-left: auto;

	@mixin upto-m {
		padding-right: var(--unit);
	}
}