.ReportCommentForm-proxyCaution {
	color: var(--Content-color-600);
	font-size: 85%;
	margin-top: var(--unit);
	margin-bottom: 0;
}

.ReportCommentForm-subtitle {
	margin-bottom: 1em;
}

.ReportCommentForm-chooseReportViolationTypeRequiredError {
	color: var(--Critical-color);
}