@import "../styles/common";

.announcement {
	display: flex;
	align-items: center;
	width: 100%;
	top: var(--header-height);
	padding-left: var(--unit);
	padding-right: var(--unit);
	padding-top: calc(var(--unit) * 0.5);
	padding-bottom: calc(var(--unit) * 0.5);
	background-color: var(--Announcement-backgroundColor);
	color: var(--Announcement-color);
	border-bottom: var(--Announcement-borderWidth) solid var(--Announcement-borderColor);
}

@mixin upto-xs {
	.announcement--button {
		padding-bottom: var(--unit);
		flex-direction: column;
		.announcement__content {
			padding-right: 0;
			margin-bottom: var(--unit);
		}
	}
}

.announcement__content {
	flex: 1;
	padding-right: var(--unit);
}

.announcement__close {
	width: calc(var(--unit) * 1);
	height: calc(var(--unit) * 1);
	&:focus {
		color: var(--Clickable-color--text);
	}
	&:active {
		color: var(--Clickable-color);
	}
}

.announcement__close-icon {
	display: block;
	width: 100%;
	height: 100%;
}