@import "../styles/common";

.boards {
	display: flex;
	flex-direction: column;
	align-content: center;
	overflow-x: hidden;

	@mixin l {
		font-size: 0.85em;
	}
}

.boards-list {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	user-select: none;
}

.boards-list--default {
	margin-top: var(--unit);
}

.boards__view-switcher {
	margin-bottom: var(--unit);
}

.boards-list-section__pre-title {
	grid-column: span 1;
}

.boards-list-section__title {
	grid-column: span 1;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-size: 1.3rem;
	font-weight: 300;
	color: var(--gray-color);
	overflow: hidden;
	text-overflow: ellipsis;
}

.boards-list-section__title--first {
	margin-top: 0.5em;
}

.boards-list__board-container {
	grid-column: span 1;
	text-align: right;
}

.boards-list__board-name-container {
	grid-column: span 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.boards-list__board-url {
	padding-right: var(--unit);
	font-family: monospace;
	/* Don't wrap the side slashes. */
	white-space: nowrap;

	&:before,
	&:after {
		content: '/';
		display: inline-block;
		color: var(--gray-color-light);
	}
}

.boards-list__board-name {
	/*max-width: 12.5em;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: currentColor;
}

.boards-list__board-url,
.boards-list__board-name {
	display: inline-block;
	line-height: calc(var(--unit) * 2);
	vertical-align: bottom;
}

.boards__view-switcher {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boards__view-switch {
	color: currentColor;
}

.boards__view-switch--selected {
	pointer-events: none;
	/* border-bottom: 1px solid var(--base-color); */
}

.boards__view-switch-divider {
	width: 1px;
	min-width: 1px;
	height: 1em;
	color: var(--gray-color-light);
	background-color: currentColor;
	margin-left: 1em;
	margin-right: 1em;

	@mixin m {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

.boards__toggle-wrapper {
	display: none;
	text-align: center;
}

.boards__toggle {
	margin-top: var(--unit);
	color: var(--base-color);
	cursor: pointer;

	&:active {
		color: var(--base-color-dark);
	}
}