@import "../styles/common";

.Boards {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.Boards-list--grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	.BoardsListSectionHeader-urlPlaceholder,
	.BoardsListSectionHeader-title,
	.BoardsListBoard-url,
	.BoardsListBoard-title {
		grid-column: span 1;
	}
}

.BoardsListBoard-url,
.BoardsListBoard-title {
	height: var(--List-lineHeight);
	line-height: calc(var(--List-lineHeight) - 2 * 1px);
	border-top: 1px solid var(--Boards-borderColor);
	border-bottom: 1px solid var(--Boards-borderColor);
}

.Boards-list {
	user-select: none;
	/*line-height: var(--List-lineHeight);*/
}

.BoardsListSectionHeader-title {
	margin-top: 0.9em;
	margin-bottom: 0.2em;
	padding-left: var(--unit);
	font-size: 1.2em;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
}

.BoardsListSectionHeader-title--first {
	margin-top: 0;
}

.BoardsListBoard-url {
	display: block;
	text-align: right;
	outline: none;
	padding-left: var(--unit);
	.BoardUrl {
		&:before,
		&:after {
			color: var(--Boards-color--slash);
		}
	}
}

.BoardsListBoard-title {
	display: block;
	padding-left: var(--unit);
	padding-right: var(--unit);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--Boards-color);
}

.BoardsViewSwitcher {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: var(--unit);
	margin-left: var(--unit);
	margin-right: var(--unit);
	color: var(--Boards-color--viewSwitcher);
}

.BoardsViewSwitcher-switch {
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* Resets `react-responsive-ui` `<Button/>` color transition. */
	transition: none;
	color: currentColor;
	&:hover {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px var(--Boards-backgroundColor--active);
	}
	&:focus {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px var(--Boards-backgroundColor--active);
	}
	&:active {
		color: currentColor;
		background-color: var(--Boards-backgroundColor--active);
	}
}

.Boards-showAll {
	display: inline-block;
	padding-top: calc(var(--unit) * 0.5);
	padding-bottom: calc(var(--unit) * 0.5);
	padding-left: var(--unit);
	padding-right: var(--unit);
	color: var(--Boards-color--active);
	&:active {
		background-color: var(--Boards-backgroundColor--hover);
	}
}

.Boards-showAllWrapper {
	margin-top: calc(var(--unit) * 1.5);
	text-align: center;
}

.Boards-search {
	width: 100%;
	max-width: 26em;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--unit) * 2);
	margin-bottom: calc(var(--unit) * 2);
	--rrui-input-field-background-color-focus: var(--Boards-backgroundColor);
	--rrui-input-field-text-color: var(--Sidebar-color-900);
}

.Boards-nothingFound {
	margin-top: calc(var(--unit) * 2);
	text-align: center;
	color: var(--Sidebar-color-900);
}

.BoardsListBoard-title {
	font-weight: var(--Boards-fontWeight);
}

.BoardsListBoard-url {
	color: var(--Boards-color--active);
}

.BoardsListBoard-url--selected,
.BoardsListBoard-title--selected {
	background-color: var(--Boards-backgroundColor--selected);
	--Boards-borderColor: var(--Boards-borderColor--selected);
}

.BoardsListBoard-url--selected {
	.BoardUrl {
		&:before, &:after {
			color: var(--Boards-color--slashSelected);
		}
	}
}

.BoardsListBoard-url--hover,
.BoardsListBoard-title--hover {
	background-color: var(--Boards-backgroundColor--hover);
}

.BoardsListBoard-url--hover {
	.BoardUrl {
		&:before, &:after {
			color: var(--Boards-color--slashHover);
		}
	}
}

.BoardsListBoard-url--active,
.BoardsListBoard-title--active {
	background-color: var(--Boards-backgroundColor--active);
}

.BoardsListBoard-url--active {
	.BoardUrl {
		&:before, &:after {
			color: var(--Boards-color--slashActive);
		}
	}
}

.BoardsListBoard-title--active,
/* `.BoardsListBoard-url:active` is for cases
   when the "url" part of the link is clicked. */
/* Using the `a.` prefix so that `<div/>`s aren't colored
   when clicked in `<EditFavoriteBoards/>`. */
a.BoardsListBoard-url:active,
/* `:active` is for cases when the link is clicked and dragged. */
a.BoardsListBoard-title:active {
	color: var(--Boards-color--active);
}

.BoardsListBoard-title {
	padding-right: calc(var(--unit) * 2);
}