.board-url {
	/* Using `<span/>` instead of `<div/>`
	   because a `<button/>` can't contain a `<div/>`
	   and `<BoardUrl/>` is used in `optionComponent` of `<Autocomplete/>`. */
	display: block;
	font-family: var(--Boards-fontFamily--url);
	font-weight: var(--Boards-fontWeight--url);
	/* Don't wrap the side slashes. */
	white-space: nowrap;
	&:before,
	&:after {
		content: '/';
		display: inline-block;
		font-family: var(--Document-fontFamily);
		font-weight: 300;
	}
	&:before {
		margin-right: var(--Boards-margin--slash);
	}
	&:after {
		margin-left: var(--Boards-margin--slash);
	}
}
