@import "../styles/common";

.BoardThreadMenu {
	display: flex;
	justify-content: flex-end;
	margin-top: var(--BoardThreadMenu-marginTop);
	margin-bottom: var(--BoardThreadMenu-marginTop);
	/*padding-left: calc(var(--PageContent-paddingLeft) + var(--PageContent-paddingLeft--nonContentSection));*/
	/*padding-right: calc(var(--PageContent-paddingLeft) + var(--PageContent-paddingLeft--nonContentSection));*/
	padding-left: calc(var(--PageContent-paddingLeft) + var(--Post-paddingLeft));
	padding-right: calc(var(--PageContent-paddingLeft) + var(--Post-paddingLeft));
	color: var(--BoardThreadMenu-color);
	--MenuIcon-width: var(--BoardOrThreadMenuIcon-width);
	--Menu-color--selected: var(--BoardThreadMenu-color--selected);
	--Menu-color--active: var(--BoardThreadMenu-color--active);
}