@import "../styles/common";

.boards {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.boards-list--grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	.boards-list-section__pre-title,
	.boards-list-section__title,
	.boards-list__board-url,
	.boards-list__board-name {
		grid-column: span 1;
	}
}

.boards-list {
	margin-top: calc(var(--unit) * 2);
	user-select: none;
	line-height: 1.7em;
}

.boards__view-switcher {
	margin-top: var(--unit);
	margin-bottom: calc(-1 * var(--unit));
	margin-left: var(--unit);
	margin-right: var(--unit);
}

.boards-list-section__title {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding-left: var(--unit);
	font-size: 1.3rem;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
}

.boards-list-section__title--first {
	margin-top: 0;
}

.boards-list__board-url {
	display: block;
	padding-left: var(--unit);
	text-align: right;
	font-family: var(--Boards-fontFamily--url);
	font-weight: var(--Boards-fontWeight--url);
	/* Don't wrap the side slashes. */
	white-space: nowrap;
	outline: none;

	&:before,
	&:after {
		content: '/';
		display: inline-block;
		font-family: var(--Document-fontFamily);
		font-weight: 300;
	}
	&:before {
		margin-right: 0.1em;
	}
	&:after {
		margin-left: 0.1em;
	}
}

.boards-list__board-name {
	display: block;
	padding-left: var(--unit);
	padding-right: var(--unit);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--Boards-color);
}

.boards__view-switcher {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boards__view-switch {
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* Resets `react-responsive-ui` `<Button/>` color transition. */
	transition: none;
}

.boards__show-all {
	padding-top: calc(var(--unit) * 0.5);
	padding-bottom: calc(var(--unit) * 0.5);
	padding-left: var(--unit);
	padding-right: var(--unit);
}

.boards__show-all-wrapper {
	margin-top: calc(var(--unit) * 1.5);
	text-align: center;
}

.boards__search {
	width: 100%;
	max-width: 26em;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--unit) * 2);
	--rrui-input-field-background-color-focus: var(--Boards-backgroundColor);
	--rrui-input-field-text-color: var(--Sidebar-color);
}

.boards__nothing-found {
	margin-top: calc(var(--unit) * 2);
	text-align: center;
	color: var(--Sidebar-color);
}

.boards__view-switch {
	color: currentColor;
	&:hover {
		background-color: transparent;
		box-shadow: 0 0 0 1px var(--Boards-backgroundColor--active);
	}
	&:focus {
		background-color: transparent;
		box-shadow: 0 0 0 1px var(--Boards-backgroundColor--active);
	}
	&:active {
		color: currentColor;
		background-color: var(--Boards-backgroundColor--active);
	}
}

.boards-list__board-name {
	font-weight: var(--Boards-fontWeight);
}

.boards-list-section__title {
	text-overflow: ellipsis;
}

.boards__show-all {
	color: var(--Boards-color--active);
	&:active {
		background-color: var(--Boards-backgroundColor--hover);
	}
}

.boards-list__board-url {
	color: var(--Boards-color--active);
	&:before, &:after {
		color: var(--Boards-color--slash);
	}
}

.boards-list__board-url--selected,
.boards-list__board-name--selected {
	background-color: var(--Boards-backgroundColor--selected);
}

.boards-list__board-url--selected {
	&:before, &:after {
		color: var(--Boards-color--slashSelected);
	}
}

.boards-list__board-url--hover,
.boards-list__board-name--hover {
	background-color: var(--Boards-backgroundColor--hover);
}

.boards-list__board-url--hover {
	&:before, &:after {
		color: var(--Boards-color--slashHover);
	}
}

.boards-list__board-url--active,
.boards-list__board-name--active {
	background-color: var(--Boards-backgroundColor--active);
}

.boards-list__board-url--active {
	&:before, &:after {
		color: var(--Boards-color--slashActive);
	}
}

.boards-list__board-name--active,
/* `.boards-list__board-url:active` is for cases
   when the "url" part of the link is clicked. */
.boards-list__board-url:active,
/* `:active` is for cases when the link is clicked and dragged. */
.boards-list__board-name:active {
	color: var(--Boards-color--active);
}

.boards__view-switcher {
	color: var(--Boards-color--viewSwitcher);
}

.boards-list__board-name {
	padding-right: calc(var(--unit) * 2);
}