@import "../styles/common";

.board-or-thread-menu {
	justify-content: flex-end;
	/*padding-left: calc(var(--PageContent-padding) + var(--PageContent-padding--nonContentSection));*/
	/*padding-right: calc(var(--PageContent-padding) + var(--PageContent-padding--nonContentSection));*/
	padding-left: calc(var(--PageContent-padding) + var(--Post-padding--horizontal));
	padding-right: calc(var(--PageContent-padding) + var(--Post-padding--horizontal));
	color: var(--ThreadActions-color);
	--MenuIcon-width: calc(var(--unit) * 1.25);
	--Menu-color--selected: var(--ThreadActions-color--selected);
	@mixin upto-m {
		margin-top: calc(var(--unit) * 0.5);
		margin-bottom: calc(var(--unit) * 0.5);
	}
	@mixin l-plus {
		position: absolute;
		right: 0;
		top: calc(-1 * var(--BoardOrThreadPage-marginTop--largeScreen) + (var(--BoardOrThreadPage-marginTop--largeScreen) - var(--MenuIcon-width)) / 2);
	}
}