.button
{
	/*display     : flex;
	align-items : center;*/
}

.button--generic,
.button--outline
{
	padding-left : var(--unit);
	padding-right : var(--unit);
	border-radius : var(--border-radius);
	letter-spacing : 0.05em;
}

.button--generic-base-color
{
	background-color : var(--base-color);
	color : var(--white-color);

	&:hover {
		background-color : var(--base-color-light);
	}
}

.button--outline
{
	border : 0.075em solid transparent;
}

.button--outline-base-color
{
	border-color : var(--base-color);
	color : var(--base-color);

	&:hover {
		border-color : var(--base-color-light);
		background-color : var(--base-color-light);
		color : var(--white-color);
	}
}

.button--outline-black-color
{
	border-color : var(--black-color);
	color : var(--black-color);

	&:hover {
		background-color : var(--black-color);
		color : var(--white-color);
	}
}