.card
{
	box-shadow : var(--shadow);
	border-radius : var(--border-radius);
}

.card__action
{
	text-transform: uppercase;

	&:not(:first-child)
	{
		margin-left : var(--unit);
	}
}

.card__action--on-background
{
	color: var(--button-on-background-color);
	background-color: var(--button-on-background-background-color);
	border-radius: var(--border-radius);
	padding-left: var(--unit);
	padding-right: var(--unit);
	letter-spacing : 0.05em;

	&:active {
		color: var(--button-on-background-background-color);
		background-color: var(--button-on-background-color);
	}
}

.card__action--on-background.card__action--primary
{
	background-color: var(--primary-button-on-background-background-color);

	&:active {
		color: var(--primary-button-on-background-background-color);
		background-color: var(--button-on-background-color);
	}
}