:root {
	--ChannelThreadHeader-providerLogo-width: 1em;
	--ChannelThreadHeader-providerLogo-marginRight: 0.4em;
}

.ChannelThreadHeader-providerLogoLink {
	/* Provider SVG logos use "currentColor" in order to be visible
	   both in "light mode" and "dark mode". */
	&, &:active {
		color: inherit;
	}
}

.ChannelThreadHeader-providerLogo {
	position: relative;
	top: calc((1.35em - var(--ChannelThreadHeader-providerLogo-width)) / 2);
	/*width: var(--ChannelThreadHeader-providerLogo-width);*/
	height: var(--ChannelThreadHeader-providerLogo-width);
	margin-right: var(--ChannelThreadHeader-providerLogo-marginRight);
}

.ChannelThreadHeader-providerLogo--spaceEquivalent {
	visibility: hidden;
	margin-left: var(--ChannelThreadHeader-providerLogo-marginRight);
	margin-right: 0;
}