:root {
	--ChannelThreadHeader-dataSourceLogo-width: 1em;
	--ChannelThreadHeader-dataSourceLogo-marginRight: 0.4em;
}

.ChannelThreadHeader-dataSourceLogoLink {
	/* DataSource SVG logos use "currentColor" in order to be visible
	   both in "light mode" and "dark mode". */
	&, &:active {
		color: inherit;
	}
}

.ChannelThreadHeader-dataSourceLogo {
	position: relative;
	top: calc((1.35em - var(--ChannelThreadHeader-dataSourceLogo-width)) / 2);
	/*width: var(--ChannelThreadHeader-dataSourceLogo-width);*/
	height: var(--ChannelThreadHeader-dataSourceLogo-width);
	margin-right: var(--ChannelThreadHeader-dataSourceLogo-marginRight);
}

.ChannelThreadHeader-dataSourceLogo--spaceEquivalent {
	visibility: hidden;
	margin-left: var(--ChannelThreadHeader-dataSourceLogo-marginRight);
	margin-right: 0;
}