.edit-favorite-boards__remove {
	position: absolute;
	right: 0;
	/* `overflow: hidden` doesn't work on `<td/>`s
	   so using `background-color` for the "Remove" button
	   so that it's not obstructed by a long board title. */
	background-color: var(--Sidebar-backgroundColor);
}

.edit-favorite-boards__list {
	width: 100%;
	/* `user-select: none` is for drag'n'drop. */
	user-select: none;
	cursor: grab;
}

.edit-favorite-boards__board {
	display: flex;
	height: var(--List-lineHeight);
	line-height: var(--List-lineHeight);
	.boards-list__board-name {
		padding-right: calc(var(--unit) * 2.5);
	}
}

.edit-favorite-boards__board--dragged {
	background-color: var(--Sidebar-highlightColor-200);
	cursor: grabbing;
}

.edit-favorite-boards__board--dragging {
	.edit-favorite-boards__remove {
		display: none;
	}
}

.edit-favorite-boards__board {
	/* `position: relative` is for the "Remove" button. */
	position: relative;
}

.edit-favorite-boards__search {
	--rrui-input-field-background-color: var(--Sidebar-highlightColor-100);
	--rrui-input-field-background-color-focus: var(--rrui-input-field-background-color);
	--rrui-input-field-background-color-error: var(--rrui-input-field-background-color);
	--rrui-input-field-background-color-error-focus: var(--rrui-input-field-background-color-focus);
	--rrui-input-field-border-bottom-width: 1px;
	--rrui-input-field-border-width: 1px;
	--rrui-input-field-border-color: var(--Sidebar-color-200);
	--rrui-input-field-border-color-focus: var(--Sidebar-baseColor-200);
	--rrui-input-field-border-color-error: var(--rrui-input-field-border-color);
	--rrui-input-field-border-color-error-focus: var(--rrui-input-field-border-color-focus);
	--rrui-input-field-icon-margin-left: calc(var(--unit) * 0.75);
	--rrui-input-field-icon-margin-right: var(--rrui-input-field-icon-margin-left);
	--rrui-options-list-negative-side-margin: 0px;
	padding-left: var(--SidebarSection-paddingLeft);
	padding-right: var(--SidebarSection-paddingLeft);
	margin-bottom: var(--unit);
}

.edit-favorite-boards__search__option {
	display: flex;
	line-height: var(--rrui-list-item-height);
	overflow: hidden;
	.board-url {
		margin-right: var(--unit);
	}
}

.edit-favorite-boards__search {
	.rrui__list__item:not(:active) {
		.board-url {
			color: var(--Sidebar-baseColor-700);
			&:before,
			&:after {
				color: var(--Sidebar-color-200);
			}
		}
	}
}