@import "../styles/common";

body {
	--footer-menu-height: calc(var(--unit) * 3);

	@mixin ml {
		--footer-menu-height: 0px;
	}
	@mixin xl {
		--footer-menu-height: 0px;
	}
}

.footer .application-menu
{
	position : fixed;
	left     : 0;
	right    : 0;
	bottom   : 0;

	height : var(--footer-menu-height);
	background-color : var(--white-color);
	border-top : 1px solid rgba(0,0,0,.0975);

	z-index : var(--header-z-index);
}

.footer
{
	margin-bottom : calc(var(--footer-menu-height) + var(--header-height));
	background-color: var(--background-color);
}

@mixin ml {
	.footer .application-menu {
		display : none;
	}
}

@mixin xl {
	.footer .application-menu {
		display : none;
	}
}

.footer__link {
	color: inherit;
}

.footer__copyright {
	margin-top: 1em;
	margin-bottom: 1em;
	color: var(--gray-color-dark);
	text-align: center;
	font-weight: 300;

	@mixin xl {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}