@import "../styles/common.css";

body {
	/*--FooterMenu-height: calc(var(--unit) * 3);*/
	--FooterMenu-height: 0px;
}

.Footer {
	/* Override ".PostParagraph" margins.
	  (those variables aren't defined). */
	p {
		margin-top: 1em;
		margin-bottom: 0;
	}
}

/* `margin: 0` remove the negative side margin. */
/*.Footer .MainMenu {
	position : fixed;
	left     : 0;
	right    : 0;
	bottom   : 0;

	margin: 0;
	justify-content: space-evenly;

	height: var(--FooterMenu-height);
	color: var(--Header-color);
	background-color: var(--Header-backgroundColor);
	border-top: 1px solid var(--Header-borderColor);

	z-index: var(--header-z-index);
}*/

.Footer {
	margin-top: var(--Footer-marginTop);
	margin-bottom: var(--FooterMenu-height);
}

.Footer-link {
	color: inherit;
}

.Footer-notes {
	/*
	margin-top: 1em;
	margin-bottom: 1em;
	*/
	margin-top: calc(2 * var(--unit));
	margin-bottom: calc(2 * var(--unit));
	text-align: center;
	font-weight: 300;
	font-size: 85%;
}

.Footer-anychanLogo {
	width: 1em;
	height: 1em;
	margin-left: 0.05em;
	margin-right: 0.1em;
	opacity: 0.75;
}

.Footer-links {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.Footer-linkItem {
	display: inline;
	line-height: 1.75em;
	&:after {
		display: inline-block;
		content: '·';
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	&:last-child:after {
		display: none;
	}
}

.Footer-banner {
	margin-bottom: calc(var(--unit) * 2);
	margin-left: calc(-1 * var(--PageContent-paddingLeft));
	margin-right: calc(-1 * var(--PageContent-paddingLeft));
}