@import "../styles/common";

.webpage__header
{
	display: none;

	background-color : var(--white-color);
	color : var(--gray-color-800);
	border-bottom : 1px solid rgba(0,0,0,.0975);
	/*border-top : 1px solid rgba(0,0,0,.0975);*/

	padding-left: var(--unit);
	padding-right: var(--unit);
}

/*
padding-left: var(--content-section-horizontal-padding);
padding-right: var(--content-section-horizontal-padding);
*/

.header__logo-link
{
	height: calc(var(--unit) * 2);
	width: calc(var(--unit) * 2);
	margin-right: calc(var(--unit) * 1);
}

.header__logo
{
	height: 100%;
	width: 100%;
	color: var(--text-color);
}

.header__title
{
	flex: 1;
	display: flex;
	align-items: center;
	/*padding-left: calc(var(--unit) * 2);*/
	font-weight: normal;
	font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__board-title,
.header__thread-title
{
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-button
{
	width  : calc(var(--unit) * 2);
	height : calc(var(--unit) * 2);
	cursor : pointer;
	color  : var(--gray-color-800);
}

.header__link
{
	height : 100%;
	display : flex;
	align-items : center;
}

/*.header__links
{
	height : 100%;
	display : flex;
}*/

.webpage__header {
	.menu-list-item {
		margin-left: var(--unit);
		&:first-child {
			margin-left: 0;
		}
	}
}

.header__separator {
	position: relative;
	width: calc(var(--unit) * 3);
	height: var(--header-height);
}

.header__separator-line {
	position: absolute;
	left: 50%;
	top: -50%;
	width: 1px;
	height: 200%;
	background-color: var(--gray-color-200);
	transform: rotate(20deg);
	transform-origin: center;
}