@import "../styles/common";

.InReplyToModal {
	--CommentSeparator-width: 1px;
	--CommentSeparator-width--outline: 0px;
	/*--InReplyToModalHeader-paddingTop: var(--unit);*/
	--InReplyToModalHeaderBackArrowIcon-width: 0.9em;
	--InReplyToModalHeaderBackArrowIcon-marginRight: 0.2em;
	position: relative;
	width: 100%;
	max-width: var(--Content-maxWidth);
	.rrui__modal__content {
		margin: 0;
	}
	/* Don't show bottom border on comments. */
	.thread-comment--thread {
		border-bottom: none;
	}
	.comment-tree__branch-toggler {
		border-top: var(--CommentSeparator-width) solid var(--CommentSeparator-color);
	}
}

/*.InReplyToModalClose {
	--InReplyToModalClose-width: calc(var(--unit) * 1);
	--InReplyToModalClose-padding: calc(var(--unit) / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: calc(-1 * var(--InReplyToModalClose-padding));
	padding: var(--InReplyToModalClose-padding);
	&:focus {
		color: var(--Clickable-color--text);
	}
	&:active {
		color: var(--Clickable-color--active);
	}
	@mixin m-plus {
		--InReplyToModalClose-padding: var(--unit);
	}
}*/

/*.InReplyToModalCloseIcon {
	display: block;
	width: var(--InReplyToModalClose-width);
	height: var(--InReplyToModalClose-width);
}*/

/*.InReplyToModalHeader {
	position: relative;
	margin: 0;
	padding-left: calc(var(--Post-paddingLeft--thumbnail) + var(--PostThumbnailContainer-width));
	padding-right: var(--Post-padding--horizontal);
	padding-top: var(--InReplyToModalHeader-paddingTop);
	font-weight: lighter;
	@mixin m-plus {
		font-size: 1.2em;
	}
}*/

.InReplyToModalBack {
	--InReplyToModalBack-marginTop: calc(var(--unit) / 2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* Without `z-index: 1` the "Back" button would be hidden under the post header. */
	position: relative;
	z-index: 1;
	margin-left: var(--Post-padding--horizontal);
	margin-top: var(--InReplyToModalBack-marginTop);
	margin-bottom: calc(var(--InReplyToModalBack-marginTop) - var(--Post-padding--vertical));
	font-weight: var(--Post-fontWeight--secondary);
	color: var(--Clickable-color--text);
	&:focus {
		color: var(--Clickable-color--text);
		.InReplyToModalBackText {
			border-bottom: 1px solid currentColor;
		}
	}
	&:active {
		color: var(--Clickable-color--active);
	}
	@mixin m-plus {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		/* The left arrow icon isn't aligned to the left side. The ~20% horizontal shift compensates that. */
		margin-left: calc(var(--Post-paddingLeft--thumbnail) - var(--InReplyToModalHeaderBackArrowIcon-width) * 0.2);
		margin-top: var(--Post-padding--vertical);
		margin-bottom: 0;
	}
}

.InReplyToModalHeaderBackArrowIcon {
	width: var(--InReplyToModalHeaderBackArrowIcon-width);
	height: var(--InReplyToModalHeaderBackArrowIcon-width);
	margin-right: var(--InReplyToModalHeaderBackArrowIcon-marginRight);
}

/*.InReplyToModalHeaderBackArrowIcon--close {
	width: 0.7em;
	height: 0.7em;
	margin-top: 0;
	margin-right: 0.5em;
}*/

.InReplyToModalHeaderCounter {
	margin-right: 0.25em;
	&:before {
		content: '(';
	}
	&:after {
		content: ')';
	}
}

/* Don't show the top border on the main comment. */
.InReplyToModal {
	.rrui__modal__content {
		> .comment-tree {
			> .thread-comment__container {
				> .thread-comment--thread {
					border-top: none;
				}
				/*.thread-comment__thumbnail,
				.thread-comment__comment {
					padding-top: calc(var(--unit) * 0.5);
				}*/
			}
		}
	}
}