/* The `body` prefix selector is here just for CSS selector priority
   in order to override the `color` set in `react-pages/Loading.css`
   on `.react-pages__loading--initial .react-pages__loading-spinner`. */
body {
	.react-pages__loading {
		.react-pages__loading-spinner {
			color: var(--LoadingSpinner-color);
			/*opacity: var(--LoadingSpinner-opacity);*/
			width: var(--LoadingSpinner-width);
			height: var(--LoadingSpinner-width);
	    left: calc((100% - var(--LoadingSpinner-width)) / 2);
	    top: calc((100% - var(--LoadingSpinner-width)) / 2);
			.rrui__activity-indicator__arc {
				border-width: var(--LoadingSpinner-borderWidth);
			}
		}
	}
}