/* This component isn't currently used in the app. */

.Notifications {
	padding-left: calc(var(--unit) * 1);
	padding-right: calc(var(--unit) * 1);
	padding-top: calc(var(--unit) * 1);
	padding-bottom: calc(var(--unit) * 1);
}

.Notifications--empty {
	/*
	display: flex;
	align-items: center;
	justify-content: center;
	*/
	color: var(--Sidebar-color-600);
}

.Notifications-empty {
	margin-top: calc(var(--unit) * 5);
	text-align: center;
}