@import "../styles/common.css";

.PostForm {
	--PostForm-paddingLeft: var(--Post-paddingLeft);
	--PostForm-paddingRight: var(--Post-paddingRight);
	--PostForm-paddingTop: var(--Post-paddingTop);
	--PostForm-paddingBottom: var(--Post-paddingBottom);

	--PostFormActionIcon-width: calc(var(--unit) * 2.2);

	--PostFormAction-paddingLeft: var(--unit);
	--PostFormAction-paddingTop: calc(var(--unit) * 0.75);

	--PostFormClose-padding: calc(var(--unit) * 1);
	--PostFormCloseIcon-width: calc(var(--unit) * 1);

	--PostFormTextInput-marginRight: var(--unit);

  background-color: var(--Post-backgroundColor);
  box-shadow: var(--Comment-boxShadow);
  border: var(--Comment-border);

	padding-top: var(--PostForm-paddingTop);
  padding-bottom: var(--PostForm-paddingBottom);
  padding-left: var(--PostForm-paddingLeft);
  padding-right: var(--PostForm-paddingRight);
}

.PostForm-form {
	--rrui-multiline-text-height: auto;

	display: flex;

	width: 100%;

	/* Loading indicator is `position: absolute`. */
	position: relative;
}

.PostForm-textInputContainer {
	flex: 1;
	margin-right: var(--PostFormTextInput-marginRight);
}

.PostForm-actionIcon {
	width: var(--PostFormActionIcon-width);
	height: var(--PostFormActionIcon-width);
}

.PostForm-action {
	width: calc(var(--PostFormActionIcon-width) + 2 * var(--PostFormAction-paddingLeft));
	height: calc(var(--PostFormActionIcon-width) + 2 * var(--PostFormAction-paddingTop));

	margin-left: calc(-1 * var(--PostFormAction-paddingLeft));
	margin-right: calc(-1 * var(--PostFormAction-paddingLeft));
	margin-top: calc(-1 * var(--PostFormAction-paddingTop));
	margin-bottom: calc(-1 * var(--PostFormAction-paddingTop));

	padding-left: var(--PostFormAction-paddingLeft);
	padding-right: var(--PostFormAction-paddingLeft);
	padding-top: var(--PostFormAction-paddingTop);
	padding-bottom: var(--PostFormAction-paddingTop);

	align-self: flex-end;

	color: var(--Clickable-color--textActive);

	&:active {
		color: var(--Clickable-color);
	}

	/*
	@mixin m-plus {
		margin-right: var(--unit);
		&:last-child {
			margin-right: 0;
		}
	}
	*/

	.rrui__button__busy {
		display: none;
	}
}

.PostForm-close {
	position: absolute;
	top: calc(-1 * var(--PostForm-paddingTop));
	right: calc(-1 * var(--PostForm-paddingRight));

	width: calc(var(--PostFormCloseIcon-width) + 2 * var(--PostFormClose-padding));
	height: calc(var(--PostFormCloseIcon-width) + 2 * var(--PostFormClose-padding));

	color: var(--Content-color-300);

	&:active {
		color: var(--Clickable-color);
		opacity: 0.5;
	}
}

.PostForm-closeIcon {
	width: var(--PostFormCloseIcon-width);
	height: var(--PostFormCloseIcon-width);
}

.PostForm-error {
	color: var(--Critical-color);
}

.PostForm-loading {
	position: absolute;
	/*width: calc(100% - var(--Post-paddingLeft) - var(--PostFormTextInput-marginRight) - var(--PostFormActionIcon-width) - var(--Post-paddingRight));*/
	/*left: var(--Post-paddingLeft);*/
	/*bottom: var(--PostForm-paddingBottom);*/
	width: calc(100% - var(--PostFormTextInput-marginRight) - var(--PostFormActionIcon-width));
	left: 0;
	bottom: 0;
}

.PostForm {
	.rrui__file-upload__area--dragged-over {
		box-shadow: 0 0 0 1px var(--base-color-200);
		background-color: var(--base-color-100);
	}
}

.PostForm-attachments {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.PostForm-attachment {
	margin-bottom: var(--PostForm-paddingBottom);

	overflow: hidden;
	text-overflow: ellipsis;
}

.PostForm-attachments,
.PostForm-attach {
	margin-top: var(--PostForm-paddingBottom);
}

.PostForm-attachIcon {
	width: 1.15rem;
	height: 1.15rem;
	margin-right: 0.35rem;
}