@import "../styles/common.css";

:root {
	--PostForm-backgroundColor: var(--Post-backgroundColor);
	--PostForm-borderColor: var(--Comment-borderColor);

	--PostForm-opacity: initial;

	--PostForm-paddingLeft: var(--Post-paddingLeft);
	--PostForm-paddingRight: var(--Post-paddingRight);
	--PostForm-paddingTop: var(--Post-paddingTop);
	--PostForm-paddingBottom: var(--Post-paddingBottom);

	--PostFormAttachments-marginTop: calc(1.5 * var(--PostForm-paddingBottom));
	--PostFormAttachments-paddingBottom: calc(0.5 * var(--PostForm-paddingBottom));

	--PostFormAttachment-marginTop: calc(1.5 * var(--PostForm-paddingBottom));
	--PostFormAttachment-marginRight: calc(1.5 * var(--PostForm-paddingBottom));

	/* "wwww" file extension fits into the thumbnail. */
	--PostFormAttachmentThumbnail-width: 4rem;
	--PostFormAttachmentThumbnail-height: 4rem;
	--PostFormAttachmentThumbnail-paddingLeft: 0.5rem;

	--PostFormAttachmentTitle-maxWidth: 7rem;
	--PostFormAttachmentTitle-maxHeight: 2.5rem;
	--PostFormAttachmentTitle-marginTop: 0.75rem;

	--PostFormAttachFileIcon-width: calc(var(--unit) * 1.25); /* 1.15rem; */
	--PostFormAttachFileIcon-marginRight: calc(var(--unit) * 0.5); /* 0.35rem; */

	--PostFormGoToSourceIcon-width: var(--unit);
	--PostFormGoToSourceIcon-marginRight: calc(var(--unit) * 0.75);
}

.PostForm {
	--PostFormActionIcon-width: calc(var(--unit) * 2.2);

	--PostFormAction-paddingLeft: var(--unit);
	--PostFormAction-paddingTop: calc(var(--unit) * 0.75);

	--PostFormClose-padding: calc(var(--unit) * 1);
	--PostFormCloseIcon-width: calc(var(--unit) * 1);

	--PostFormTextInput-marginRight: var(--unit);

	--Comment-borderColor: var(--PostForm-borderColor);

	background-color: var(--PostForm-backgroundColor);
	box-shadow: var(--Comment-boxShadow);
	border: var(--Comment-borderWidth) solid var(--Comment-borderColor);
	border-color: var(--PostForm-borderColor);
	border-radius: var(--Comment-borderRadius);
	opacity: var(--PostForm-opacity);

	padding-top: var(--PostForm-paddingTop);
	padding-bottom: var(--PostForm-paddingBottom);
	padding-left: var(--PostForm-paddingLeft);
	padding-right: var(--PostForm-paddingRight);
}

.PostForm-form {
	--rrui-multiline-text-height: auto;

	display: flex;

	width: 100%;

	/* Loading indicator is `position: absolute`. */
	position: relative;
}

.PostForm-textInputContainer {
	flex: 1;
	margin-right: var(--PostFormTextInput-marginRight);
}

.PostForm-actionIcon {
	width: var(--PostFormActionIcon-width);
	height: var(--PostFormActionIcon-width);
}

.PostForm-action {
	width: calc(var(--PostFormActionIcon-width) + 2 * var(--PostFormAction-paddingLeft));
	height: calc(var(--PostFormActionIcon-width) + 2 * var(--PostFormAction-paddingTop));

	margin-left: calc(-1 * var(--PostFormAction-paddingLeft));
	margin-right: calc(-1 * var(--PostFormAction-paddingLeft));
	margin-top: calc(-1 * var(--PostFormAction-paddingTop));
	margin-bottom: calc(-1 * var(--PostFormAction-paddingTop));

	padding-left: var(--PostFormAction-paddingLeft);
	padding-right: var(--PostFormAction-paddingLeft);
	padding-top: var(--PostFormAction-paddingTop);
	padding-bottom: var(--PostFormAction-paddingTop);

	align-self: flex-end;

	color: var(--Clickable-color--textActive);

	&:active {
		color: var(--Clickable-color);
	}

	/*
	@mixin m-plus {
		margin-right: var(--unit);
		&:last-child {
			margin-right: 0;
		}
	}
	*/

	.rrui__button__busy {
		display: none;
	}
}

.PostForm-close {
	position: absolute;
	top: calc(-1 * var(--PostForm-paddingTop));
	right: calc(-1 * var(--PostForm-paddingRight));

	width: calc(var(--PostFormCloseIcon-width) + 2 * var(--PostFormClose-padding));
	height: calc(var(--PostFormCloseIcon-width) + 2 * var(--PostFormClose-padding));

	color: var(--Content-color-300);

	&:active {
		color: var(--Clickable-color);
		opacity: 0.5;
	}
}

.PostForm-closeIcon {
	width: var(--PostFormCloseIcon-width);
	height: var(--PostFormCloseIcon-width);
}

.PostForm-error {
	color: var(--Critical-color);
	margin-top: var(--unit);
}

.PostForm--notExpanded {
	box-shadow: none;

	.PostForm-proxyCaution,
	.PostForm-notWorkingNotice,
	.PostForm-notImplementedNotice,
	.PostForm-goToSource,
	.PostForm-attachFile,
	.PostForm-action {
		display: none;
	}

	.PostForm-textInputContainer {
		margin-right: 0;
	}

	textarea {
		--rrui-input-field-border-color: var(--Content-color-500);

		&::placeholder {
			color: var(--Content-color-700);
		}
	}
}

.PostForm-notImplementedNotice,
.PostForm-notWorkingNotice,
.PostForm-proxyCaution,
.PostForm-goToSource {
	color: var(--TextNote-color);
	font-size: var(--TextNote-fontSize);
	/* font-weight: var(--TextNote-fontWeight); */
	margin-top: var(--unit);
	margin-bottom: 0;
}

.PostForm-notImplementedNotice,
.PostForm-notWorkingNotice,
.PostForm-proxyCaution {
	/* These elements have textual content.
	   Because of that, they have some additional perceived spacing at the top of the "text line",
		 so the `margin-top` is sligtly smaller than `var(--PostForm-paddingBottom)` for those elements. */
	margin-top: var(--unit);
}

.PostForm-goToSource {
	margin-top: var(--PostForm-paddingBottom);
}

.PostForm-goToSourceIcon {
	width: var(--PostFormGoToSourceIcon-width);
	height: var(--PostFormGoToSourceIcon-width);
	margin-right: var(--PostFormGoToSourceIcon-marginRight);
}

.PostForm-loading {
	position: absolute;
	/*width: calc(100% - var(--Post-paddingLeft) - var(--PostFormTextInput-marginRight) - var(--PostFormActionIcon-width) - var(--Post-paddingRight));*/
	/*left: var(--Post-paddingLeft);*/
	/*bottom: var(--PostForm-paddingBottom);*/
	width: calc(100% - var(--PostFormTextInput-marginRight) - var(--PostFormActionIcon-width));
	left: 0;
	bottom: 0;
}

.PostForm {
	width: 100%;
}

.PostForm-attachments {
	margin-top: var(--PostForm-paddingBottom);
}

.PostForm-attachmentsList {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin-top: calc(-1 * var(--PostFormAttachment-marginTop));
	margin-right: calc(-1 * var(--PostFormAttachment-marginRight));

	padding-bottom: var(--PostFormAttachments-paddingBottom);
}

.PostForm-attachment {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: var(--PostFormAttachment-marginTop);
  margin-right: var(--PostFormAttachment-marginRight);

	overflow: hidden;
	text-overflow: ellipsis;
}

.PostForm-attachmentThumbnail {
	position: relative;
}

.PostForm-attachmentFileExtension {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	max-width: calc(var(--PostFormAttachmentThumbnail-width) - 2 * var(--PostFormAttachmentThumbnail-paddingLeft));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.PostForm-attachmentFileExtension--longer {
	/* "wwww" file extension fits. */
	font-size: 95%;
}

.PostForm-attachmentFileExtension--long {
	/* "wwwww" file extension fits. */
	font-size: 75%;
}

.PostForm-attachmentIcon {
	width: var(--PostFormAttachmentThumbnail-width);
	height: var(--PostFormAttachmentThumbnail-height);
}

.PostForm-attachmentTitle {
	max-width: var(--PostFormAttachmentTitle-maxWidth);
	max-height: var(--PostFormAttachmentTitle-maxHeight);

	margin-top: var(--PostFormAttachmentTitle-marginTop);

	/* Long strings can overflow the attachment element max width.
	   `overflow-wrap` in combination with `word-break` fixes that
	   by forcing word breaks on overflow.
	   https://stackoverflow.com/questions/17259916/difference-between-overflow-wrap-and-word-break
	   https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
	   https://developer.mozilla.org/en-US/docs/Web/CSS/word-break */
	overflow-wrap: break-word;
	word-break: break-word;
}

.PostForm {
	.PostAttachments {
		margin-top: var(--PostForm-paddingBottom);
	}
}

.PostForm-attachFile {
	margin-top: var(--PostForm-paddingBottom);
	/* color: var(--TextNote-color); */
	font-size: var(--TextNote-fontSize);
	/* font-weight: var(--TextNote-fontWeight); */
}

.PostForm-attachFileIcon {
	width: var(--PostFormAttachFileIcon-width);
	height: var(--PostFormAttachFileIcon-width);
	margin-right: var(--PostFormAttachFileIcon-marginRight);

	/*
	--LoadingSpinnerRadialBars-width: 1.15rem;
	--LoadingSpinnerRadialBars-element-thickness: 0.075rem;
	--LoadingSpinnerRadialBars-element-length: 0.2rem;
	*/
}

.PostForm-attachFileIcon--loading {
	width: calc(var(--PostFormAttachFileIcon-width) * 0.85);
	height: calc(var(--PostFormAttachFileIcon-width) * 0.85);
	margin-left: calc(var(--PostFormAttachFileIcon-width) * 0.15);
}