.SidebarMenu {
	margin-top: var(--unit);
}

.SidebarMenuItem {
	display: flex;
	align-items: center;
	/* `<button/>` requires `width: 100%` in order to stretch to full width. */
	width: 100%;
	padding-left: calc(var(--unit) * 1);
	padding-right: calc(var(--unit) * 1);
	height: var(--List-lineHeight);
	/* Styles `<Link/>`s and `<button/>`s. */
	color: var(--Clickable-color--text);
	&:active {
		background-color: var(--Boards-backgroundColor--active);
		color: var(--Clickable-color--textActive);
		.SidebarMenuItemTitle {
			color: inherit;
		}
	}
}

.SidebarMenuItem--selected {
	background-color: var(--Boards-backgroundColor--selected);
}

.SidebarMenuItemTitle {
	color: var(--Boards-color);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.SidebarMenuIcon {
	width: calc(var(--unit) * 1.2);
	height: calc(var(--unit) * 1.2);
	margin-right: calc(var(--unit) * 1);
	margin-left: calc(var(--unit) * 0.5);
	/* Prevent the icon from shrinking when title text overflows. */
	flex-shrink: 0;
}