@import "../styles/common";

:root {
	--SideNavMenuButton-offset--horizontal: calc(var(--Post-paddingLeft) - var(--unit) / 2);
	--SideNavMenuButton-width: calc(var(--unit) * 2);
	--SideNavMenuButton-padding: calc(var(--unit) / 2);
	--SideNavMenuButton-marginBottom: calc(var(--unit) * 3);
	--SideNavMenuButton-animationDuration: 120ms;
	/* On tablets in horizontal position the top position is adjusted so that
	   the right hand thumb could (presumably) reach it comfortably. */
	--SideNavMenuButtons-top: 45%;
	@mixin xxs {
		/* On mobile phones the top position is adjusted so that
		   the right hand thumb could (presumably) reach it comfortably. */
		--SideNavMenuButtons-top: 35%;
	}
	/*--SideNavMenuButtonIcon-bar-width: 6%;*/
	--SideNavMenuButtonIcon-bar-width: 4%;
	/* List icon. */
	/*
	--SideNavMenuButtonIcon-bar-translateY--list: 450%;
	--SideNavMenuButtonIcon-bar-translateY--listOutline: 225%;
	--SideNavMenuButtonIcon-bar-translateY--listHover: 550%;
	--SideNavMenuButtonIcon-bar-translateY--listOutlineHover: 275%;
	*/
	--SideNavMenuButtonIcon-bar-translateY--list: 650%;
	--SideNavMenuButtonIcon-bar-translateY--listOutline: 325%;
	--SideNavMenuButtonIcon-bar-translateY--listHover: 750%;
	--SideNavMenuButtonIcon-bar-translateY--listOutlineHover: 375%;
	/* Left arrow icon. */
	--SideNavMenuButtonIcon-scale--leftArrow: 0.75;
	/*
	--SideNavMenuButtonIcon-translateX--leftArrow: 20%;
	--SideNavMenuButtonIcon-translateY--leftArrow: 450%;
	--SideNavMenuButtonIcon-translateY--leftArrowOutline: 225%;
	*/
	--SideNavMenuButtonIcon-translateX--leftArrow: 25%;
	--SideNavMenuButtonIcon-translateY--leftArrow: 600%;
	--SideNavMenuButtonIcon-translateY--leftArrowOutline: 300%;
	/* Cross icon. */
	--SideNavMenuButtonIcon-bar-scale--cross: 0.9;
	/* Rest icon. */
	--SideNavMenuButtonIcon-bar-scale--hidden: 0.9;
}

.SideNavMenuButtons {
	display: none;
	position: fixed;
	/* Setting percentage-based `top` position for `position: fixed`
	   results in it jumping when mobile browser top/bottom bars appear/disappear.
	   Instead, the `top` position is calculated and set in `px` via javascript.
	   The initial `top: 100%` is just to hide the button until javascript is run. */
	/*top: calc(35% - var(--unit) * 2 / 2);*/
	top: 100%;
	left: auto;
	right: var(--SideNavMenuButton-offset--horizontal);
	z-index: var(--SideNavMenuButton-zIndex);
	@mixin upto-m {
		display: block;
	}
}

.SideNavMenuButton {
	width: var(--SideNavMenuButton-width);
	height: var(--SideNavMenuButton-width);
	padding: var(--SideNavMenuButton-padding);
	margin-bottom: var(--SideNavMenuButton-marginBottom);
	color: var(--SideNavMenuButton-color);
	transition: color 60ms;
	box-sizing: content-box;
	/*&:focus,*/
	&:active {
		color: var(--SideNavMenuButton-color--active);
		/*background-color: var(--base-color-200);*/
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.Document--leftHanded {
	.SideNavMenuButtons {
		left: var(--SideNavMenuButton-offset--horizontal);
		right: auto;
	}
}

/* https://codepen.io/bennettfeely/pen/twbyA */

.SideNavMenuButtonIcon {
	position: relative;
	width: 100%;
	height: 100%;
}

.SideNavMenuButtonIcon-bar {
	position: absolute;
	left: 0;
	top: calc((100% - var(--SideNavMenuButtonIcon-bar-width)) / 2);
	width: 100%;
	height: var(--SideNavMenuButtonIcon-bar-width);
	background-color: currentColor;
}

.SideNavMenuButtonIcon--transition .SideNavMenuButtonIcon-bar {
	transition: transform var(--SideNavMenuButton-animationDuration), opacity var(--SideNavMenuButton-animationDuration);
}

.SideNavMenuButtonIcon-bar:nth-child(1),
.SideNavMenuButtonIcon-bar:nth-child(2),
.SideNavMenuButtonIcon-bar:nth-child(3) {
	z-index: 1;
}

.SideNavMenuButtonIcon-bar:nth-child(4),
.SideNavMenuButtonIcon-bar:nth-child(5),
.SideNavMenuButtonIcon-bar:nth-child(6) {
	color: var(--SideNavMenuButtonIcon-borderColor);
	height: calc(2 * var(--SideNavMenuButtonIcon-bar-width));
	top: calc((100% - 2 * var(--SideNavMenuButtonIcon-bar-width)) / 2);
}

/* "List" menu icon. */
.SideNavMenuButtonIcon--list {
	.SideNavMenuButtonIcon-bar {
		/* Top bar. */
		&:nth-child(1) {
			transform: translateY(calc(-1 * var(--SideNavMenuButtonIcon-bar-translateY--list)));
		}
		/* Bottom bar. */
		&:nth-child(3) {
			transform: translateY(var(--SideNavMenuButtonIcon-bar-translateY--list));
		}
		/* Top bar outline. */
		&:nth-child(4) {
			transform: translateY(calc(-1 * var(--SideNavMenuButtonIcon-bar-translateY--listOutline)));
		}
		/* Bottom bar outline. */
		&:nth-child(6) {
			transform: translateY(var(--SideNavMenuButtonIcon-bar-translateY--listOutline));
		}
	}
	&:hover {
		.SideNavMenuButtonIcon-bar {
			/* Top bar. */
			&:nth-child(1) {
				transform: translateY(calc(-1 * var(--SideNavMenuButtonIcon-bar-translateY--listHover)));
			}
			/* Bottom bar. */
			&:nth-child(3) {
				transform: translateY(var(--SideNavMenuButtonIcon-bar-translateY--listHover));
			}
			/* Top bar outline. */
			&:nth-child(4) {
				transform: translateY(calc(-1 * var(--SideNavMenuButtonIcon-bar-translateY--listOutlineHover)));
			}
			/* Bottom bar outline. */
			&:nth-child(6) {
				transform: translateY(var(--SideNavMenuButtonIcon-bar-translateY--listOutlineHover));
			}
		}
	}
}

/*
*/

.SideNavMenuButtonIcon--cross {
	.SideNavMenuButtonIcon-bar {
		/* Hidden bars. */
		&:nth-child(2),
		&:nth-child(5) {
			opacity: 0;
			transform: scale(var(--SideNavMenuButtonIcon-bar-scale--hidden));
		}
		/* Top bar and Top bar outline. */
		&:nth-child(1),
		&:nth-child(4) {
			transform: rotate(-45deg) scale(var(--SideNavMenuButtonIcon-bar-scale--cross));
		}
		/* Bottom bar and Bottom bar outline. */
		&:nth-child(3),
		&:nth-child(6) {
			transform: rotate(45deg) scale(var(--SideNavMenuButtonIcon-bar-scale--cross));
		}
	}
}

.SideNavMenuButtonIcon--leftArrow {
	.SideNavMenuButtonIcon-bar {
		/* Hidden bars. */
		&:nth-child(2),
		&:nth-child(5) {
			opacity: 0;
			transform: scale(var(--SideNavMenuButtonIcon-bar-scale--hidden));
		}
		/* Top bar. */
		&:nth-child(1) {
			transform: rotate(-45deg) scale(var(--SideNavMenuButtonIcon-scale--leftArrow)) translateX(var(--SideNavMenuButtonIcon-translateX--leftArrow)) translateY(calc(-1 * var(--SideNavMenuButtonIcon-translateY--leftArrow)));
		}
		/* Bottom bar. */
		&:nth-child(3) {
			transform: rotate(45deg) scale(var(--SideNavMenuButtonIcon-scale--leftArrow)) translateX(var(--SideNavMenuButtonIcon-translateX--leftArrow)) translateY(var(--SideNavMenuButtonIcon-translateY--leftArrow));
		}
		/* Top bar outline. */
		&:nth-child(4) {
			transform: rotate(-45deg) scale(var(--SideNavMenuButtonIcon-scale--leftArrow)) translateX(var(--SideNavMenuButtonIcon-translateX--leftArrow)) translateY(calc(-1 * var(--SideNavMenuButtonIcon-translateY--leftArrowOutline)));
		}
		/* Bottom bar outline. */
		&:nth-child(6) {
			transform: rotate(45deg) scale(var(--SideNavMenuButtonIcon-scale--leftArrow)) translateX(var(--SideNavMenuButtonIcon-translateX--leftArrow)) translateY(var(--SideNavMenuButtonIcon-translateY--leftArrowOutline));
		}
	}
}