@import "../styles/common";

.Sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border-left: 1px solid var(--Sidebar-borderColor);
	background-color: var(--Sidebar-backgroundColor);
	color: var(--Sidebar-color-900);
}

.Sidebar {
	--Sidebar-fontSize: initial;
	font-size: var(--Sidebar-fontSize);
	.boards {
		overflow-x: hidden;
	}
}

/* Makes the sidebar text smaller for "L" size (< "XL")
   because the sidebar itself is smaller for that size. */
@mixin l {
	.font-size--m {
		.Sidebar {
			--Sidebar-fontSize: 90%;
		}
	}
	.font-size--l {
		.Sidebar {
			--Sidebar-fontSize: 85%;
		}
	}
	.font-size--xl {
		.Sidebar {
			--Sidebar-fontSize: 80%;
		}
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
.Sidebar {
	/* Width */
	&::-webkit-scrollbar {
		width: 4px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
/* Scrollbar colors for a dark sidebar. */
.Sidebar {
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color-600);
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray-color-500);
	}
}

/* `simplebar` style (works in all browsers). */
/* Colors for a dark sidebar. */
.Sidebar {
	.simplebar-scrollbar:before {
		background-color: var(--Sidebar-color-500);
	}
}

.sidebar__scrollable-list {
	height: 100%;
}

@mixin l-plus {
	.SidebarSection--menu {
		display: none;
	}
}