:root {
	--SidebarSection-paddingLeft: var(--unit);
}

.sidebar-section {
	margin-top: calc(var(--unit) * 3);
	&:first-child {
		margin-top: calc(var(--unit) * 2);
	}
	&:last-child {
		margin-bottom: calc(var(--unit) * 2);
	}
}

.sidebar-section__title {
	/* `position: relative` is for the "..." button. */
	position: relative;
	/* `overflow: visible` is for the "..." button. */
	overflow: visible;
	margin-top: 0;
	margin-bottom: var(--unit);
	/* Using `padding-left` / `padding-right` instead of
	   `margin-left` / `margin-right` to prevent the "..."
	   button being cut due to `overflow: hidden`. */
	padding-left: var(--SidebarSection-paddingLeft);
	padding-right: var(--SidebarSection-paddingLeft);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
	text-align: center;
	font-size: 85%;
	font-weight: lighter;
	letter-spacing: 1px;
	color: var(--Sidebar-color--misc);
	user-select: none;
	cursor: default;
}
