@import "../styles/common";

:root {
	--SideNavMenuButton-offset--horizontal: calc(var(--Post-padding--horizontal) - var(--unit) / 2);
	--SideNavMenuButton-width: calc(var(--unit) * 2);
	--SideNavMenuButton-padding: calc(var(--unit) / 2);
	--SideNavMenuButton-animationDuration: 120ms;
	/* On tablets in horizontal position the top position is adjusted so that
	   the right hand thumb could (presumably) reach it comfortably. */
	--SideNavMenuButton-top: 45%;
	@mixin xxs {
		/* On mobile phones the top position is adjusted so that
		   the right hand thumb could (presumably) reach it comfortably. */
		--SideNavMenuButton-top: 35%;
	}
}

.SideNavMenuButton {
	display: none;
	position: fixed;
	/* Setting percentage-based `top` position for `position: fixed`
	   results in it jumping when mobile browser top/bottom bars appear/disappear.
	   Instead, the `top` position is calculated and set in `px` via javascript.
	   The initial `top: 100%` is just to hide the button until javascript is run. */
	/*top: calc(35% - var(--unit) * 2 / 2);*/
	top: 100%;
	left: auto;
	right: var(--SideNavMenuButton-offset--horizontal);
	width: var(--SideNavMenuButton-width);
	height: var(--SideNavMenuButton-width);
	z-index: var(--SideNavMenuButton-zIndex);
	box-sizing: content-box;
	padding: var(--SideNavMenuButton-padding);
	@mixin upto-m {
		display: block;
	}
	/*&:focus,*/
	&:active {
		color: var(--base-color-700);
		/*background-color: var(--base-color-200);*/
	}
}

.left-handed {
	.SideNavMenuButton {
		left: var(--SideNavMenuButton-offset--horizontal);
		right: auto;
	}
}

/* https://codepen.io/bennettfeely/pen/twbyA */

.SideNavMenuButtonIcon {
	position: relative;
	width: 100%;
	height: 100%;
}

.SideNavMenuButtonIconBar {
	position: absolute;
	left: 0;
	top: calc((100% - 6%) / 2);
	width: 100%;
	height: 6%;
	background-color: currentColor;
}

.SideNavMenuButtonIcon--transition .SideNavMenuButtonIconBar {
	transition: transform var(--SideNavMenuButton-animationDuration), opacity var(--SideNavMenuButton-animationDuration);
}

.SideNavMenuButtonIconBar:nth-child(1),
.SideNavMenuButtonIconBar:nth-child(2),
.SideNavMenuButtonIconBar:nth-child(3) {
	color: var(--Content-color-900);
	z-index: 1;
}

.SideNavMenuButtonIconBar:nth-child(4),
.SideNavMenuButtonIconBar:nth-child(5),
.SideNavMenuButtonIconBar:nth-child(6) {
	color: var(--Content-backgroundColor);
	height: 12%;
	top: calc((100% - 12%) / 2);
}

.SideNavMenuButtonIconBar:nth-child(1) {
	transform: translateY(-450%);
}

.SideNavMenuButtonIconBar:nth-child(3) {
	transform: translateY(450%);
}

.SideNavMenuButtonIconBar:nth-child(4) {
	transform: translateY(-225%);
}

.SideNavMenuButtonIconBar:nth-child(6) {
	transform: translateY(225%);
}

/*
.SideNavMenuButtonIcon:hover .SideNavMenuButtonIconBar:nth-child(1) {
	transform: translateY(-550%);
}
.SideNavMenuButtonIcon:hover .SideNavMenuButtonIconBar:nth-child(3) {
	transform: translateY(550%);
}
*/

.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(2),
.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(5) {
	opacity: 0;
	transform: scale(0.9);
}

.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(1),
.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(4) {
	transform: rotate(-45deg) scale(0.9);
}

.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(3),
.SideNavMenuButtonIcon--cross .SideNavMenuButtonIconBar:nth-child(6) {
	transform: rotate(45deg) scale(0.9);
}

.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(2),
.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(5) {
	opacity: 0;
	transform: scale(0.9);
}

.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(1) {
	transform: rotate(-45deg) scale(0.75) translateX(20%) translateY(-450%);
}

.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(3) {
	transform: rotate(45deg) scale(0.75) translateX(20%) translateY(450%);
}

.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(4) {
	transform: rotate(-45deg) scale(0.75) translateX(20%) translateY(-225%);
}

.SideNavMenuButtonIcon--leftArrow .SideNavMenuButtonIconBar:nth-child(6) {
	transform: rotate(45deg) scale(0.75) translateX(20%) translateY(225%);
}