@import "../styles/common";

.sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border-left: 1px solid var(--Sidebar-borderColor);
	background-color: var(--Sidebar-backgroundColor);
	color: var(--Sidebar-color);
}

.sidebar {
	.boards {
		overflow-x: hidden;
		/* Makes the sidebar text smaller for "L" size (< "XL")
		   because the sidebar itself is smaller for that size. */
		@mixin l {
			font-size: 85%;
		}
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
.sidebar {
	/* Width */
	&::-webkit-scrollbar {
		width: 4px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
/* Scrollbar colors for a dark sidebar. */
.sidebar {
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color-600);
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray-color-500);
	}
}

/* `simplebar` style (works in all browsers). */
/* Colors for a dark sidebar. */
.sidebar {
	.simplebar-scrollbar:before {
		background-color: var(--Sidebar-color--scrollbar)
	}
}

.sidebar__scrollable-list {
	height: 100%;
}