@import "../styles/common";

.sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.sidebar--light {
	background-color: var(--white-color);
}

.sidebar--dark {
	background-color: var(--black-color);
	color: var(--gray-color-lightest);
}

.sidebar {
	.boards {
		margin-bottom: calc(var(--unit) * 2);
	}
}

.sidebar {
	/* Width */
	&::-webkit-scrollbar {
		width: 4px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent; /* var(--gray-color-lightest); */
	}
}

.sidebar--light {
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color-lighter);
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray-color-darker);
	}
}

.sidebar--dark {
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color-dark);
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray-color-darker);
	}
}