.post__author {
	display: flex;
	align-items: center;
	margin-top: 0.5em;
	/*margin-bottom: 0.5em;*/
	color: var(--PostAuthor-color);
}

.post__author-icon-container {
	position: relative;
	width: 1em;
	height: 1em;
	margin-right: 0.35em;
	margin-bottom: 0.1em;
}

.post__author-icon {
	width: 100%;
	height: 100%;
}

.post__author-icon--outline {
	position: absolute;
	opacity: 0.5;
}

.post__author-name,
.post__author-trip-code {
	font-weight: 300;
}

.post__author-name + .post__author-trip-code {
	margin-left: 0.35em;
}

.post__author--generic:not(.post__author--id) .post__author-name {
	color: var(--PostAuthorName-color);
}

.post__author-icon {
	color: var(--Post-color--secondary);
}

.post__author--id,
.post__author-icon--outline {
	color: var(--PostAuthorName-color--id);
}

.post__author--administrator {
	.post__author-name {
		color: var(--PostAuthor-color--administrator);
	}
}

.post__author--moderator {
	.post__author-name {
		color: var(--PostAuthor-color--moderator);
	}
}

.post__author--administrator,
.post__author--moderator {
	.post__author-name {
		font-weight: normal;
	}
}

.post__author-role--supplementary {
	font-weight: 300;
	&:before,
	&:after {
		content: '/';
	}
}

.post__custom-country-flag {
	width: 100%;
	height: 100%;
	/* Center the image horizontally and vertically. */
	object-fit: contain;
	/*box-shadow: 0 0 0 1px currentColor;*/
}

.post__header-badge--country {
	/* Some country flag colors are too contrasty but other
	   countries' flag colors are too low-contrasty so it requires
	   `opacity: 1` in order to be eligible in all cases. */
	/* By default post header badges have opacity about 0.8. */
	opacity: 1;
}

.post__header-badge--banned {
	color: var(--PostBannedIcon-color);
	/* By default post header badges have opacity about 0.8. */
	opacity: 1;
}