/* <Post/> overrides */

.post__link--post {
	color: var(--gray-color-dark);
}

.post__inline-quote {
	color: var(--base-color-darkest);
}

.post__inline-spoiler--hidden {
	background-color: #F0EFEB;
}

/* <ThreadComment/> */

.thread__comment-container {
	&:last-child .thread__comment {
		margin-bottom: 0;
	}
}

.thread__comment {
	/* Long links may overflow post container. */
	overflow: hidden;
}

.thread__comment-container--click {
	.thread__comment {
		/*box-shadow: 0 0 0 0.1rem var(--base-color), 0 0.1rem 0.75rem 0 hsla(210,7%,61%,.15);*/
		background-color: hsl(36, 70%, 96%);
	}

	.thread__comment .post__inline-spoiler {
		background-color: hsl(36, 30%, 92%);
	}
}

.thread__comment, .thread__comment .post__inline-spoiler {
	transition: box-shadow 120ms, background-color 60ms;
}

/*
.thread__comment--with-subject {
	.content-section__header {
		padding-bottom: calc(var(--unit) / 2);
	}
}
*/

.thread__comment--hidden {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: var(--gray-color);
	font-family: var(--font-family);
	font-weight: 300;
}

.post__attachment-thumbnail--sticker {
	--picture-border-width: 0;
	--picture-background-color: transparent;
	--post-attachment-hover-shadow: none;
}

.post__badge-icon--banned {
	color: #cf0000;
	opacity: 1;
}

/* `kohlchan.net` has regular quotes and "inverse" quotes. */
.post__inline-quote--inverse {
	color: #cc0000;
}