.post__author {
	display: flex;
	align-items: center;
	margin-top: 0.5em;
}

.post__author-icon-container {
	position: relative;
	width: 1em;
	height: 1em;
	margin-right: 0.35em;
	margin-bottom: 0.1em;
}

.post__author-icon-container--color {
	margin-bottom: 0;
}

.post__author-icon {
	width: 100%;
	height: 100%;
}

.post__author-icon--outline {
	position: absolute;
	opacity: 0.5;
}

.post__author-icon--thread-author {
	opacity: 0.85;
}

.post__author-verified {
	/* Using `top` offset instead of `align-items: center` on the parent
	   because otherwise whitespace before non-text content
	   (like `<VerifiedIcon/>`) would disappear. */
	position: relative;
	top: 0.05em;
	width: 0.75em;
	height: 0.75em;
	/*margin-left: 0.3em;*/
	/*margin-right: 0.3em;*/
	opacity: 0.5;
}

.post__author-info {
	font-weight: 300;
  /*display: flex;*/
  /*align-items: center;*/
}

.post__author-id {
	font-weight: normal;
	font-family: monospace;
}

.post__author-icon,
.post__author-id,
.post__author-trip-code {
	color: var(--Post-color--secondary);
}

.post__author-id,
.post__author-icon--outline {
	color: var(--PostAuthor-color--dark);
}

.post__author-icon--role,
.post__author-name,
.post__author-verified,
.post__author-role,
.post__author-email {
	color: var(--PostAuthor-color--accent);
}

.post__author--administrator {
	--PostAuthor-color--accent: var(--PostAuthor-color--administrator);
}

.post__author--moderator {
	--PostAuthor-color--accent: var(--PostAuthor-color--moderator);
}

.post__author-name--id {
	color: var(--PostAuthor-color--dark);
}

.post__author-name--role {
	font-weight: normal;
}

.post__author-role--supplementary {
	font-weight: 300;
	&:before,
	&:after {
		content: '/';
	}
}

.post__author-email--separated {
	&:before,
	&:after {
		content: '/';
	}
}

.post__custom-country-flag {
	width: 100%;
	height: 100%;
	/* Center the image horizontally and vertically. */
	object-fit: contain;
	/*box-shadow: 0 0 0 1px currentColor;*/
}

.post__header-badge--country {
	/* Some country flag colors are too contrasty but other
	   countries' flag colors are too low-contrasty so it requires
	   `opacity: 1` in order to be eligible in all cases. */
	/* By default post header badges have opacity about 0.8. */
	opacity: 1;
}

.post__header-badge--banned {
	color: var(--PostBannedIcon-color);
	/* By default post header badges have opacity about 0.8. */
	opacity: 1;
}

.post__header-badge--tracking {
	position: relative;
}