.comment-tree {
	--comment-tree-line-color: var(--gray-base-color-200);
}

.comment-tree__branch {
	&:hover {
		background-color: var(--gray-base-color-150);
		border-left-color: var(--base-color-600);
	}
}