/* <ThreadComment/> */

/* `kohlchan.net` and `8ch.net` have regular quotes and "inverse" quotes. */
.post__inline-quote__block--inverse {
	color: var(--PostQuote-color--inverse);
}

/* `kohlchan.net` has red "inverse" quotes and orange "inverse" quotes. */
.post__inline-quote__block--inverse-orange {
	color: var(--PostQuote-color--inverse2);
}

.thread__comment--thread {
	.post__header-top,
	.post__footer {
		color: var(--Post-color--secondaryThread);
	}
}

.post__footer-badge-icon--comments-count {
	margin-top: -0.1em;
	margin-right: 0.35em;
}

.post__footer-badge-icon--attachments-count {
	width: 0.95em;
	height: 0.95em;
	margin-top: -0.05em;
	margin-right: 0.35em;
}

.post__footer-badge-icon--replies-count {
	/* The arrow icon's left side by default doesn't align
	   perfectly with the text's left border. */
	margin-left: 0.05em;
	margin-right: 0.35em;
}

/* `8ch.net` red heading. */
.post__text--8ch-heading {
	color: var(--PostHeading8ch-color);
	font-weight: bolder;
}

.post__text--ascii-shift-jis-art {
	display: block;
	line-height: 1.1;
	font-family: Mona, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
	white-space: pre-wrap;
}