@import "../styles/common.css";

:root {
	/*--Toolbar-paddingLeft: calc(var(--PageContent-paddingLeft) + var(--PageContent-paddingLeft--nonContentSection));*/
	--Toolbar-paddingLeft: calc(var(--PageContent-paddingLeft) + var(--Post-paddingLeft));
	--Toolbar-paddingRight: var(--Toolbar-paddingLeft);
}

.Toolbar {
	display: flex;
	justify-content: flex-end;
	margin-top: var(--Toolbar-marginTop);
	margin-bottom: var(--Toolbar-marginTop);
	padding-left: var(--Toolbar-paddingLeft);
	padding-right: var(--Toolbar-paddingRight);
	color: var(--Toolbar-color);

	--MenuIcon-width: var(--ToolbarIcon-width);
	--Menu-color--selected: var(--Toolbar-color--selected);
	--Menu-color--active: var(--Toolbar-color--active);
}

/* Added `.Toolbar` parent selector so that the `.menu .menu-item` styles
   don't overwrite the `.Toolbar-item--channelView` styles in production mode
   when Webpack decides to put all CSS in a single file
   with `.menu .menu-item` styles being placed after `.Toolbar-item--channelView` styles. */
/*.Toolbar {*/
/*}*/

/*.Toolbar-item--channelViewRightmost {
	margin-right: calc(-1 * var(--MenuIcon-width) * 0.25);
}*/

/*.Toolbar-item--channelViewNewThreads {
	width: calc(var(--MenuIcon-width) * 1.5);
}*/