@import "../styles/common";

.tracked-threads {
	/*padding-top: calc(var(--unit) * 1);*/
	/*padding-bottom: calc(var(--unit) * 1);*/
	--Picture-borderColor: var(--Sidebar-color-600);
}

.tracked-threads--empty {
	/*
	display: flex;
	align-items: center;
	justify-content: center;
	*/
	color: var(--Sidebar-color-600);
}

.tracked-threads__empty {
	margin-top: calc(var(--unit) * 5);
	text-align: center;
}

.tracked-threads__thread {
	position: relative;
	height: var(--List-lineHeight);
	border-top: 1px solid var(--List-borderColor);
	border-bottom: 1px solid var(--List-borderColor);
}

.tracked-threads__thread,
.tracked-threads__thread-inner {
	display: flex;
	align-items: center;
}

.tracked-threads__thread-inner {
	height: 100%;
	/* `min-width: 0` fixes overflow. */
	min-width: 0;
	padding-left: var(--unit);
	padding-right: var(--unit);
	/*padding-right: var(--List-lineHeight);*/
	flex: 1;
	/* `z-index: 1` is used so that the `<Link/>`
	   is above the "Remove" `<button/>` when hovered/clicked. */
	z-index: 1;
}

.tracked-threads__thread--expired,
.tracked-threads__thread--edit {
	.tracked-threads__thread-inner {
		padding-right: 0.2em;
		margin-right: -0.2em;
	}
}

/*
.tracked-threads__thread--untracked {
	.tracked-threads__thread-inner {
		position: relative;
		padding-right: 0.4em;
		margin-right: 0;
	}
	.tracked-threads__thread-inner:before {
		display: block;
		content: '';
		position: absolute;
		width: calc(100% - var(--unit) - 0.4em + 0.2em);
		height: 1px;
		left: calc(var(--unit) - 0.2em);
		top: 50%;
		z-index: 1;
		background-color: currentColor;
	}
}
*/

.tracked-threads__thread--expired {
	color: var(--Sidebar-color-600);
	.tracked-threads__thread__board,
	.tracked-threads__thread__title {
		opacity: 0.75;
		cursor: default;
		color: inherit;
	}
	.tracked-threads__thread__board {
		&:before,
		&:after {
			opacity: 0.4;
		}
	}
	.tracked-threads__thread__thumbnail {
		--Picture-borderColor: var(--Sidebar-color-200);
		--Picture-backgroundColor: var(--Sidebar-backgroundColor);
		.rrui__picture__loading-error {
			color: var(--Sidebar-color-500);
		}
	}
}

.tracked-threads__thread--untracked {
	.tracked-threads__thread__board,
	.tracked-threads__thread__title {
		text-decoration: line-through;
	}
}

.tracked-threads__thread__thumbnail {
	margin-right: 0.5em;
	/* Prevents the `<Picture/>` from being clickable.
	   (for example, when the image wasn't found). */
	pointer-events: none;
	.rrui__picture__loading-error {
		width: 1em;
		height: 1em;
	}
}

.tracked-threads__thread:not(.tracked-threads__thread--expired) {
	.tracked-threads__thread__board {
		color: var(--Boards-color--active);
		&:before,
		&:after {
			color: var(--Boards-color--slash);
		}
	}

	/* Using this level of specificity because otherwise
	   `:not()` would have higher priority. */
	&.tracked-threads__thread--selected {
		background-color: var(--Boards-backgroundColor--selected);
		border-top: 1px solid var(--List-borderColor--selected);
		border-bottom: 1px solid var(--List-borderColor--selected);
		.board-url {
			&:before,
			&:after {
				color: var(--Boards-color--slashSelected);
			}
		}
	}

	.tracked-threads__thread__link {
		&:hover {
			background-color: var(--Boards-backgroundColor--hover);
			.tracked-threads__thread__board {
				&:before, &:after {
					color: var(--Boards-color--slashHover);
				}
			}
		}
		&:active {
			background-color: var(--Boards-backgroundColor--active);
			.tracked-threads__thread__board {
				&:before, &:after {
					color: var(--Boards-color--slashActive);
				}
			}
			.tracked-threads__thread__title {
				color: var(--Boards-color--active);
			}
		}
	}
}

.tracked-threads__thread__title {
	/* `min-width: 0` fixes overflow. */
	min-width: 0;
	margin-left: 0.3em;
	color: var(--Boards-color);
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tracked-threads__thread__new-replies,
.tracked-threads__thread__new-comments {
	margin-left: 0.4em;
}

.tracked-threads__thread__new-replies + .tracked-threads__thread__new-comments {
	margin-left: 0.25em;
}

.tracked-threads__thread__new-replies {
	padding-left: 0.15em;
	padding-right: 0.15em;
	border-radius: 0.2em;
	/*color: var(--Sidebar-color--accent);*/
	background-color: currentColor;
}

.tracked-threads__thread__new-replies-count {
	color: var(--Sidebar-backgroundColor);
}

.tracked-threads__undo-untrack {
	margin-right: calc((var(--List-lineHeight) - var(--ListButtonIcon-width)) / 2);
}

.tracked-threads__show-more-less,
.tracked-threads__show-expired {
	margin-left: var(--unit);
	margin-right: var(--unit);
	text-transform: lowercase;
	line-height: var(--List-lineHeight);
}

.tracked-threads__show-more-less-container {
	text-align: right;
}

@mixin upto-m {
	.left-handed {
		.tracked-threads__show-more-less-container {
			text-align: left;
		}
	}
}