@import "../styles/common.css";

.TweetModal {
	--rrui-modal-padding--vertical: var(--unit);
	--rrui-modal-padding--horizontal: var(--unit);
	--TweetModal-paddingTop: calc(var(--unit) * 2);
	position: relative;
	.rrui__modal__content {
		margin-top: var(--TweetModal-paddingTop);
	}
}

.TweetModal-close {
	--TweetModal-close-width: 0.65em;
	--TweetModal-close-padding: 0.5em;
	position: absolute;
	right: var(--rrui-modal-padding--horizontal);
	top: calc((var(--TweetModal-paddingTop) - var(--TweetModal-close-width)) / 2);
	display: flex;
	align-items: center;
	padding: var(--TweetModal-close-padding);
	margin: calc(-1 * var(--TweetModal-close-padding));
	margin-left: auto;
	font-weight: var(--Post-fontWeight--secondary);
	&:active {
		color: var(--Clickable-color--textActive);
	}
}

.TweetModal-closeIcon {
	display: block;
	width: var(--TweetModal-close-width);
	height: var(--TweetModal-close-width);
}