@import "../../styles/common.css";

.SidebarTopBar {
	display: flex;
	align-items: center;

	padding-left: var(--Sidebar-paddingLeft);
	padding-right: var(--Sidebar-paddingLeft);

	/*border-bottom: 1px solid var(--ChannelUrl-slash-color);*/

	@mixin upto-s {
		display: none;
	}
}

.SidebarTopBar--alignContentEnd {
	justify-content: flex-end;
}

/*.SidebarTopBar-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	margin-right: var(--unit);
}*/

/*.SidebarTopBar-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}*/