@import "../../styles/common.css";

.Sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border-left: 1px solid var(--Sidebar-borderColor);
	background-color: var(--Sidebar-backgroundColor);
	color: var(--Sidebar-color-900);
}

.Sidebar {
	--Sidebar-fontSize: initial;
	font-size: var(--Sidebar-fontSize);
}

/* Makes the sidebar text smaller for "L" size (< "XL")
   because the sidebar itself is smaller for that size. */
@mixin l {
	.font-size--m {
		.Sidebar {
			--Sidebar-fontSize: 90%;
		}
	}
	.font-size--l {
		.Sidebar {
			--Sidebar-fontSize: 85%;
		}
	}
	.font-size--xl {
		.Sidebar {
			--Sidebar-fontSize: 80%;
		}
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
.Sidebar {
	/* Width */
	&::-webkit-scrollbar {
		width: 4px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* Styling scrollbar is not supported in Firefox, etc. */
/* Scrollbar colors for a dark sidebar. */
.Sidebar {
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color-600);
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray-color-500);
	}
}

/* `simplebar` style (works in all browsers). */
/* Colors for a dark sidebar. */
.Sidebar {
	.simplebar-scrollbar:before {
		background-color: var(--Sidebar-color-500);
	}
}

.Sidebar-scrollableList {
	height: 100%;
}

.Sidebar {
	.ListButton {
		color: var(--Sidebar-color-600);
		&:focus {
			color: var(--Sidebar-color-600);
		}
		&:hover {
			color: var(--Sidebar-color-600);
			.ListButton-background {
				background-color: var(--Sidebar-highlightColor-100);
			}
		}
		&:active {
			color: var(--Sidebar-baseColor-700);
			.ListButton-background {
				background-color: var(--Sidebar-highlightColor-200);
			}
		}
	}
	.ListButton--muted {
		color: var(--Sidebar-color-200);
	}
}