@import "../../styles/common.css";

:root {
	--SidebarSection-paddingLeft: var(--unit);
	--SidebarSection-marginTop: calc(var(--unit) * 2);
	--SidebarSection-marginTop--withTitle: calc(var(--unit) * 3);
	--SidebarSection-marginBottom: calc(var(--unit) * 2);
}

.SidebarSection {
	margin-top: var(--SidebarSection-marginTop);

	&:last-child {
		margin-bottom: var(--SidebarSection-marginBottom);
	}
}

.SidebarSection--noMarginTop {
	margin-top: 0;
}

.SidebarSection--noMarginBottom {
	margin-bottom: 0;

	/* Overrides the `&:last-child` selector on `.SidebarSection`. */
	&:last-child {
		margin-bottom: 0;
	}
}

.SidebarSection--withTitle {
	margin-top: var(--SidebarSection-marginTop--withTitle);
}

.SidebarSection-title {
	/* `position: relative` is for the "..." button. */
	position: relative;
	/* `overflow: visible` is for the "..." button. */
	/*overflow: visible;*/
	/* `overflow: hidden` is used to prevent long
	   sidebar section titles from overflowing it. */
	overflow: hidden;
	margin-top: 0;
	margin-bottom: var(--unit);
	/* Using `padding-left` / `padding-right` instead of
	   `margin-left` / `margin-right` to prevent the "..."
	   button from being cut due to `overflow: hidden`. */
	/*padding-left: var(--SidebarSection-paddingLeft);*/
	/*padding-right: var(--SidebarSection-paddingLeft);*/
	--SidebarSection-title-paddingLeft: calc(var(--SidebarSection-paddingLeft) + var(--SidebarSectionMoreButton-width) + 2 * var(--SidebarSectionMoreButton-paddingLeft));
  padding-left: var(--SidebarSection-title-paddingLeft);
  padding-right: var(--SidebarSection-title-paddingLeft);
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	font-weight: var(--UppercaseLabel-fontWeight);
	font-size: var(--UppercaseLabel-fontSize);
	letter-spacing: var(--UppercaseLabel-letterSpacing);
	text-transform: var(--UppercaseLabel-textTransform);
	color: var(--Sidebar-color-600);
	user-select: none;
	cursor: default;
}

.SidebarSection-text {
	padding-left: var(--unit);
	padding-right: var(--unit);
	text-align: center;
}

.SidebarSection-text--alternative {
	font-weight: 300;
	font-weight: lighter;
	letter-spacing: 0.6px;
	color: var(--Sidebar-color-500);
}