:root {
	/* SidebarButton. */
	--SidebarButton-color: var(--Sidebar-color-500);
	--SidebarButton-backgroundColor: transparent;
	--SidebarButton-borderColor: transparent;
	--SidebarButton-borderColor--focus: var(--Sidebar-color-200);
	--SidebarButton-color--hover: var(--Sidebar-color-900);
	--SidebarButton-backgroundColor--hover: var(--Sidebar-highlightColor-100);
	--SidebarButton-color--active: var(--Sidebar-baseColor-700);
	--SidebarButton-backgroundColor--active: var(--Sidebar-highlightColor-200);
	--SidebarButton-borderColor--pressedActive: var(--Sidebar-baseColor-200);
	/* SidebarSectionMoreButton. */
	--SidebarSectionMoreButton-width: var(--unit);
	--SidebarSectionMoreButton-paddingLeft: calc(var(--unit) / 2);
}

.SidebarSectionMoreButton {
	/*--rrui-button-side-padding: var(--SidebarSectionMoreButton-paddingLeft);*/
	/*--rrui-button-busy-indicator-bottom: 0px;*/
	/*--rrui-button-busy-indicator-width: 1px;*/
	/* The "more" button's top and bottom border would be
	   hidden due to `overflow: hidden` if its `height` was `100%`. */
	--SidebarSectionMoreButton-height: calc(100% - 2 * 1px);
	--SidebarSectionMoreButtonIcon-opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--SidebarSectionMoreButton-width) + 2 * var(--SidebarSectionMoreButton-paddingLeft));
	height: var(--SidebarSectionMoreButton-height);
	position: absolute;
	right: calc(var(--SidebarSection-paddingLeft) - var(--SidebarSectionMoreButton-paddingLeft));
	top: calc((100% - var(--SidebarSectionMoreButton-height)) / 2);
	padding-left: var(--SidebarSectionMoreButton-paddingLeft);
	padding-right: var(--SidebarSectionMoreButton-paddingLeft);
}

.SidebarSectionMoreButton-icon {
	width: 100%;
	opacity: var(--SidebarSectionMoreButtonIcon-opacity);
}

/* `.rrui-button` style interferes with this one in development mode,
   because Webpack doesn't maintain styles import order. */
.SidebarButton {
	color: var(--SidebarButton-color);
	background-color: var(--SidebarButton-backgroundColor);
	box-shadow: inset 0 0 0 1px var(--SidebarButton-borderColor);
}

.SidebarButton {
	&:focus {
		--SidebarButton-borderColor: var(--SidebarButton-borderColor--focus);
	}
}

.SidebarButton--unpressed {
	/*
	&:focus {
		opacity: var(--SidebarSectionMoreButtonIcon-opacity);
		.SidebarSectionMoreButton__Icon {
			opacity: 1;
		}
	}
	*/
	&:hover {
		--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--hover);
		--SidebarButton-color: var(--SidebarButton-color--hover);
	}
	&:active {
		--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--active);
		--SidebarButton-color: var(--SidebarButton-color--active);
	}
}

.SidebarButton--pressed {
	--SidebarButton-color: var(--SidebarButton-color--active);
	--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--active);
	&:active {
		--SidebarButton-borderColor: var(--SidebarButton-borderColor--pressedActive);
	}
}