:root {
	--SidebarMenuItem-icon-width: calc(var(--unit) * 1.25);
	--SidebarMenuItem-marginRight: calc(var(--unit) * 0.5);
}

.SidebarMenuItem {
	display: flex;
	justify-content: flex-start;
}

.SidebarMenuItem--withLabel {
	align-items: center;
	/* `<button/>` requires `width: 100%` in order to stretch to full width. */
	width: 100%;
	padding-left: calc(var(--unit) * 1);
	padding-right: calc(var(--unit) * 1);
	height: var(--List-lineHeight);
	font-size: var(--List-fontSize);
	/* Styles `<Link/>`s and `<button/>`s. */
	color: var(--Clickable-color--text);
	&:active {
		background-color: var(--Channels-backgroundColor--active);
		color: var(--Clickable-color--textActive);
		.SidebarMenuItem-label {
			color: inherit;
		}
	}
}

.SidebarMenuItem--icon {
	margin-right: var(--SidebarMenuItem-marginRight);
	color: var(--Sidebar-color-500);
	&:last-child {
		margin-right: 0;
	}
	&:active {
		color: var(--Clickable-color--text);
		.SidebarMenuItem-label {
			color: inherit;
		}
	}
}

.SidebarMenuItem--withLabel {
	&.SidebarMenuItem--selected {
		background-color: var(--Channels-backgroundColor--selected);
	}
}

.SidebarMenuItem-label {
	color: var(--Channels-color);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.SidebarMenuItem--icon {
	.SidebarMenuItem-icon {
		width: var(--SidebarMenuItem-icon-width);
		height: var(--SidebarMenuItem-icon-width);
		/* Prevent the icon from shrinking when title text overflows. */
		flex-shrink: 0;
		/* Fixes <svg/> icons being cut off in iOS Safari. */
		/* https://stackoverflow.com/questions/24894921/svg-being-cut-off */
		overflow: visible;
	}
}

.SidebarMenuItem--withLabel {
	.SidebarMenuItem-icon {
		width: calc(var(--unit) * 1.2);
		height: calc(var(--unit) * 1.2);
		margin-right: calc(var(--unit) * 1);
		margin-left: calc(var(--unit) * 0.5);
		/* Prevent the icon from shrinking when title text overflows. */
		flex-shrink: 0;
	}
}