.SidebarProviderLogoAndToolbar {
	/* These CSS variables value assignments are placed here
	   rather than in `.SidebarProviderLogoAndToolbar-toolbar` because
	   they're also used in the left-side spacing of provider logo in the sidebar. */
	--SidebarMenuItem-icon-width: 1.1em;
	--SidebarMenuItem-marginRight: 0.6em;

	display: flex;
	align-items: center;

	margin-left: var(--unit);
	margin-right: var(--unit);
	margin-top: calc(3 * var(--unit));
	/*margin-bottom: calc(3 * var(--unit));*/

	padding-left: calc(var(--SidebarMenuItem-icon-width) + var(--SidebarMenuItem-marginRight) + var(--SidebarMenuItem-icon-width));
}

.SidebarProviderLogoAndToolbar-toolbar {
	display: flex;
	align-items: center;
}