:root {
	/* SidebarButton. */
	--SidebarButton-color: var(--Sidebar-color-500);
	--SidebarButton-backgroundColor: transparent;
	--SidebarButton-borderColor: transparent;
	--SidebarButton-borderColor--focus: var(--Sidebar-color-200);
	--SidebarButton-color--hover: var(--Sidebar-color-900);
	--SidebarButton-backgroundColor--hover: var(--Sidebar-highlightColor-100);
	--SidebarButton-color--active: var(--Sidebar-baseColor-700);
	--SidebarButton-backgroundColor--active: var(--Sidebar-highlightColor-200);
	--SidebarButton-borderColor--pressedActive: var(--Sidebar-baseColor-200);
}

.SidebarSectionMoreButton {
	/*--rrui-button-side-padding: var(--SidebarSectionActionButton-paddingLeft);*/
	/*--rrui-button-busy-indicator-bottom: 0px;*/
	/*--rrui-button-busy-indicator-width: 1px;*/

	/* The "more" button's top and bottom border would be
	   hidden due to `overflow: hidden` if its `height` was `100%`,
	   so the "more" button's `height` is reduced by the width
	   of the top and bottom border. */
/*	--SidebarSectionMoreButton-height: calc(100% - 2 * 1px);*/
	--SidebarSectionMoreButton-height: var(--SidebarSectionActionButton-width);
	--SidebarSectionMoreButtonIcon-opacity: 0.5;

	display: flex;
	align-items: center;
	justify-content: center;

/*	position: relative;*/
/*	top: calc((100% - var(--SidebarSectionMoreButton-height)) / 2);*/

	width: calc(var(--SidebarSectionActionButton-width) + 2 * var(--SidebarSectionActionButton-paddingLeft));
	height: var(--SidebarSectionMoreButton-height);

	/* Overrides the `padding-left` and `padding-right` that is set on `.Button` CSS class. */
	&.Button {
		padding-left: var(--SidebarSectionActionButton-paddingLeft);
		padding-right: var(--SidebarSectionActionButton-paddingLeft);
	}
}

.SidebarSectionMoreButton-icon {
	display: block;
	width: 100%;
	opacity: var(--SidebarSectionMoreButtonIcon-opacity);
}

/* `.rrui-button` style interferes with this one in development mode,
   because Webpack doesn't maintain styles import order. */
.SidebarButton {
	--PressedStateButton-color: var(--SidebarButton-color);
	--PressedStateButton-backgroundColor: var(--SidebarButton-backgroundColor);
	--PressedStateButton-borderColor: var(--SidebarButton-borderColor);
}

.SidebarButton {
	&:focus {
		--SidebarButton-borderColor: var(--SidebarButton-borderColor--focus);
	}
}

.SidebarButton--unpressed {
	/*
	&:focus {
		opacity: var(--SidebarSectionMoreButtonIcon-opacity);
		.SidebarSectionMoreButton__Icon {
			opacity: 1;
		}
	}
	*/
	&:hover {
		--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--hover);
		--SidebarButton-color: var(--SidebarButton-color--hover);
	}
	&:active {
		--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--active);
		--SidebarButton-color: var(--SidebarButton-color--active);
	}
}

.SidebarButton--pressed {
	--SidebarButton-color: var(--SidebarButton-color--active);
	--SidebarButton-backgroundColor: var(--SidebarButton-backgroundColor--active);
	&:active {
		--SidebarButton-borderColor: var(--SidebarButton-borderColor--pressedActive);
	}
}