:root {
	--SidebarSectionActionButton-width: calc(1 * var(--unit));
	--SidebarSectionActionButton-paddingLeft: calc(var(--unit) / 2);
	--SidebarSectionActionButton-marginRight: calc(var(--unit) / 2);

	--SidebarSectionActionButton-opacity: 0.9;
}

.SidebarSectionActionButton {
	display: flex;
	align-items: center;
	justify-content: center;

	width: calc(var(--SidebarSectionActionButton-width) + 2 * var(--SidebarSectionActionButton-paddingLeft));
	height: var(--SidebarSectionActionButton-width);

/*	padding-left: var(--SidebarSectionActionButton-paddingLeft);*/
/*	padding-right: var(--SidebarSectionActionButton-paddingLeft);*/

	margin-right: var(--SidebarSectionActionButton-marginRight);

	&:last-child {
		margin-right: 0;
	}
}

.SidebarSectionActionButton-icon {
	width: 100%;
	height: 100%;
	opacity: var(--SidebarSectionActionButton-opacity);
}