@import "../../styles/common";

:root {
	--SidebarSection-paddingLeft: var(--unit);
}

.SidebarSection {
	margin-top: calc(var(--unit) * 3);
	&:first-child {
		margin-top: calc(var(--unit) * 2);
	}
	&:last-child {
		margin-bottom: calc(var(--unit) * 2);
	}
}

.SidebarSection-title {
	/* `position: relative` is for the "..." button. */
	position: relative;
	/* `overflow: visible` is for the "..." button. */
	/*overflow: visible;*/
	/* `overflow: hidden` is used to prevent long
	   sidebar section titles from overflowing it. */
	overflow: hidden;
	margin-top: 0;
	margin-bottom: var(--unit);
	/* Using `padding-left` / `padding-right` instead of
	   `margin-left` / `margin-right` to prevent the "..."
	   button from being cut due to `overflow: hidden`. */
	/*padding-left: var(--SidebarSection-paddingLeft);*/
	/*padding-right: var(--SidebarSection-paddingLeft);*/
	--SidebarSection-title-paddingLeft: calc(var(--SidebarSection-paddingLeft) + var(--SidebarSectionMoreButton-width) + 2 * var(--SidebarSectionMoreButton-paddingLeft));
  padding-left: var(--SidebarSection-title-paddingLeft);
  padding-right: var(--SidebarSection-title-paddingLeft);
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase;
	text-align: center;
	font-size: 85%;
	font-weight: lighter;
	letter-spacing: 1px;
	color: var(--Sidebar-color-600);
	user-select: none;
	cursor: default;
}

@mixin l-plus {
	.SidebarSection--smallScreen {
		display: none;
	}
}