@import "../../styles/common.css";

:root {
	--Sidebar-ProviderLogo-width: 1em;
	--Sidebar-ProviderLogo-marginRight: 0.4em;
}

.SidebarProviderLogo {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 1.5rem;
	font-weight: 300;
}

.SidebarProviderLogo-link {
	display: flex;
	align-items: center;
	color: inherit;
}

.SidebarProviderLogo-image {
	height: var(--Sidebar-ProviderLogo-width);
	margin-right: var(--Sidebar-ProviderLogo-marginRight);
}

.SidebarProviderLogo-image--placeholder {
	visibility: hidden;
	margin-left: var(--Sidebar-ProviderLogo-marginRight);
	margin-right: 0;
}
