@import "../../styles/common.css";

.AutoUpdate {
	--AutoUpdate-borderBottomColor: transparent;

	display: block;
	margin-left: var(--Post-paddingLeft);
	margin-right: var(--Post-paddingLeft);
	border-bottom: 1px solid var(--AutoUpdate-borderBottomColor);

	&:focus,
	&:hover:not([disabled]) {
		--AutoUpdate-borderBottomColor: var(--Clickable-color--textActive);
	}

	&:active {
		color: var(--Clickable-color--textActive);
		--AutoUpdate-borderBottomColor: var(--Clickable-color--textActive);
	}
}