@import "../../styles/common.css";

.InfoBanner {
	display: flex;
	align-items: center;

	/*padding: var(--unit);*/
	/*box-shadow: 0 0 0 1px var(--Content-color-300);*/
	/*background-color: var(--Content-color-50);*/

	/*padding-top: var(--unit);*/
	/*padding-bottom: var(--unit);*/
	padding-left: var(--PostThumbnail-marginRight);
	padding-right: var(--PostThumbnail-marginRight);

	font-weight: var(--UppercaseLabel-fontWeight);
	font-size: var(--UppercaseLabel-fontSize);
	letter-spacing: var(--UppercaseLabel-letterSpacing);
	text-transform: var(--UppercaseLabel-textTransform);
	@mixin m-plus {
		margin-left: calc(var(--PostThumbnailContainer-maxWidth));
	}
}

.InfoBanner-icon {
	width: calc(var(--unit) * 2);
	height: calc(var(--unit) * 2);
	margin-right: calc(var(--unit) * 1);
	color: var(--Content-color-600);
}

.InfoBanner-text {
	margin: 0;
	/* `flex: 1` prevents the text from hiding the icon on overflow. */
	flex: 1;
}