:root {
	--InfoBanner-backgroundColor: none;
	--InfoBanner-boxShadow: none;
	--InfoBanner-opacity: initial;
	--InfoBanner-paddingTop: 0px;
	--InfoBanner-paddingLeft: 0px;
}

.InfoBanner {
	display: flex;
	align-items: center;
	justify-content: center;

	/*padding: var(--unit);*/
	box-shadow: var(--InfoBanner-boxShadow);
	background-color: var(--InfoBanner-backgroundColor);

	opacity: var(--InfoBanner-opacity);

	padding-top: var(--InfoBanner-paddingTop);
	padding-bottom: var(--InfoBanner-paddingTop);
	padding-left: var(--InfoBanner-paddingLeft);
	padding-right: var(--InfoBanner-paddingLeft);

	font-weight: var(--UppercaseLabel-fontWeight);
	font-size: var(--UppercaseLabel-fontSize);
	letter-spacing: var(--UppercaseLabel-letterSpacing);
	text-transform: var(--UppercaseLabel-textTransform);
}

.InfoBanner-icon {
	width: calc(var(--unit) * 2);
	height: calc(var(--unit) * 2);
	margin-right: calc(var(--unit) * 1);
	color: var(--Content-color-600);
}

.InfoBanner-text {
	margin: 0;
	/* `flex-shrink: 1` prevents the text from hiding the icon on overflow. */
	flex-shrink: 1;
}