@import "../../styles/common.css";

:root {
	--Thread-comments-marginTop: 0px;
	--NoNewComments-marginTop: calc(var(--unit) * 5);
	--NoNewComments-marginBottom: var(--NoNewComments-marginTop);
	@mixin l-plus {
		--NoNewComments-marginTop: calc(var(--unit) * 7);
	}
}

.ThreadPage {
	/* `position: relative` is for <Toolbar/>. */
	position: relative;
}

/* Using `.ThreadPage` instead of `.Comment--thread` here
	 because `var(--Post-color--secondary)` is used in `ThreadPage-stats`. */
.ThreadPage {
	--Post-color--secondary: var(--Post-color--secondaryThread);
}

.ThreadPage-noNewComments {
	margin-top: 0;
	margin-bottom: 0;
	/* Using `padding-top` instead of `margin-top` here
	   so that `<Toolbar/>` vertical position is preserved
	   when clicking on "Show previous comments" button. */
	padding-top: var(--NoNewComments-marginTop);
	/* `margin-bottom` doesn't collapse with `<Footer/>`'s `margin-top` anyway. */
	margin-bottom: var(--NoNewComments-marginBottom);
	text-align: center;
	color: var(--Content-color-700);
	font-size: 125%;
}

.ThreadPage {
	.ShowPrevious {
		@mixin upto-s {
			margin-top: calc(var(--unit) * 0.5);
			margin-bottom: calc(var(--unit) * 0.75);
		}
		@mixin m {
			margin-top: calc(var(--unit) * 0.75);
			margin-bottom: calc(var(--unit) * 0.75);
		}
		@mixin l-plus {
			margin-top: var(--unit);
			margin-bottom: var(--unit);
		}
	}
}

.ThreadPage-commentsContainer {
	margin-top: var(--Thread-comments-marginTop);
}

.ThreadPage-belowComments {
	/* Using `padding-top: 1px` here instead of `margin`s on children because
	   `pointer-events: none` property is set on `.Webpage-content` making pointer events
	   "fall through" the top margin (but not when using top padding).
	*/
	padding-top: 1px;
}

.ThreadPage {
	.AutoUpdate {
		margin-top: calc(var(--unit) * 2);
	}
}

.ThreadPage {
	.InfoBanner,
	.PostForm--page {
		margin-top: calc(var(--unit) * 2);
		@mixin m-plus {
			margin-top: calc(var(--unit) * 3);
		}
	}
}

.ThreadPage {
	.PostForm--comment {
		@mixin m-plus {
			--PostForm-marginLeft--comment: var(--PostThumbnailContainer-maxWidth);
			margin-left: calc(var(--PostForm-marginLeft--comment));
			width: calc(100% - var(--PostForm-marginLeft--comment));
		}
		@mixin upto-s {
			--PostForm-marginLeft--comment: var(--Comment-marginTop);
			margin-left: var(--PostForm-marginLeft--comment);
			margin-right: var(--PostForm-marginLeft--comment);
			width: calc(100% - var(--PostForm-marginLeft--comment) - var(--PostForm-marginLeft--comment));
		}
	}
}