@import "../../styles/common.css";

.ThreadPageHeader {
	display: flex;
	align-items: center;

	/* Using `padding` instead of `margin` here because `pointer-events: none` property
	   is set on `.Webpage-content` making pointer events "fall through" margins (but not paddings).
	*/
	padding-top: var(--ThreadPageHeader-marginTop);
	padding-bottom: var(--ThreadPageHeader-marginBottom);
	padding-left: var(--ThreadPageHeader-marginLeft);
	padding-right: var(--ThreadPageHeader-marginRight);

	/*margin-top: var(--ThreadPageHeader-marginTop);*/
	/*margin-bottom: var(--ThreadPageHeader-marginBottom);*/
	/*margin-left: var(--ThreadPageHeader-marginLeft);*/
	/*margin-right: var(--ThreadPageHeader-marginRight);*/

	--ChannelUrl-fontSize: var(--ThreadPageHeader-fontSize);

	--ThreadPageHeaderStatusIcon-marginLeft: 0.5em;

	--ThreadActivityIndicator-width: 0.55em;
	--ThreadActivityIndicator-padding: 0.55em;

	--ThreadActivityIndicator-marginLeft: 0.1em;

	@mixin upto-s {
		--ThreadActivityIndicator-marginLeft: 0.05em;
	}
	@mixin m {
		--ThreadActivityIndicator-marginLeft: 0.075em;
	}
	@mixin l-plus {
		--ThreadActivityIndicator-marginTop: 0.1em;
	}
}

.ThreadPageHeader-backArrow {
	width: calc(var(--unit) * 1);
	height: calc(var(--unit) * 1);
	/* Align the left side of the back arrow to the rest of the page content.
	   The reason is that the back arrow icon itself isn't square. */
	margin-left: calc(-1 * var(--unit) / 4);
	margin-right: calc(var(--unit) / 8);
	/* Prevent the back arrow icon from shrinking when channel title overflows container. */
	flex-shrink: 0;
}

.ThreadPageHeader-channelAndThreadTitle {
	display: flex;
	align-items: center;
	/* `overflow: hidden` is for cases when, for example,
	   channel title is too long and has no whitespace. */
	overflow: hidden;
	@mixin m-l {
		padding-left: var(--Post-paddingLeft);
	}
}

.ThreadPageHeader-heading {
	flex: 1;

	display: flex;
	align-items: center;

	overflow: hidden;

	font-weight: var(--ThreadPageHeader-fontWeight);
	font-size: var(--ThreadPageHeader-fontSize);
}

.ThreadPageHeader-titleAndStatusIcon {
	display: flex;
	align-items: center;

	flex: 1;
	overflow: hidden;
}

.ThreadPageHeader-title {
	/*margin-left: 0.25rem;*/
}

.ThreadPageHeader-title--singleLine {
	/* `overflow: hidden` is for cases when, for example,
	   thread title is too long and has no whitespace. */
	overflow: hidden;
	text-overflow: ellipsis;
	/* `white-space: nowrap` is for cases when thread title
	   is too long and has whitespace resulting in it being multi-line. */
	white-space: nowrap;
}

.ThreadPageHeader-titleSeparator {
	height: 1.6em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	color: var(--Content-color-300);
	/* So that it doesn't disappear when thread title overflows. */
	flex: none;
}

.ThreadPageHeader-channelLink {
	overflow: hidden;
	text-overflow: ellipsis;

  flex-shrink: 0;

	font-weight: var(--ThreadPageHeader-fontWeight);
	font-size: var(--ThreadPageHeader-fontSize);

	@mixin m-plus {
		flex-shrink: 0;
		max-width: 50%;
	}
}

/*.ThreadPageHeader-backTitle {*/
	/* `overflow: hidden` is for cases when, for example,
	   channel title is too long and has no whitespace. */
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	/* `white-space: nowrap` is for cases when channel title
	   is too long and has whitespace resulting in it being multi-line. */
	/*white-space: nowrap;*/
/*}*/

.ThreadPageHeader-logoLink {
	/* DataSource SVG logos use "currentColor" in order to be visible
	   both in "light mode" and "dark mode". */
	&, &:active {
		color: inherit;
	}
}

.ThreadPageHeader-logo {
	display: block;
	height: 1em;
	margin-right: 0.55em;
}

.ThreadPageHeader-activityIndicator,
.ThreadPageHeader-statusIcon {
	flex: none;
	align-self: center;
}

.ThreadPageHeader-statusIcon {
	width: 1em;
	height: 1em;
	margin-left: var(--ThreadPageHeaderStatusIcon-marginLeft);
}

.ThreadPageHeader-activityIndicator {
	margin-left: var(--ThreadActivityIndicator-marginLeft);

	/* Use of `margin-top` resulted in shifting the text in `ThreadPageHeader` up a little bit. */
	/* Using `position: relative` instead works around that issue. */
	/*margin-top: var(--ThreadActivityIndicator-marginLeft);*/

	position: relative;
	top: var(--ThreadActivityIndicator-marginTop);

	/* `padding` is added on the indicator itself rather than
	   on some "wrapper" around it because this way its tooltip
	   activation area is larger. */
	/*padding: calc(var(--Document-lineHeight) * 1em);*/
	/* "Negative" `margin-right` would have caused the
	   "--hot" circles animation to be clipped at the right side,
	   because `.ThreadPageHeader` has `overflow: hidden`. */
	/* (removed the "pulse-green" animation from `.ThreadActivityIndicator--hot`) */
	/* "Negative" `margin-right` would have caused the
	   fire icon to be clipped at the right side,
	   because `.ThreadPageHeader` has `overflow: hidden`. */
	/*margin-right: calc(-1 * 0.45em);*/
}

.ThreadPageHeader-activityIndicator + .Toolbar {
	padding-left: 0.25em;
}

/*
.ThreadPageHeader-statusIconsAfterActivityIndicator {
	.ThreadPageHeader-statusIcon:first-child {
		margin-left: calc(var(--ThreadActivityIndicator-marginLeft));
	}
}
*/