@import "../../styles/common.css";

.Sidebar-provider {
	display: flex;
	align-items: center;
	margin-left: var(--unit);
	margin-right: var(--unit);
	margin-top: calc(3 * var(--unit));
	padding-left: calc(var(--SidebarMenuItem-icon-width) + var(--SidebarMenuItem-marginRight) + var(--SidebarMenuItem-icon-width));

	@mixin m-plus {
		display: none;
	}
}

.Sidebar-applicationMenu {
	display: flex;
	align-items: center;
}

.Sidebar-provider {
	/* These CSS variables value assignments are placed here
	   rather than in `.Sidebar-applicationMenu` because
	   they're also used in the left-side spacing of provider logo. */
	--SidebarMenuItem-icon-width: 1.1em;
	--SidebarMenuItem-marginRight: 0.6em;
}
