<!doctype html>
<html>
	<head>
		<script>
			// Set your config parameters here.
			// https://gitlab.com/catamphetamine/captchan#configuration
			var CONFIG = {}
		</script>
		<!-- Apply default configuration -->
		<script>
			var DEFAULT_CONFIG = <%= defaultConfiguration %>
			CONFIG = Object.assign({}, DEFAULT_CONFIG, CONFIG)
			var BASE_PATH = CONFIG.path || ''
			var VERSION = '<%= version %>'
		</script>
		<!-- Set the correct `configuration.path` if running a GitHub pages demo. -->
		<script>
			if (window.location.origin === 'https://catamphetamine.github.io') {
				BASE_PATH = CONFIG.path = '/captchan'
			}
		</script>
		<% if (productionBuild) { %>
		<script>
			(function () {
				var scriptTagAttributes = <%= JSON.stringify(htmlWebpackPlugin.tags.headTags.find(tag => tag.tagName === 'script').attributes) %>
				var styleLinkTagAttributes = <%= JSON.stringify(htmlWebpackPlugin.tags.headTags.find(tag => tag.tagName === 'link').attributes) %>
				scriptTagAttributes.src = BASE_PATH + scriptTagAttributes.src
				styleLinkTagAttributes.href = BASE_PATH + styleLinkTagAttributes.href
				// Add `<script/>` tag.
				var script = document.createElement('script')
				for (var attribute in scriptTagAttributes) {
					script.setAttribute(attribute, scriptTagAttributes[attribute])
				}
				document.head.appendChild(script)
				// Add `<link rel="stylesheet"/>` tag.
				var styleLink = document.createElement('link')
				for (var attribute in styleLinkTagAttributes) {
					styleLink.setAttribute(attribute, styleLinkTagAttributes[attribute])
				}
				document.head.appendChild(styleLink)
			})()
		</script>
		<% } %>
		<!-- Set `__webpack_public_path__` -->
		<script>
			// `__webpack_public_path__` is configured dynamically at runtime.
			// https://webpack.js.org/guides/public-path/#on-the-fly
			__webpack_public_path__ = BASE_PATH + '/'
		</script>
		<!-- Google Analytics -->
		<% if (googleAnalytics) { %>
		<script>
			if (CONFIG.googleAnalyticsId) {
				var script = document.createElement('script')
				script.setAttribute('async', '')
				script.src = 'https://www.googletagmanager.com/gtag/js?id=' + CONFIG.googleAnalyticsId
				document.head.appendChild(script)
				// Standard `gtag` initialization code.
				// https://developers.google.com/analytics/devguides/collection/gtagjs/
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
			}
		</script>
		<% } %>
		<script>
			var PROVIDER_ICON_URLS = <%= providerIconUrls %>
			var PROVIDER_TITLES = <%= providerTitles %>
			var ICON_URL = (CONFIG.provider && PROVIDER_ICON_URLS[CONFIG.provider]) || "<%= defaultIconUrl %>"
			var TITLE = (CONFIG.provider && PROVIDER_TITLES[CONFIG.provider]) || "<%= defaultTitle %>"
		</script>
		<title><%= defaultTitle %></title>
		<script>
			document.title = TITLE
		</script>
		<!-- Fixes 4chan.org "403 Forbidden" error when loading images. -->
		<meta name="referrer" content="no-referrer"/>
		<!-- UTF-8 setting is required to prevent weird character encoding. -->
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<!-- Fix document width for mobile devices. -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Roboto font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
		<!-- Application icon -->
		<!-- <link rel="shortcut icon" href="<%= defaultIconUrl %>"/> -->
		<script>
			(function() {
				var linkElement = document.createElement('link')
				linkElement.setAttribute('rel', 'shortcut icon')
				linkElement.setAttribute('href', ICON_URL)
				document.head.appendChild(linkElement)
				// document.querySelector('link[rel="shortcut icon"]').setAttribute('href', ICON_URL)
			})()
		</script>
	</head>
	<body>
	</body>
</html>