/* Global. */
:root {
	/* HeaderSeparator. */
	--HeaderSeparator-opacity--left: 1;
	--HeaderSeparator-opacity--right: 1;
}

/* Light mode. */
.light {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (purple). */
	--base-color-100: hsl(321, 100%, 93%);
	--base-color-200: hsl(321, 90%, 80%);
	--base-color-300: hsl(321, 81%, 72%);
	--base-color-400: hsl(321, 61%, 61%);
	--base-color-500: hsl(321, 38%, 61%);
	--base-color-600: hsl(321, 38%, 50%);
	--base-color-700: hsl(321, 52%, 41%);
	--base-color-800: hsl(321, 77%, 31%);
	--base-color-900: hsl(321, 100%, 20%);

	/* Document. */
	/* --Document-backgroundColor: #e8e8e8; */ /* #ece1f2; */

	/* BackButton. */
	/* Using transparent colors because the back button can be placed above post thumbnails at 1280x1024 screen resolution. */
	--BackButton-backgroundColor--hover: hsla(325, 52%, 55%, 0.04);
	--BackButton-borderColor--hover: hsla(325, 43%, 27%, 0.04);

	/* Header. */
	--Header-color: hsl(0, 0%, 100%);
	--Header-color--hover: var(--Header-color);
	--Header-color--active: var(--PressedStateButton-backgroundColor--active);
	--Header-backgroundColor: var(--base-color-500);
	--Header-backgroundColor--title: var(--Header-backgroundColor);
	--Header-backgroundColor--menu: var(--Header-backgroundColor--title);
	--Header-borderWidth: 0px;

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: rgba(255, 255, 255, 0.4);
	--HeaderSeparator-color--right: var(--HeaderSeparator-color--left);

	/* Menu. */
	--Menu-color--active: var(--Header-color--active);
	--Menu-color--selected: var(--Menu-color--active);

	/* NotificationBadge. */
	--NotificationBadge-backgroundColor: hsl(36, 100%, 45%);

	/* Notification. */
	--Notification-backgroundColor: var(--Header-backgroundColor--title);
	--Notification-borderWidth: 0px;
	--Notification-color: var(--Header-color);

	/* Clickable. */
	--Clickable-color--text: hsl(329, 95%, 35%);
	--Clickable-color--textActive: hsl(332, 89%, 44%);

	/* Content. */
	--Content-backgroundColor--active: hsl(338, 100%, 98%);

	/* Selection. */
	--Selection-backgroundColor: hsl(0, 100%, 95%);

	/* Critical. */
	/*--Critical-backgroundColor: #df1e00;*/

	/* Picture. */
	/*--Picture-borderColor--focus: #a976c3;*/

	/* Notification. */
	/* Border is no longer required because mobile footer is no longer shown. */
	/* Border is added because `var(--Notification-backgroundColor)`
	   is the same as the mobile `var(--Header-backgroundColor)`. */
	/*--Notification-borderWidth: 1px;*/
	/*--Notification-borderColor: var(--Content-backgroundColor);*/

	/* Sidebar. */
	/*--Sidebar-color-200: #d8bcea;*/
	/*--Sidebar-color-500: #ad93bd;*/
	/*--Sidebar-color-600: #9f86af;*/
	/*--Sidebar-color-900: #29420e;*/
	/* --Sidebar-backgroundColor: var(--Content-backgroundColor); */ /* #f1e9f6; */
	--Sidebar-baseColor-200: hsl(278, 58%, 73%);
	/* --Sidebar-highlightColor-100: #f7f2f9; */ /* var(--Document-backgroundColor); */
	/* --Sidebar-highlightColor-200: #f4eef9; */
	--Sidebar-highlightColor-100: var(--PostQuoteBlock-backgroundColor--generated);
	--Sidebar-highlightColor-200: hsl(20, 50%, 95%);

	/* Channels. */
	--Channels-borderColor--selected: var(--SidebarLink-borderColor--selected);

	/* ChannelUrl. */
	--ChannelUrl-slash-color--hover: var(--ChannelUrl-slash-color--selected);
	--ChannelUrl-slash-color--active: hsl(357, 48%, 83%);
	--ChannelUrl-slash-color--selected: hsl(357, 36%, 80%);

	/* Toolbar. */
	--Toolbar-color--active: hsl(321, 36%, 57%);
	--Toolbar-color--selected: var(--base-color-500);

	/* PressedStateButton. */
	--PressedStateButton-color--active: hsl(338, 78%, 40%);
	--PressedStateButton-color--pressed: var(--PostQuoteBlock-color--generated);
	--PressedStateButton-color--pressedActive: var(--PressedStateButton-color--active);
	--PressedStateButton-borderColor--active: var(--PressedStateButton-borderColor--pressedFocus);
	--PressedStateButton-borderColor--pressed: var(--SidebarLink-borderColor--selected);
	--PressedStateButton-borderColor--pressedFocus: hsl(0, 46%, 82%);
	--PressedStateButton-borderColor--pressedActive: var(--PressedStateButton-borderColor--pressedFocus); /* #e6abb0; */
	--PressedStateButton-backgroundColor--active: var(--PostQuoteBlock-backgroundColor--generated);

	/* PostQuoteBlock. */
	--PostQuoteBlock-color: hsl(122, 100%, 23%);
	--PostQuoteBlock-backgroundColor: hsl(98, 100%, 93%);
	--PostQuoteBlock-borderWidth: 1px;
	--PostQuoteBlock-borderColor: hsl(98, 53%, 84%);
	/*--PostQuoteBlock-marginTop: 4px;*/
	/*--PostQuoteBlock-marginBottom: 4px;*/

	/* PostQuoteBlock (generated). */
	/*--PostQuoteBlock-color--generated: #900000;*/
	/*--PostQuoteBlock-backgroundColor--generated: #faf8fb;*/
	--PostQuoteBlock-borderWidth--generated: 1px;
	/*--PostQuoteBlock-borderColor--generated: #ffd9f1;*/
	/*--PostQuoteBlock-marginTop--generated: 4px;*/
	/*--PostQuoteBlock-marginBottom--generated: 4px;*/
	--PostQuoteBlock-color--generated: hsl(332, 49%, 35%);
	--PostQuoteBlock-backgroundColor--generated: hsl(26, 33%, 96%);
	--PostQuoteBlock-borderColor--generated: hsl(353, 54%, 91%);

	/* PostQuoteBlockBorderLeft. */
	/*--PostQuoteBlockBorderLeft-color: currentColor;*/
	/*--PostQuoteBlockBorderLeft-opacity: 0.25;*/

	/* PostQuoteBlockBorderLeft (generated). */
	--PostQuoteBlockBorderLeft-color--generated: hsl(0, 34%, 79%);
	/*--PostQuoteBlockBorderLeft-opacity--generated: 1;*/

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color--contentActive: hsl(0, 35%, 93%);
	--PostInlineSpoiler-color--censoredContentActive: hsl(0, 48%, 92%);
}

/* Dark Mode. */
.dark {
	/* Document. */
	--Document-backgroundColor: hsl(239, 81%, 8%);

	/* BackButton. */
	/* Using transparent colors because the back button can be placed above post thumbnails at 1280x1024 screen resolution. */
	--BackButton-backgroundColor--hover: hsla(341, 74%, 42%, 0.08);
	--BackButton-borderColor--hover: hsla(359, 77%, 39%, 0.02); /* or: hsla(341, 77%, 39%, 0.02); */

	/* Content. */
	--Content-backgroundColor: hsl(239, 32%, 23%);
	--Content-backgroundColor--active: hsl(239, 32%, 24%);
	--Content-color-100: hsl(239, 27%, 26%);
	--Content-color-200: hsl(239, 24%, 35%);
	--Content-color-300: hsl(239, 24%, 44%);
	--Content-color-400: hsl(239, 24%, 52%);
	--Content-color-500: hsl(239, 28%, 58%);
	--Content-color-600: hsl(239, 21%, 61%);
	--Content-color-700: hsl(239, 22%, 67%);
	--Content-color-800: hsl(239, 25%, 73%);
	--Content-color-900: hsl(239, 25%, 77%);

	/* Header. */
	--Header-color: var(--gray-color-300);
	--Header-backgroundColor: hsl(239, 38%, 25%);
	--Header-backgroundColor--title: hsl(286, 54%, 21%);
	--Header-backgroundColor--menu: var(--Header-backgroundColor--title);

	/* HeaderSeparator. */
	--HeaderSeparator-color--left: transparent;

	/* Menu. */
	--Menu-color--active: var(--base-color-400);
	--Menu-color--selected: var(--Menu-color--active);

	/* Sidebar. */
	--Sidebar-color-500: hsl(239, 22%, 59%);
	--Sidebar-backgroundColor: var(--Content-backgroundColor);
	--Sidebar-highlightColor-100: hsl(239, 34%, 21%);
	--Sidebar-highlightColor-200: hsl(239, 35%, 19%);

	/* ChannelUrl. */
	--ChannelUrl-slash-color--active: hsl(35, 28%, 31%);

	/* PressedStateButton. */
	--PressedStateButton-backgroundColor: hsl(239, 38%, 28%);
	--PressedStateButton-backgroundColor--active: hsl(255, 38%, 37%);
	--PressedStateButton-backgroundColor--pressed: hsl(255, 39%, 36%);
	--PressedStateButton-backgroundColor--pressedActive: var(--PressedStateButton-backgroundColor--active);
	--PressedStateButton-color--pressed: var(--base-color-300);
	--PressedStateButton-color--pressedActive: var(--PressedStateButton-color--pressed);
	--PressedStateButton-borderColor: hsl(239, 35%, 35%);
	--PressedStateButton-borderColor--hover: hsl(105, 55%, 38%);
	--PressedStateButton-borderColor--active: var(--PressedStateButton-borderColor--hover);
	--PressedStateButton-borderColor--pressed: var(--PressedStateButton-backgroundColor--pressed);
	--PressedStateButton-borderColor--pressedFocus: var(--PressedStateButton-borderColor--active);

	/* PostQuoteBlock. */
	--PostQuoteBlock-color: hsl(105, 44%, 57%);

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: hsl(239, 29%, 31%);
	--PostInlineSpoiler-color--contentActive: hsl(239, 30%, 32%);
	--PostInlineSpoiler-color--censored: hsl(272, 26%, 27%);
	--PostInlineSpoiler-color--censoredContentActive: hsl(272, 28%, 27%);

	/* PostAttachment. */
	/*--PostAttachment-shadowColor--hover: hsla(239, 18%, 33%, 0.22);*/

	/* CommentSeparator. */
	--CommentSeparator-color: hsla(239, 100%, 89%, 0.225);
	--CommentSeparator-color--previouslyRead: hsla(239, 100%, 89%, 0.25);
	--CommentSeparator-color--channelPageLargeScreen: hsla(239, 100%, 89%, 0.17);
}