:root {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Orange" color. */
	--base-color-100 : #FFF4EC;
	--base-color-200 : #FFD0AF;
	--base-color-300 : #FFA061;
	--base-color-400 : #FF8732;
	--base-color-500: #ff9800;
	--base-color-600: #eb8c00;
	--base-color-700: #c76c00;
	--base-color-800: #BD7200;
	--base-color-900: #925800;
	/* Document. */
	--Document-color: var(--white-color);
	--Document-backgroundColor: #3a1400;
	/* Header. */
	--Header-color: var(--white-color);
	--Header-backgroundColor: #5f238c;
	--Header-backgroundColor--title: #732771;
	--Header-backgroundColor--menu: var(--Header-backgroundColor--title);
	--Header-borderWidth: 0;
	/* HeaderSeparator. */
	--HeaderSeparator-color--left: transparent;
	/* NotificationBadge. */
	--NotificationBadge-backgroundColor: #e88a00;
	/* Notification. */
	--Notification-backgroundColor: var(--Header-backgroundColor--title);
	--Notification-borderColor: #5b0063;
	--Notification-borderWidth: 3px;
	/* Picture. */
	--Picture-backgroundColor: var(--Content-color--50);
	/* Menu. */
	--Menu-color--active: var(--base-color-400);
	--Menu-color--selected: var(--base-color-400);
	/* Content. */
	--Content-backgroundColor: #f6ffe9;
	--Content-backgroundColor--active: hsl(80, 100%, 90%);
	--Content-color--300: #889476;
	--Content-color--200: #b6c5a1;
	--Content-color--100: #dbe7c9;
	--Content-color--50: #e2ecd5;
	/* Error. */
	--Error-backgroundColor: #df1e00;
	/* Sidebar. */
	--Sidebar-backgroundColor: #2d252d;
	--Sidebar-borderColor: rgba(0,0,0,0.125);
	/* Boards. */
	--Boards-backgroundColor--sidebarHover: #393039;
	--Boards-backgroundColor--sidebarActive: #3f313f;
	--Boards-backgroundColor--sidebarSelected: #201720;
	/* BoardsSlash. */
	--BoardsSlash-color: var(--Content-color--200);
	--BoardsSlash-color--sidebar: #665566;
	/* HoverButton. */
	--HoverButton-borderColor: #d0ecce;
	--HoverButton-borderColor--active: #d9a26d;
	--HoverButton-borderColor--pushed: #b6e5b3;
	--HoverButton-backgroundColor: #f1ffe4;
	--HoverButton-color--active: var(--white-color);
	--HoverButton-color--pushed: var(--PostQuote-color);
	--HoverButton-backgroundColor--active: var(--base-color-300);
	--HoverButton-backgroundColor--pushed: var(--PostQuote-backgroundColor);
	/* Post. */
	--Post-color--secondary: var(--gray-color-700);
	--Post-color--secondaryThread: var(--gray-color-600);
	--Post-borderColor: #855f50;
	/* PostQuote. */
	--PostQuote-backgroundColor: #dfffcb;
	--PostQuote-backgroundColor--hover: #d3ffb9;
	--PostQuote-borderColor--hover: transparent;
	--PostQuote-color: #288700;
	/* PostQuoteMarker. */
	--PostQuoteMarker-padding: 0px;
	--PostQuoteMarker-opacity: 0;
	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: #e3ecc7;
	--PostInlineSpoiler-color--postActive: #d7eaba;
	--PostInlineSpoiler-color--censored: #ffe0ce;
	--PostInlineSpoiler-color--censoredPostActive: #fad9b1;
}